<article class="card shadow-sm h-100">
    <div class="card-body">
        <h2 class="card-title h5 mb-3">
            {% if not scenario.public %}
                <i class="fas fa-lock" data-bs-toggle="tooltip" title="Privé (visible uniquement par les administrateurs et éditeurs)"></i>
            {% endif %}
            <a href="{{ path('app_scenario_show', {slug: scenario.slug}) }}" class="text-decoration-none">
                {{ scenario.title }}
            </a>
        </h2>
        <p class="card-text">{{ scenario.pitch|nl2br }}</p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between align-items-center">
        <span>
            <i class="fas fa-calendar-alt me-1"></i>
            Le {{ scenario.createdAt|date(date_format) }}
        </span>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
            <a href="{{ path('admin_app_scenario_show', {id: scenario.id}) }}" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" title="Gérer">
                <i class="fas fa-cogs" ></i>
            </a>
        {% endif %}
    </div>
</article>