{% extends 'base.html.twig' %}

{% block title %}{{ scenario.title }} | {{ app_name }}{% endblock %}

{% block body %}
	<header class="bg-default-light border-bottom">
		<div class="pt-3 border-bottom container-fluid">
			<div class="row align-items-center">
				<div class="col-md-6">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="{{ path('app_home') }}">Accueil</a>
							</li>
							<li class="breadcrumb-item">
								<a href="{{ path('app_scenario_index') }}">Scénarios</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">{{ scenario.title }}</li>
						</ol>
					</nav>
				</div>
				<div class="col-md-6">{{ include('includes/_search.html.twig', { route_name: 'app_scenario_index' }) }}</div>
			</div>
		</div>
		<div class="item-heading position-relative">
			<div class="p-2 position-absolute top-0" style="right:0px">
				<a class="btn btn-sm btn-outline-secondary" 
					data-bs-toggle="tooltip" title="Aperçu avant impression"
					href="{{ path('app_print_scenario', {slug: scenario.slug}) }}" target="_blank">
					<i class="fas fa-print"></i>
				</a>
				<a class="btn btn-sm btn-outline-secondary" 
					data-bs-toggle="tooltip" title="Télécharger le fichier word"
					href="{{ path('app_scenario_word', {slug: scenario.slug}) }}" target="_blank">
					<i class="fas fa-file-word"></i>
				</a>
				{% if is_granted('ROLE_EDITOR') %}
					<a href="{{ path('admin_app_scenario_edit', {id: scenario.id}) }}" class="btn btn-outline-secondary btn-sm" title="éditer">
						<i class="fas fa-edit"></i>
					</a>
					<a href="{{ path('admin_app_scenario_episode', {id: scenario.id}) }}" class="btn btn-outline-secondary btn-sm" title="gérer les épisodes">
						<i class="fas fa-copy"></i>
					</a>
				{% endif %}
			</div>
			<p class="pt-4 pt-lg-0">
				{% for portal in scenario.portals %}
					<a href="{{ path('app_portal_show', {slug: portal.slug}) }}" class="mb-1 d-block d-md-inline-block text-decoration-none">
						<span class="label mx-1"> <i class="fas fa-tag me-1"></i> {{ portal }}</span>
					</a>
				{% endfor %}
			</p>

			<h2 class="h1">
				<i class="fas fa-book me-1"></i>
				{{ scenario }}
				<span class="float-end">
					{% if not scenario.public %}
                        <i class="fas fa-lock" data-bs-toggle="tooltip" title="Privé (visible uniquement par les administrateurs et éditeurs)"></i>
                    {% endif %}
					{% if scenario.archived %}
                        <i class="fas fa-archive" data-bs-toggle="tooltip" title="Archivé"></i>
                    {% endif %}
				</span>
			</h2>
			{% for category in scenario.categories %}
				<span class="badge rounded-pill bg-secondary link-light me-1">
					{{ category.title }}
				</span>
			{% endfor %}
			<p class="lead mb-2 mt-3">{{ scenario.pitch|nl2br }}</p>
		</div>
	</header>
    <section class="my-4 px-4 container-fluid">
		<div class="text-end">
			{% if scenario.timelines|length > 0 %}
				<p>
					<span class="fw-bold">Chronologies</span> |
					{% for timeline in scenario.timelines|sort((a, b) => a.position <=> b.position) %}
						<a href="{{ path('app_timeline_show', {slug: timeline.slug}) }}">{{ timeline }}</a>
						{% if not loop.last %}
							|
						{% endif %}
					{% endfor %}
				</p>
			{% endif %}
		</div>
        <div class="article-content">
            {{ scenario.description|raw }}
        </div>

		{% if scenario.imageGroup %}
			<div class="accordion mb-1" id="accordionFlushExample">
				<div class="accordion-item">
					<h3 class="accordion-header">
						<button class="accordion-button collapsed bg-light fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
							Illustrations
						</button>
					</h3>
					<div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">
							<h4 class="h5">
								<a href="{{ path('app_image_group_show', {slug: scenario.imageGroup.slug}) }}" class="text-decoration-none">
									<i class="fas fa-images"></i>
									{{ scenario.imageGroup }}
								</a>
							</h4>
							{% include "image/components/_not_paginated_list.html.twig" with {images: scenario.imageGroup.images} only %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% if scenario.persons|length > 0 %}
			<div class="accordion mb-1" id="accordionPersonExample">
				<div class="accordion-item">
					<h3 class="accordion-header">
						<button class="accordion-button collapsed bg-light fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePerson" aria-expanded="false" aria-controls="flush-collapsePerson">
							Personnages
						</button>
					</h3>
					<div id="flush-collapsePerson" class="accordion-collapse collapse" data-bs-parent="#accordionPersonExample">
						<div class="accordion-body">
							<div class="row g-2">
								{% for person in scenario.persons %}
									<div class="col-md-4">
										{% include "person/_person_card.html.twig" with {with_association: false, disable_type: false} %}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% if scenario.places|length > 0 %}
			<div class="accordion mb-1" id="accordionPlacesExample">
				<div class="accordion-item">
					<h3 class="accordion-header">
						<button class="accordion-button collapsed bg-light fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePlaces" aria-expanded="false" aria-controls="flush-collapsePlaces">
							Lieux
						</button>
					</h3>
					<div id="flush-collapsePlaces" class="accordion-collapse collapse" data-bs-parent="#accordionPlacesExample">
						<div class="accordion-body">
							<div class="row g-2">
								{% for place in scenario.places %}
									<div class="col-md-4">
										{% include "place/_place_card.html.twig" with {with_association: false} %}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
        
        {% if scenario.episodes|length > 0 %}
            <div class="m-4" data-controller="toggle">
				<div class="category-section" style="max-width:300px">
					<div>
						<span title="afficher ou cacher" role="button" data-action="click->toggle#toggle" data-toggle-target="action" class="float-end">
							<i class="fas fa-chevron-down"></i>
						</span>
						<h2 class="h6">Sommaire</h2>
					</div>
					<ol class="mb-0" data-toggle-target="content">
                        {% for episode in scenario.episodes %}
							{% if episode.archived != true %}
								<li class="fs-6">
									<a href="#episode{{ episode.id }}" class="text-dark">{{ episode.title }}</a>
								</li>
							{% endif %}
                        {% endfor %}
					</ol>
				</div>
			</div>
        {% endif %}

        {% for episode in scenario.episodes %}
			{% if episode.archived != true %}
				<div id="episode{{ episode.id }}" class="article-content">
					<div class="border-bottom pb-1">
						<h2 class="h2 pb-0 mb-0 position-relative section-title">
							{{ episode.title }}
							<a href="#"><i class="fas fa-arrow-up" aria-hidden="true"></i><span class="visually-hidden">Retourner en haut</span></a>
						
							{% if is_granted('ROLE_EDITOR') %}
								<span class="position-absolute top-0 end-0 edit-actions">
									<a href="{{ path('admin_app_episode_edit', {id: episode.id}) }}" class="text-success text-decoration-none" data-bs-toggle="tooltip" title="éditer">
										<i class="fas fa-edit"></i>
									</a>
								</span>
							{% endif %}
						</h2>
					</div>
					{% if episode.persons|length > 0 %}
						<div>
							<span class="fw-bold">Personnages associés :</span>
							<ul>
								{% for person in episode.persons %}
									<li>
										<a href="{{ path('app_person_show', {slug: person.slug}) }}">{{ person }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% if episode.places|length > 0 %}
						<div>
							<span class="fw-bold">Lieux associés :</span>
							<ul>
								{% for place in episode.places %}
									<li>
										<a href="{{ path('app_place_show', {slug: place.slug}) }}">{{ place }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}

					{% if episode.content %}
						<p>{{ episode.content|raw }}</p>
					{% else %}
						<p class="fst-italic">Aucun contenu</p>
					{% endif %}
				</div>
			{% endif %}
        {% endfor %}
		
		{{ include('includes/_block_info.html.twig', {entity: scenario}) }}
    </section>
{% endblock %}