{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des images{% endblock %}

{% block activeImage %} active show {% endblock %}
{% block activeImageList %}active{% endblock %}

{% block page_title %}Image{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Images
    </li>
{% endblock %}

{% block toolbar %}
    <a class="btn btn-default btn-sm" href="{{ path('admin_app_image_download') }}">
        <i class="fas fa-download" aria-hidden="true"></i>Télécharger
    </a>
    <a href="{{ path('admin_app_image_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-body p-1">
            <table class="table data-table mb-0 table-striped">
                <thead>
                    <tr>
                        <th class="table-id">Fichier</th>
                        <th>Titre</th>
                        <th>Mots clés</th>
                        <th>Mise à jour</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in images %}
                        <tr>
                            <td data-label="Id" class="text-center">
                                <a href="{{ vich_uploader_asset(image) }}" data-fslightbox>
                                    <img src="{{ vich_uploader_asset(image)|imagine_filter('icon_image') }}" alt="{{ image.title }}">
                                </a>
                            </td>
                            <td data-label="Titre">
                                {{ image.title }}
                            </td>
                            <td data-label="Mots clés">{{ image.keywords }}</td>
                            <td data-label="Mise à jour" data-sort="{{ image.updatedAt ? image.updatedAt|date('Y-m-d H:i') : '' }}">
                                {{ image.updatedAt ? image.updatedAt|date(date_format) : '' }}
                            </td>
                            <td data-label="Actions">
                                <div class="btn-group">
                                    <a href="{{ path('app_image_show', {slug: image.slug}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Consulter">
                                        <i class="fas fa-book-reader"></i>
                                    </a>                   
                                    <a href="{{ path('admin_app_image_show', {id: image.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Afficher">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a href="{{ path('admin_app_image_edit', {id: image.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    {% include "Admin/components/_delete_modal.html.twig" with { element: image, path: 'admin_app_image_delete' } %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

