{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ image }}"{% endblock %}

{% block activeImage %}active show{% endblock %}
{% block activeImageList %}active{% endblock %}

{% block page_title %}Afficher "{{ image }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_image_list') }}" class="text-reset">
			Images
		</a>
	</li>
	<li class="breadcrumb-item active">
		Voir
	</li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'image', entity: image, show_route: 'app_image_show' } %}
{% endblock %}

{% block body %}
    <div class="row g-2">
        <div class="col-md-8">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">{{ image }}</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Titre</th>
                                <td>
                                    <a href="{{ path('app_image_show', {slug: image.slug}) }}">
                                        {{ image.title }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Slug</th>
                                <td>{{ image.slug }}</td>
                            </tr>
                            <tr>
                                <th>Mots clés</th>
                                <td>{{ image.keywords }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ image.description|nl2br }}</td>
                            </tr>
                            <tr>
                                <th>Types</th>
                                <td>
                                    {% if image.tags is not empty %}
                                        <ul class="mb-0">
                                            {% for tag in image.tags %}
                                                <li><a href="{{ path('app_image_type', {slug: tag.slug}) }}">{{ tag }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Catégories</th>
                                <td>
                                    {% if image.categories is not empty %}
                                        <ul class="mb-0">
                                            {% for category in image.categories %}
                                                <li><a href="{{ path('app_category_show', {slug: category.slug}) }}">{{ category }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Portails</th>
                                <td>
                                    {% if image.portals is not empty %}
                                        <ul class="mb-0">
                                            {% for portal in image.portals %}
                                                <li><a href="{{ path('app_portal_show', {slug: portal.slug}) }}">{{ portal }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Cartes</th>
                                <td>
                                    <div class="float-end">
                                        <a href="{{ path('admin_app_map_create', {image:image.id}) }}" class="btn btn-default btn-sm" title="créer une carte à partir">
                                            <i class="fas fa-map"></i>
                                        </a>
                                    </div>
                                    {% if image.maps is not empty %}
                                        <ul class="mb-0">
                                            {% for map in image.map %}
                                                <li><a href="{{ path('admin_app_map_show', {id: map.id}) }}">{{ map }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <span class="fst-italic">Aucune carte</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Mise à jour</th>
                                <td>{{ image.updatedAt ? image.updatedAt|date(date_format) : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">Fichier</h2>
                </div>
                <div class="card-body card-show">
                    <a href="{{ vich_uploader_asset(image) }}" data-fslightbox>
                        <img src="{{ vich_uploader_asset(image)|imagine_filter('medium_image') }}" class="img-fluid" alt="{{ image.title }}">
                    </a>
                </div>
            </div>
        </div>
    </div>

	
{% endblock %}
