{{ form_start(form) }}
    <div class="row">
        <div class="col-md-8 mb-2">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Informations</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    <p class="small text-muted mb-0">Laisser le champ mot de passe vide pour ne pas modifier le mot de passe.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Statut</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.roles) }}
                    {{ form_row(form.isVerified) }}
                </div>
            </div>
        </div>
    </div>
    <div class="card-btn mt-3">
        <button class="btn btn-success btn-sm" type="submit" name="btn_save_and_edit">
            <i class="fas fa-save" aria-hidden="true"></i>
            Enregistrer
        </button>
        <button type="submit" class="btn btn-success btn-sm" name="btn_save_and_list">
            <i class="fas fa-save"></i>
            <i class="fas fa-list" aria-hidden="true"></i>
            Enregistrer et retourner à la liste
        </button>
        <button class="btn btn-success btn-sm" type="submit" name="btn_save_and_create">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
            Enregistrer et ajouter
        </button>
        {{ form_rest(form) }}
    </div>
{{ form_end(form) }}
