{% block stylesheets %}
    <style>
        .choices {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{{ form_start(form) }}
    <div class="row">
        <div class="col-md-7 mb-2">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Informations</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.rank) }}
                    {{ form_row(form.localisation) }}
                    {{ form_row(form.plainPassword) }}
                    <p class="small text-muted mb-0">Laisser le champ mot de passe vide pour ne pas modifier le mot de passe.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Avatar</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.imageFile) }}
                </div>
            </div>
            <div class="card border-top-primary mt-2">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Statut</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.roles) }}
                    {{ form_row(form.isVerified) }}
                </div>
            </div>
        </div>
    </div>
    <div class="card-btn mt-3">
        {% include "Admin/components/_form_btns.html.twig" %}
        {{ form_rest(form) }}
    </div>
{{ form_end(form) }}
