{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}
{% block activeAdmin %}active show{% endblock %}
{% block activeUser %} active {% endblock %}
{% block page_title %}Utilisateur{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Utilisateurs
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_user_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-header">
            {{ form_start(form) }}
                <div class="row align-items-center gy-1">
                    <div class="col-md-1">
                        {{ form_label(form.roles) }}
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(form.roles) }}
                        {{ form_errors(form) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_rest(form) }}
                        <button class="btn btn-primary p-2 w-100 h-100" type="submit">Filtrer</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="card-body p-1">
            <table class="table data-table mb-0 table-striped">
                <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Email</th>
                        <th>Rôles</th>
                        <th class="table-id">Confirmé</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td data-label="Pseudo">
                                {{ user.username }}
                            </td>
                            <td data-label="Email" class="text-break">{{ user.email}}</td>
                            <td data-label="Roles">
                                {{ format_roles(user.roles) }}
                            </td>
                            <td data-label="Confirmé">
                                {% if user.isVerified %}
                                    <div class="badge rounded-pill bg-success">
                                        Oui
                                    </div>
                                {% else %}
                                    <div class="badge rounded-pill bg-danger">
                                        Non
                                    </div>
                                {% endif %}
                            </td>
                            <td data-label="Actions">
                                <div class="btn-group">            
                                    <a href="{{ path('admin_app_user_show', {id: user.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Afficher">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    {% if 'ROLE_SUPER_ADMIN' not in user.roles %}
                                        <a href="{{ path('admin_app_user_edit', {id: user.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                        </a>
                                    {% elseif 'ROLE_SUPER_ADMIN' in user.roles and is_granted('ROLE_SUPER_ADMIN') %}
                                        <a href="{{ path('admin_app_user_edit', {id: user.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                    {% if enable_forum == 1 %}
                                        <a href="{{ path('admin_app_user_group', {id: user.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Groupes">
                                            <i class="fas fa-user-tag" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                    {% if 'ROLE_ADMIN' not in user.roles and 'ROLE_SUPER_ADMIN' not in user.roles %}
                                        {% include "Admin/components/_delete_modal.html.twig" with { element: user, path: 'admin_app_user_delete' } %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
