{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ user }}"{% endblock %}
{% block activeAdmin %}active show{% endblock %}
{% block activeUser %} active {% endblock %}
{% block page_title %}Afficher "{{ user }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_user_list') }}" class="text-reset">
			Utilisateurs
		</a>
	</li>
	<li class="breadcrumb-item active">
		Voir
	</li>
{% endblock %}

{% block toolbar %}
	{% include "Admin/user/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-7">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">Informations</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Nom d'utilisateur</th>
                                <td>
                                    {{ user.username }}
                                </td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Création</th>
                                <td>{{ user.createdAt|date(date_format) }}</td>
                            </tr>
                            <tr>
                                <th>Rang</th>
                                <td>{{ user.rank }}</td>
                            </tr>
                            <tr>
                                <th>Localisation</th>
                                <td>{{ user.localisation }}</td>
                            </tr>
                            <tr>
                                <th>Avatar</th>
                                <td>
                                    {% if user.avatar is not null %}
                                        <img src="{{ vich_uploader_asset(user) }}" class="img-fluid rounded-3" alt=" avatar de {{ user.username }}">
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">Statut</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Rôles</th>
                                <td>{{ format_roles(user.roles) }}</td>
                            </tr>
                            <tr>
                                <th>Confirmé</th>
                                <td>
                                    {% if user.isVerified %}
                                        <div class="badge rounded-pill bg-success">
                                            Oui
                                        </div>
                                    {% else %}
                                        <div class="badge rounded-pill bg-danger">
                                            Non
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
