{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ user }}"{% endblock %}
{% block activeAdmin %}active show{% endblock %}
{% block activeUser %} active {% endblock %}
{% block page_title %}Afficher "{{ user }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_user_list') }}" class="text-reset">
			Utilisateur
		</a>
	</li>
	<li class="breadcrumb-item active">
		Voir
	</li>
{% endblock %}

{% block toolbar %}
	<div class="dropdown">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Action
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" href="{{ path('admin_app_user_create') }}">
                    <i class="fas fa-plus-circle" aria-hidden="true"></i>
                    Ajouter
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ path('admin_app_user_edit', {id: user.id}) }}">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                    Editer
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ path('admin_app_user_list') }}">
                    <i class="fas fa-list" aria-hidden="true"></i>
                    Retour à la liste
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-7">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">Informations</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Nom d'utilisateur</th>
                                <td>
                                    {{ user.username }}
                                </td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Création</th>
                                <td>{{ user.createdAt|date(date_format) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">Statut</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Rôles</th>
                                <td>{{ format_roles(user.roles) }}</td>
                            </tr>
                            <tr>
                                <th>Confirmé</th>
                                <td>
                                    {% if user.isVerified %}
                                        <div class="badge rounded-pill bg-success">
                                            Oui
                                        </div>
                                    {% else %}
                                        <div class="badge rounded-pill bg-danger">
                                            Non
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
