{% extends 'admin_layout.html.twig' %}

{% block title %}Créer un type d'article{% endblock %}

{% block activeWiki %}
	active show
{% endblock %}

{% block activeArticleType %}active {% endblock %}

{% block page_title %}Créer un type d'article{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_articletype_list') }}" class="text-reset">
			Types d'article
		</a>
	</li>
	<li class="breadcrumb-item active">
		Création
	</li>
{% endblock %}

{% block toolbar %}
	<a href="{{ path('admin_app_articletype_list') }}" class="btn btn-default btn-sm">
		<i class="fas fa-long-arrow-left"></i>
		Retour
	</a>
{% endblock %}

{% block body %}
	<div class="card border-top-primary">
        {{ form_start(form) }}
            <div class="card-header">
                <h2 class="card-title h5 mb-0">Type d'article</h2>
            </div>
            <div class="card-body">
                {{ form_row(form.title) }}
                <div class="mb-3">
                    {{ form_label(form.slug) }}
                    <div class="input-group">
                        {{ form_widget(form.slug) }}
                        <span 
                            class="input-group-text" 
                            data-action="slugify" 
                            data-target="#article_type_form_slug" 
                            role="btton" 
                            data-source="#article_type_form_title"
                            title="Générer">
                            <i class="fas fa-sync-alt"></i>
                        </span>
                    </div>
                    {{ form_help(form.slug) }}
                    {{ form_errors(form.slug) }}
                </div>
                {{ form_row(form.description) }}
                {{ form_row(form.icon) }}
            </div>
            <div class="card-footer">
                <button class="btn btn-success btn-sm" type="submit" name="btn_create_and_edit">
                    <i class="fas fa-save" aria-hidden="true"></i>
                    Créer
                </button>
                <button type="submit" class="btn btn-success btn-sm" name="btn_create_and_list">
                    <i class="fas fa-save"></i>
                    <i class="fas fa-list" aria-hidden="true"></i>
                    Créer et retourner à la liste
                </button>
                <button class="btn btn-success btn-sm" type="submit" name="btn_create_and_create">
                    <i class="fas fa-plus-circle" aria-hidden="true"></i>
                    Créer et ajouter
                </button>
                {{ form_rest(form) }}
            </div>
        {{ form_end(form) }}
	</div>
{% endblock %}
