{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des types d'article{% endblock %}

{% block activeWiki %} active show {% endblock %}
{% block activeArticleType %}active{% endblock %}

{% block page_title %}Types d'article{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Types d'article
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_articletype_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-body card-show">
            <table class="table data-table mb-0 table-striped">
                <thead>
                    <tr>
                        <th class="table-id">Id</th>
                        <th>Titre</th>
                        <th>Slug</th>
                        <th>Icône</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for articleType in articleTypes %}
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">{{articleType.id }}</a>
                            </td>
                            <td>{{articleType.title }}</td>
                            <td>{{articleType.slug }}</td>
                            <td><i class="{{ articleType.icon }}" title="{{ articleType.icon }}"></i></td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path('app_articletype_show', {slug: articleType.slug}) }}" class="btn btn-sm btn-default" title="Consulter">
                                        <i class="fas fa-book-reader"></i>
                                    </a>                    
                                    <a href="{{ path('admin_app_articletype_show', {id: articleType.id}) }}" class="btn btn-sm btn-default" title="Afficher">
                                        <i class="fas fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a href="{{ path('admin_app_articletype_edit', {id: articleType.id}) }}" class="btn btn-sm btn-default" title="Éditer">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    {% include "Admin/components/_delete_modal.html.twig" with { element: articleType, path: 'admin_app_articletype_delete' } %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

