{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ articleType }}"{% endblock %}

{% block activeWiki %}
	active show
{% endblock %}

{% block activeArticleType %}active {% endblock %}

{% block page_title %}Afficher "{{ articleType }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_articletype_list') }}" class="text-reset">
			Types d'article
		</a>
	</li>
	<li class="breadcrumb-item active">
		Voir
	</li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'articletype', entity: articleType, show_route: 'app_articletype_show' } %}
{% endblock %}

{% block body %}
	<div class="card border-top-primary">
        <div class="card-header bg-white">
            <h2 class="card-title h5 mb-0">{{ articleType }}</h2>
        </div>
        <div class="card-body card-show">
            <table class="table table-striped mb-0">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ articleType.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ articleType.title }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ articleType.slug }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ articleType.description|nl2br }}</td>
                    </tr>
                    <tr>
                        <th>Icône</th>
                        <td><i class="{{ articleType.icon }}" data-bs-toggle="tooltip" title="{{ articleType.icon }}"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
{% endblock %}
