<p>
    En accédant à « {{ app_name }} » (désigné ci-après par « nous », « notre », « nos », « {{ app_name }} »), vous acceptez d’être
    légalement responsable des conditions suivantes. Si vous n’acceptez pas d’être légalement responsable de toutes les conditions
    suivantes, veuillez ne pas utiliser et accéder à « {{ app_name }} ». Nous pouvons modifier ces conditions à n’importe quel moment et
    nous essaierons de vous informer de ces modifications, bien que nous vous conseillons de vérifier régulièrement par vous-même. En
    effet, si vous continuez à participer à « {{ app_name }} » après que des modifications aient été effectuées, vous acceptez d’être
    légalement responsable des conditions modifiées et mises à jour.
</p>

<section>
    <h3 class="h5">Dispositions générales</h3>
    <p>
        {{ app_name }} est un logiciel de gestion à destination des auteurs et concepteurs de jeux de rôle, leur permettant de réaliser
        une encyclopédie, des fiches personnages et lieux, des chronologies et de proposer une galerie d'images. Il offre la possibilité de
        laisser des commentaires et permet un travail collaboratif. Il est sous licence MIT.
    </p>
</section>

<section>
    <h3 class="h5">Responsabilité de l’utilisateur</h3>
    <p>
        Vous êtes responsable des risques liés à l’utilisation de votre identifiant de connexion et de votre mot de passe.
        Le mot de passe de l’utilisateur doit rester secret. En cas de divulgation de mot de passe, {{ app_name }} décline toute responsabilité.
        L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur le site 
        {{ app_name }}.
    </p>
    <p>
        Vous acceptez de ne publier aucun contenu à caractère abusif, obscène, vulgaire, diffamatoire, choquant, menaçant, pornographique, etc.
        qui pourrait transgresser la législation de votre pays, du pays dans lequel le serveur de « {{ app_name }} » est hébergé ou encore la 
        loi internationale. Si vous ne respectez pas ces dispositions, vous vous exposez à la suppression du contenu et une suppression de 
        votre compte par les administrateurs, sans obligation de justification. Vous acceptez le fait que les administrateurs de 
        « {{ app_name }} » aient le droit de supprimer ou de modifier vos messages.
    </p>
</section>

<section>
    <h3 class="h5">Liens hypertextes</h3>
    <p>
        Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité des administrateurs
        de « {{ app_name }} », qui n’a pas de contrôle sur ces liens. Il est possible pour un tiers de créer un lien vers une page du 
        site « {{ app_name }} »  sans autorisation expresse des administrateurs.
    </p>
</section>

<section>
    <h3 class="h5">Données personnelles</h3>
    <p>Vous devez obligatoirement fournir des informations personnelles pour procéder à votre inscription sur le site.</p>
    <p>
        En tant qu’utilisateur, vous acceptez que toutes les informations que vous avez renseignées soient enregistrées dans notre 
        base de données.  Bien que ces informations ne seront pas diffusées à une tierce partie sans votre consentement, « {{ app_name }} » 
        ne pourra être tenu comme responsable en cas de tentative de piratage informatique visant à compromettre vos données.
    </p>
    <p>
        L’adresse électronique (e-mail) pourra notamment être utilisée par « {{ app_name }} » pour la communication d’informations diverses 
        et la gestion du compte.
    </p>
    <p>
        « {{ app_name }} » garantie le respect de la vie privée, conformément à la loi n°78-17 du 6 janvier 1978 relative 
        à l'informatique, aux fichiers et aux libertés. En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, vous disposez 
        d'un droit d'accès, de rectification, de suppression et d'opposition de vos données personnelles, via votre profil.
    </p>
</section>

<section>
    <h3 class="h5">Évolution des conditions générales d’utilisation</h3>
    <p>
        Le site « {{ app_name }} » se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment 
        et sans justification.
    </p>
</section>