{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ app_name }}{% endblock %}

{% block body %}
	<article class="mt-5">
		<div class="row justify-content-between m-0">
			<div class="col-lg-7 ps-0">
				<div class="overview">
					<h2 class="overview__title">Présentation générale</h2>
					<div class="overview__content">
						{% if overview is null %}
							Renseignez une présentation de l'encyclopédie
						{% else %}
							{{ overview.content|raw }}
						{% endif %}
					</div>
					<aside class="overview__content mt-4 fs-6">
						{{ get_statistics() }}
					</aside>
				</div>
			</div>
			<div class="col-lg-4 p-0">
				<aside class="mt-0 random-card">
					<div class="h1 text-default">
						<i class="fas fa-random" data-bs-toggle="tooltip" title="Un article au hasard"></i>
					</div>
					<h2 class="text-default fw-bold h4">{{ article.title is defined ? article.title : 'Aucun article' }}</h2>
					<p class="text-justify">
						{% if article.content is defined %}
							{{ article.content|striptags|raw|u.truncate(250, ' [...]', false)|raw }}</p>	
							<p class="text-end mb-0">
								<a href="{{ path('app_article_show', {slug: article.slug}) }}" class="btn btn-sm btn-default">
									Voir plus <i class="ms-1 fas fa-external-link-alt" aria-hidden="true"></i>
								</a>
							</p>				
						{% else %}
							<p>Pour activer la fonctionnalité d'un article aléatoire, veuillez créer des articles publics.</p>
						{% endif %}
					
				</aside>
			</div>
		</div>
	</article>

	{% if menu_items is not empty %}
		<hr class="m-5">
		<article class="my-5 px-5">
			<h2 class="mb-5">Explorer {{ app_name }}</h2>
			<div class="row">
				{% for menu_item in menu_items %}
					<div class="col-md-4 mb-3">
						<div class="card shadow-sm position-relative">
							<div class="card-header">
								<h3 class="card-title h5 mb-0">
									<a href="{{ menu_item.link }}" class="text-decoration-none stretched-link">
										<i class="{{ menu_item.icon }} me-1"></i>
										{{ menu_item.title }}
									</a>
								</h3>
							</div>
							<div class="card-body">
								<p class="card-text">{{ menu_item.description|nl2br }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</article>
	{% endif %}
{% endblock %}
