{% extends 'base.html.twig' %}

{% block title %}Accueil |
	{{ app_name }}
{% endblock %}

{% block body %}
	{{ include('home/_header.html.twig') }}
	<article class="mt-5">
		<aside class="text-center">
			{{ get_statistics() }}
		</aside>

		<div class="row justify-content-between">
			<div class="col-md-7">
				<section class="overview">
					<h2 class="overview__title">Présentation générale</h2>
					<div class="overview__content">
						{% if overview is null %}
							Renseignez une présentation de l'encyclopédie
						{% else %}
							{{ overview.content|raw }}
						{% endif %}
					</div>
				</section>
			</div>
			<div class="col-md-4">
				<aside class="category-section">
					<h2 class="h4">Catégories</h2>
					<ul class="list-unstyled">
						{% for category in categories %}
							<li>
								<a href="{{ path('app_category_show', {slug: category.slug}) }}" class="text-decoration-none">
									<i class="bi bi-folder-fill me-1"></i>
									{{ category.title }}
								</a>
							</li>
						{% else %}
							<li>Aucune catégorie</li>
						{% endfor %}
					</ul>
				</aside>
			</div>
		</div>
	</article>
	<hr class="m-5">
	<article class="my-5 px-5">
		<h2 class="mb-5">Explorer {{ app_name }}</h2>
		<div class="row">
			<div class="col-md-4 mb-3">
				<div class="card shadow-sm">
					<div class="card-header">
						<h3 class="card-title h5 mb-0">
							<a href="{{ path('app_category_index') }}" class="text-decoration-none">
								<i class="bi bi-folder-fill me-1"></i>
								Consulter l'encyclopédie
							</a>
						</h3>
					</div>
					<div class="card-body">
						<p class="card-text">Explorer les articles, les catégories et les portails de {{ app_name }}.</p>
						<a href="{{ path('app_portal_index') }}" class="text-decoration-none card-link">
							Portails
							<i class="bi bi-box-arrow-up-right"></i>
						</a>
						<a href="{{ path('app_article_index') }}" class="text-decoration-none card-link">
							Articles
							<i class="bi bi-box-arrow-up-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<div class="card shadow-sm">
					<div class="card-header">
						<h3 class="card-title h5 mb-0">
							<a href="{{ path('app_person_index') }}" class="text-decoration-none">
								<i class="bi bi-person-fill me-1"></i>
								Consulter les personnages
							</a>
						</h3>
					</div>
					<div class="card-body">
						<p class="card-text">Explorer les différents personnages renseignés dans {{ app_name }}.</p>
						<a href="{{ path('app_person_index') }}" class="card-link text-decoration-none">
							Personnages
							<i class="bi bi-box-arrow-up-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<div class="card shadow-sm">
					<div class="card-header">
						<h3 class="card-title h5 mb-0">
							<a href="{{ path('app_person_index') }}" class="text-decoration-none">
								<i class="bi bi-hourglass me-1"></i>
								Consulter les chronologies
							</a>
						</h3>
					</div>
					<div class="card-body">
						<p class="card-text">Explorer les événement marquants, organisés en chronologies.</p>
						<a href="{{ path('app_timeline_index') }}" class="card-link text-decoration-none">
							Chronologies
							<i class="bi bi-box-arrow-up-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<div class="card shadow-sm">
					<div class="card-header">
						<h3 class="card-title h5 mb-0">
							<a href="{{ path('app_place_index') }}" class="text-decoration-none">
								<i class="bi bi-image me-1"></i>
								Consulter les lieux
							</a>
						</h3>
					</div>
					<div class="card-body">
						<p class="card-text">Explorer les lieux de {{ app_name }}, organisées en portails et catégories.</p>
						<a href="{{ path('app_place_index') }}" class="text-decoration-none card-link">
							Lieux
							<i class="bi bi-box-arrow-up-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<div class="card shadow-sm">
					<div class="card-header">
						<h3 class="card-title h5 mb-0">
							<a href="{{ path('app_person_index') }}" class="text-decoration-none">
								<i class="bi bi-image me-1"></i>
								Consulter la galerie
							</a>
						</h3>
					</div>
					<div class="card-body">
						<p class="card-text">Explorer les images de la galerie de {{ app_name }}, organisées en portails et catégories.</p>
						<a href="{{ path('app_image_index') }}" class="text-decoration-none card-link">
							Images
							<i class="bi bi-box-arrow-up-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		
	</article>
{% endblock %}
