{% extends 'base.html.twig' %}

{% block title %}Accueil |
	{{ app_name }}
{% endblock %}

{% block body %}
	
	<article class="mt-5">
		<div class="row justify-content-between">
			<div class="col-lg-7">
				<section class="overview">
					<h2 class="overview__title">Présentation générale</h2>
					<div class="overview__content">
						{% if overview is null %}
							Renseignez une présentation de l'encyclopédie
						{% else %}
							{{ overview.content|raw }}
						{% endif %}
					</div>
					<aside class="overview__content mt-4 fs-6">
						{{ get_statistics() }}
					</aside>
				</section>
			</div>
			<div class="col-lg-4">
				<aside class="mt-0 random-card">
					<div class="h1 text-default">
						<i class="fas fa-random" data-bs-toggle="tooltip" title="Un article au hasard"></i>
					</div>
					<h2 class="text-default fw-bold h4">{{ article.title is defined ? article.title : 'Aucun article' }}</h2>
					<p class="text-justify">
						{% if article.content is defined %}
							{{ article.content|striptags|raw|u.truncate(250, ' [...]', false)|raw }}</p>	
							<p class="text-end mb-0">
								<a href="{{ path('app_article_show', {slug: article.slug}) }}" class="btn btn-sm btn-default">
									Voir plus <i class="ms-1 fas fa-external-link-alt" aria-hidden="true"></i>
								</a>
							</p>				
						{% else %}
							<p>Pour activer la fonctionnalité d'un article aléatoire, veuillez créer des articles.</p>
						{% endif %}
					
				</aside>
			</div>
		</div>
	</article>
	<hr class="m-5">
	<article class="my-5 px-5">
		<h2 class="mb-5">Explorer {{ app_name }}</h2>
		<div class="row">
			<div class="col-md-4 mb-3">
				<div class="card shadow-sm">
					<div class="card-header">
						<h3 class="card-title h5 mb-0">
							<a href="{{ path('app_category_index') }}" class="text-decoration-none">
								<i class="fas fa-folder me-1"></i>
								Consulter l'encyclopédie
							</a>
						</h3>
					</div>
					<div class="card-body">
						<p class="card-text">Explorer les articles, les catégories et les portails de {{ app_name }}.</p>
						<a href="{{ path('app_portal_index') }}" class="text-decoration-none card-link">
							Portails
							<i class="fas fa-external-link-alt"></i>
						</a>
						<a href="{{ path('app_article_index') }}" class="text-decoration-none card-link">
							Articles
							<i class="fas fa-external-link-alt"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<div class="card shadow-sm">
					<div class="card-header">
						<h3 class="card-title h5 mb-0">
							<a href="{{ path('app_person_index') }}" class="text-decoration-none">
								<i class="fas fa-user me-1"></i>
								Consulter les personnages
							</a>
						</h3>
					</div>
					<div class="card-body">
						<p class="card-text">Explorer les différents personnages renseignés dans {{ app_name }}.</p>
						<a href="{{ path('app_person_index') }}" class="card-link text-decoration-none">
							Personnages
							<i class="fas fa-external-link-alt"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<div class="card shadow-sm">
					<div class="card-header">
						<h3 class="card-title h5 mb-0">
							<a href="{{ path('app_timeline_index') }}" class="text-decoration-none">
								<i class="fas fa-hourglass me-1"></i>
								Consulter les chronologies
							</a>
						</h3>
					</div>
					<div class="card-body">
						<p class="card-text">Explorer les événement marquants, organisés en chronologies.</p>
						<a href="{{ path('app_timeline_index') }}" class="card-link text-decoration-none">
							Chronologies
							<i class="fas fa-external-link-alt"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<div class="card shadow-sm">
					<div class="card-header">
						<h3 class="card-title h5 mb-0">
							<a href="{{ path('app_place_index') }}" class="text-decoration-none">
								<i class="fas fa-globe me-1"></i>
								Consulter les lieux
							</a>
						</h3>
					</div>
					<div class="card-body">
						<p class="card-text">Explorer les lieux de {{ app_name }}, organisées en portails et catégories.</p>
						<a href="{{ path('app_place_index') }}" class="text-decoration-none card-link">
							Lieux
							<i class="fas fa-external-link-alt"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<div class="card shadow-sm">
					<div class="card-header">
						<h3 class="card-title h5 mb-0">
							<a href="{{ path('app_image_index') }}" class="text-decoration-none">
								<i class="fas fa-image me-1"></i>
								Consulter la galerie
							</a>
						</h3>
					</div>
					<div class="card-body">
						<p class="card-text">Explorer les images de la galerie de {{ app_name }}, organisées en portails et catégories.</p>
						<a href="{{ path('app_image_index') }}" class="text-decoration-none card-link">
							Images
							<i class="fas fa-external-link-alt"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		
	</article>
{% endblock %}
