{% extends 'base.html.twig' %}

{% block title %}
    Recherche globale | {{ app_name }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/DataTables/datatables.min.css') }}" rel="stylesheet" type="text/css">
    <style>
        .choices {
            margin-bottom: 0;
        }
        .bg-light .form-control, .bg-light .btn {
            min-height: 44px;
        }
    </style>
{% endblock %}

{% block body %}
    <article class="container-fluid">
        <div class="row border-bottom align-items-center py-3 bg-default-light mb-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0">
					<li class="breadcrumb-item">
						<a href="{{ path('app_home') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Recherche avancée</li>
				</ol>
			</nav>
		</div>

        <header>
			<h2 class="h2 mb-2">
                {% if search is not null or search|length > 0  %}
                    Résultats pour la recherche : {{ search }}
                {% else %}
                    Rechercher dans {{ app_name }}
                {% endif %}
            </h2>
		</header>

        <aside class="bg-light p-3 pb-0 rounded-3 mb-3">
            {{ form_start(form) }}
            <div class="row align-items-end">
                <div class="col-md-4 mb-4">
                    <h3 class="h6 mb-3">Mot clés *</h3>
                    {{ form_widget(form.query) }}
                    <div class="form-text">La recherche doit faire au moins 3 caractères.</div>
                </div>
                <div class="col-md-4 mb-4">
                    <h3 class="h6 mb-3">Dans les catégories</h3>
                    {{ form_widget(form.categories) }}
                    <div class="form-text">Laissez vide pour rechercher dans toutes les catégories.</div>
                </div>

                <div class="col-md-4 mb-4">
                    <h3 class="h6 mb-3">Dans les portails</h3>
                    {{ form_widget(form.portals) }}
                    <div class="form-text">Laissez vide pour rechercher dans tous les portails.</div>
                </div>

                <div class="col-md-8 mb-4">
                    <h3 class="h6 mb-3">Rechercher dans les champs</h3>
                    {{ form_widget(form.fields) }}
                </div>

                <div class="col-md-4 mb-4">
                    <div class="text-end">
                        <button type="submit" class="btn btn-outline-secondary w-50">
                            <i class="fas fa-search"></i>
                            Rechercher
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </aside>

        {% if articles is not empty %}
            <section class="card mb-3">
                <div class="card-header p-2">
                    <div class="float-end">
                        <a href="#collapseArticle" aria-expanded="true" aria-controls="collapseArticle" role="button" class="text-reset h5 text-decoration-none" data-bs-toggle="collapse">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    <h2 class="card-title mb-0 h5"><i class="fas fa-file-alt fa-fw me-1"></i> Articles</h2>
                </div>
                <div class="card-body p-0">
                    <div class="collapse show" id="collapseArticle">
                        <div class="p-2">
                            <table class="table mb-0 table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Portails</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for article in articles %}
                                        <tr>
                                            <td data-label="Titre">
                                                <a href="{{ path('app_article_show', {slug: article.slug})}}">{{ article.title }}</a>
                                            </td>
                                            <td data-label="Portails">
                                                {{ article.portals|join(', ') }}
                                            </td>
                                            <td data-label="Type">
                                                {{ article.type }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if timelines is not empty %}
            <section class="card mb-3">
                <div class="card-header p-2">
                    <div class="float-end">
                        <a href="#collapseTimelines" aria-expanded="true" aria-controls="collapseTimelines" role="button" class="text-reset h5 text-decoration-none" data-bs-toggle="collapse">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    <h2 class="card-title mb-0 h5"><i class="fas fa-hourglass fa-fw me-1"></i> Chronologies</h2>
                </div>
                <div class="card-body p-0">
                    <div class="collapse show" id="collapseTimelines">
                        <div class="p-2">
                            <table class="table mb-0 table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Catégories</th>
                                        <th>Portails</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for timeline in timelines %}
                                        <tr>
                                            <td data-label="Titre">
                                                <a href="{{ path('app_timeline_show', {slug: timeline.slug})}}">{{ timeline.title }}</a>
                                            </td>
                                            <td data-label="Catégories">
                                                {{ timeline.categories|join(', ') }}
                                            </td>
                                            <td data-label="Portails">
                                                {{ timeline.portals|join(', ') }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if persons is not empty %}
            <section class="card mb-3">
                <div class="card-header p-2">
                    <div class="float-end">
                        <a href="#collapsePersons" aria-expanded="true" aria-controls="collapsePersons" role="button" class="text-reset h5 text-decoration-none" data-bs-toggle="collapse">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    <h2 class="card-title mb-0 h5"><i class="fas fa-user fa-fw me-1"></i> Personnages</h2>
                </div>
                <div class="card-body p-0">
                    <div class="collapse show" id="collapsePersons">
                        <div class="p-2">
                            <table class="table mb-0 table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Catégories</th>
                                        <th>Portails</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for person in persons %}
                                        <tr>
                                            <td data-label="Nom">
                                                <a href="{{ path('app_person_show', {slug: person.slug})}}">
                                                    {{ person.firstname }} {{ person.lastname }}
                                                </a>
                                            </td>
                                            <td data-label="Catégories">
                                                {{ person.categories|join(', ') }}
                                            </td>
                                            <td data-label="Portails">
                                                {{ person.portals|join(', ') }}
                                            </td>
                                            <td data-label="Type">
                                                {{ person.type|join(', ') }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if places is not empty %}
            <section class="card mb-3">
                <div class="card-header p-2">
                    <div class="float-end">
                        <a href="#collapsePlaces" aria-expanded="true" aria-controls="collapsePlaces" role="button" class="text-reset h5 text-decoration-none" data-bs-toggle="collapse">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    <h2 class="card-title mb-0 h5"><i class="fas fa-building fa-fw me-1"></i> Lieux</h2>
                </div>
                <div class="card-body p-0">
                    <div class="collapse show" id="collapsePlaces">
                        <div class="p-2">
                            <table class="table mb-0 table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Catégories</th>
                                        <th>Portails</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for place in places %}
                                        <tr>
                                            <td data-label="Titre">
                                                <a href="{{ path('app_place_show', {slug: place.slug})}}">
                                                    {{ place.title }}
                                                </a>
                                            </td>
                                            <td data-label="Catégories">
                                                {{ place.categories|join(', ') }}
                                            </td>
                                            <td data-label="Portails">
                                                {{ place.portals|join(', ') }}
                                            </td>
                                            <td data-label="Type"> 
                                                {{ place.types|join(', ') }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if images is not empty %}
            <section class="card mb-3">
                <div class="card-header p-2">
                    <div class="float-end">
                        <a href="#collapseImages" aria-expanded="true" aria-controls="collapseImages" role="button" class="text-reset h5 text-decoration-none" data-bs-toggle="collapse">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    <h2 class="card-title mb-0 h5"><i class="fas fa-image fa-fw me-1"></i> Images</h2>
                </div>
                <div class="card-body p-0">
                    <div class="collapse show" id="collapseImages">
                        <div class="p-2">
                            <table class="table mb-0 table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Titre</th>
                                        <th>Catégories</th>
                                        <th>Portails</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for image in images %}
                                        <tr>
                                            <td data-label="Image">
                                                <a href="{{ vich_uploader_asset(image) }}" data-fslightbox>
                                                    <img src="{{ vich_uploader_asset(image)|imagine_filter('icon_image') }}" alt="{{ image.title }}">
                                                </a>
                                            </td>
                                            <td data-label="Titre">
                                                <a href="{{ path('app_image_show', {slug: image.slug})}}">
                                                    {{ image.title }}
                                                </a>
                                            </td>
                                            <td data-label="Catégories">
                                                {{ image.categories|join(', ') }}
                                            </td>
                                            <td data-label="Portails">
                                                {{ image.portals|join(', ') }}
                                            </td>
                                            <td data-label="Type">
                                                {{ image.tags|join(', ') }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if idioms is not empty and enableIdiom %}
            <section class="card mb-3">
                <div class="card-header p-2">
                    <div class="float-end">
                        <a href="#collapseIdioms" aria-expanded="true" aria-controls="collapseIdioms" role="button" class="text-reset h5 text-decoration-none" data-bs-toggle="collapse">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    <h2 class="card-title mb-0 h5"><i class="fas fa-language"></i> Langues</h2>
                </div>
                <div class="card-body p-0">
                    <div class="collapse show" id="collapseIdioms">
                        <div class="p-2">
                            <table class="table mb-0 table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Portails</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for idiom in idioms %}
                                        <tr>
                                            <td data-label="Nom">
                                                <a href="{{ path('app_idiom_show', {slug: idiom.slug})}}">
                                                    {{ idiom.translatedName }}
                                                    {% if idiom.originalName %}
                                                        ({{idiom.originalName}})
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td data-label="Portails">
                                                {{ idiom.portals|join(', ') }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </article>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/choicesjs/choices.min.js') }}"></script>
    <script src="{{ asset('assets/DataTables/jQuery-3.6.0/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('assets/DataTables/datatables.min.js') }}"></script>
	<script>
		elements = document.querySelectorAll('[data-choices]');
		elements.forEach(element => {
			const choices = new Choices(element, {
				removeItems: true,
				removeItemButton: true,
				allowHTML: false,
				noResultsText: 'Aucun résultat',
				noChoicesText: 'Aucun élément à choisir',
				itemSelectText: 'Cliquez pour choisir'
			});
		});

		document.querySelectorAll('[name="search_terms"]').forEach(element => {
			element.removeAttribute('name');
		});

        $('.data-table').DataTable({
            language: {
                url: '/assets/DataTables/i18n/fr-FR.json',
            },
        });
	</script>
{% endblock %}