{% extends 'base.html.twig' %}

{% block title %}Index des portails{% endblock %}

{% block body %}
    <article class="mb-5 container-fluid">
        <header class="mb-4">
            <div class="row border-bottom align-items-center py-3 bg-default-light">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Portails</li>
                    </ol>
                </nav>
            </div>
        </header>
        <h2 class="list-title">Les portails</h2>
        <p class="text-center text-muted fs-5 mb-4">Explorer les portails disponibles sur le site</p>
        <p class="mt-5">
            {% set total = portals.getTotalItemCount %}            
            {% set current = portals|length %}
            Affichage de <span class="fw-bold">{{ current }}</span>
            sur <span class="fw-bold">{{ total }}</span>
            portail{{ total > 1 ? 's' : '' }}.
        </p>

        <div class="row">
            {% for portal in portals %}
                {% include "portal/components/_card_portal.html.twig" %}
            {% else %}
                <p class="text-center text-muted">
                    Aucun portail n'a été trouvé
                </p>
            {% endfor %}
        </div>

        <div class="navigation mb-2">
            {{ knp_pagination_render(portals) }}
        </div>
    </article>


{% endblock %}
