{% extends 'base.html.twig' %}

{% block title %}
	{{ portal.title|capitalize}}
	| Portail
{% endblock %}

{% block description %}
	{{ portal.description }}
{% endblock %}

{% block body %}
	<article>
		{% include "portal/components/_header.html.twig" with {articles:true}   %}
		{% if portal.presentation %}
			<div class="element-presentation">
				<h2><strong>{{ portal.title }}</strong>, qu'est-ce que c'est ?</h2>
				<div class="content">
					{{ portal.presentation|raw }}
				</div>
			</div>
		{% endif %}
		<div class="pt-1 py-5 px-4">
			<h2 class="content-title-section">
				Les articles du portail &laquo;&nbsp;{{ portal.title }}&nbsp;&raquo;
			</h2>
			<p>
				Ce portail comprend <strong>{{ articles.totalItemCount }}</strong> articles, dont les <strong>{{articles|length}}</strong> articles ci-dessous.
			</p>

			<div class="column-3">
				{% for key, elements in items %}
					<div class="mb-4">
						<h3 class="h4 mb-0 fw-bold">{{ key }}</h3>
						<ul>
							{% for item in elements %}
								<li data-bs-toggle="tooltip" title="{{ item.description ? item.description : 'Aucune description' }}">
									<a href="{{ path('app_article_show', {slug: item.slug}) }}" class="text-decoration-none">
										{{ item.title }}
										{% if item.isPrivate %}
											<i class="bi bi-file-lock fw-bold, text-danger" data-bs-toggle="tooltip" title="Privé (visible uniquement par son auteur et les administrateurs)"></i>
										{% endif %}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% else %}
					<p class="text-muted">Aucun element trouvé</p>
				{% endfor %}
			</div>

			<div class="navigation">
				{{ knp_pagination_render(articles) }}
			</div>
		</div>
	</article>
{% endblock %}
