{% extends 'base.html.twig' %}

{% block title %}Galerie de
	{{ portal.title|capitalize }}
	| Portail
{% endblock %}

{% block description %}
	{{ portal.description }}
{% endblock %}

{% block body %}
	<article>
		{% include "portal/components/_header.html.twig" with {timelines:true} %}

		<div class="m-4">
			<h2 class="content-title-section">
				Les chronologies du portail &laquo;&nbsp;{{ portal.title }}&nbsp;&raquo;
			</h2>
			{% set plural = timelines.getTotalItemCount > 1 ? 's' : '' %}

			<p class="mb-4 p-2">
				<span class="fw-bold">{{ timelines.getTotalItemCount }}</span>
				chronologie{{ plural }}
				trouvée{{ plural }}.
			</p>

			<div class="row p-2">
				{% for timeline in timelines %}
					<div class="col-md-6 col-lg-4">
						{% include "timeline/components/_timeline_card.html.twig" %}
					</div>
				{% else %}
					<div class="col-12 text-center text-muted">Aucune chronologie n'a été trouvé</div>
				{% endfor %}
			</div>

			<div class="navigation">
				{{ knp_pagination_render(timelines) }}
			</div>
		</div>
	</article>
{% endblock %}
