{% extends 'Admin/map/show_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/admin/map.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/colorpicker/coloris.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/admin/color.css') }}">
{% endblock %}

{% block show_tab %}
    <div class="row g-2">
        <div class="col-md-8">
            <article class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">Informations générales</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ map.id }}</td>
                            </tr>
                            <tr>
                                <th>Titre</th>
                                <td>{{ map.title  }}</td>
                            </tr>
                            <tr>
                                <th>Slug</th>
                                <td>{{ map.slug }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ map.description|raw }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">Méta-données et relations</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Création</th>
                                <td>{{ map.createdAt|date(date_format) }}</td>
                            </tr>
                            <tr>
                                <th>Mise à jour</th>
                                <td>{{ map.updatedAt ? map.updatedAt|date(date_format) : '' }}</td>
                            </tr>
                            <tr>
                                <th>Catégories</th>
                                <td>
                                    {% if map.categories is not empty %}
                                        <ul>
                                            {% for category in map.categories %}
                                                <li>
                                                    <a href="{{ path('admin_app_category_show', {id: category.id}) }}">
                                                        {{ category.title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Portails</th>
                                <td>
                                    {% if map.portals is not empty %}
                                        <ul>
                                            {% for portal in map.portals %}
                                                <li>
                                                    <a href="{{ path('admin_app_portal_show', {id: map.id}) }}">
                                                        {{ map.title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card border-top-primary">
                <div class="card-header bg-white">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h2 class="card-title h5 mb-0">
                                Carte
                            </h2>
                        </div>
                        <div class="col-6">
                            <ul class="nav nav-pills justify-content-end" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                        Image
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                        Lieux
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                            <p>
                                <i class="fas fa-info-circle fa-fw"></i>
                                Cliquez sur la carte pour ajouter une localisation ou sur un marqueur pour afficher les détails d'une localisation.
                            </p>
                            {% if map.image is not null %}
                                <div id="map-container">
                                    <img id="map" data-map="{{ map.id }}" src="{{ vich_uploader_asset(map.image) }}" class="img-thumbnail" alt="{{ map.image.title }}">
                                
                                    {% for position in map.mapPositions %}
                                        <div data-title="{{ position.title }}"
                                            data-id="{{ position.id }}"
                                            data-description="{{ position.description }}"
                                            data-placeId="{{ position.place ? position.place.id : '' }}"
                                            data-placeName="{{ position.place ? position.place.title : '' }}"
                                            data-marker="{{ position.marker ? position.marker : 'fas fa-map-marker' }}"
                                            class="marker {{ position.marker ? position.marker : 'fas fa-map-marker' }}"
                                            title="{{ position.title }}"
                                            data-bs-toggle="tooltip"
                                            style="color: {{ position.color ? position.color : '#000' }}; top: {{ position.points[0] }}%; left: {{ position.points[1] }}%">
                                        </div>
                                    {% endfor %}
                                </div>
                                <p class="mb-0 text-center">
                                    <a href="{{ path('admin_app_image_show', {id: map.image.id}) }}">{{ map.image.title }}</a>
                                </p>
                            {% else %}
                                <p class="text-danger mb-0 fw-bold">Ajouter une image à cette carte pour commencer à ajouter des lieux</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                            <p>
                                <i class="fas fa-info-circle fa-fw"></i>
                                Cliquer sur le bouton d'édition de l'un des emplacements pour le lier à un lieu ou accéder à l'édition avancée.
                            </p>
                            <table class="table data-table mb-0 table-striped">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Description</th>
                                        <th>Lieu associé</th>
                                        <th data-orderable="false">Actions</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for position in map.mapPositions %}
                                        <tr>
                                            <td data-label="Titre">
                                                {{ position.title }}
                                            </td>
                                            <td data-label="Description">
                                                {{ position.description|nl2br }}
                                            </td>
                                            <td data-label="Lieu associé">
                                                {% if position.place %}
                                                    <a href="{{ path('admin_app_place_show', {id: position.place.id}) }}">{{ position.place }}</a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{{ path('admin_app_map_position_edit', {id: position.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                                    </a>
                                                    {% include "Admin/components/_delete_modal.html.twig" with { element: position, path: 'admin_app_map_position_delete' } %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    {% include "Admin/map/modals/_position_form.html.twig" %}
    {% include "Admin/map/modals/_position_show.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/colorpicker/coloris.min.js') }}"></script>
	<script src="{{ asset('assets/admin/map.js') }}"></script>
{% endblock %}
