{% extends 'base.html.twig' %}

{% block title %}
	{{ timeline.title }}
	| Chronologie
{% endblock %}

{% block body %}
<header class="pt-3 bg-item header-item border-bottom">
	<div class="container-fluid">
		<div class="row border-bottom align-items-center">
			<div class="col-md-6">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb mb-2">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_timeline_index') }}">Chronologies</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">{{ timeline.title }}</li>
					</ol>
				</nav>
			</div>
			<div class="col-md-6 text-end">
				{{ include('includes/_search.html.twig', { route_name: 'app_timeline_index' }) }}
			</div>
		</div>
		<div class="item-heading px-0">
			<div class="row flex-md-row-reverse align-items-center g-2">
				<div class="col-md-3 text-end">
					<a class="btn btn-outline-secondary offcanvas-btn btn-sm" href="#offcanvasList" title="Rechercher dans la chronologie">
						<i class="fa-solid fa-magnifying-glass fa-fw"></i>
					</a>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('admin_app_timeline_edit', {id:timeline.id}) }}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" title="Editer">
							<i class="fas fa-pencil-alt fa-fw"></i>
						</a>
						<a href="{{ path('admin_app_timeline_event', {id:timeline.id}) }}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" title="Gérer les événements">
							<i class="fas fa-calendar fa-fw" aria-hidden="true"></i>
						</a>
					{% endif %}
					<a class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" title="Télécharger le fichier word" href="{{ path('app_timeline_word', {slug: timeline.slug}) }}" target="_blank">
						<i class="fas fa-file-word fa-fw"></i>
					</a>
				</div>
				<div class="col-md-9">
					{% for category in timeline.categories %}
						<a href="{{ path('app_category_show', {slug: category.slug}) }}" class="label mb-1 d-block d-md-inline-block" data-bs-placement="bottom" data-bs-toggle="tooltip" title="{{ category.description ? category.description : 'Aucune description' }}">
							<i class="fas fa-folder me-1"></i>
							{{ category.title }}
						</a>
					{% endfor %}
				</div>
			</div>
			<h2 class="display-3 mb-3 text-center">{{ timeline.title }}</h2>
			<p class="lead text-center">{{ timeline.description }}</p>
			<aside class="my-1 text-center">
				{% for portal in timeline.portals %}
					{{ include('components/utils/_tag_link.html.twig', {item: portal, path: 'app_portal_show', position: 'bottom'}) }}
				{% endfor %}
			</aside>
		</div>
	</div>
</header>

<div class="my-3" id="searchable-container">
	<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasList" aria-labelledby="offcanvasListLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasListLabel">Sommaire</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body pt-1">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Rechercher dans la chronologie" id="searchable-content">
				<span class="input-group-text" id="basic-addon2">
					<i class="fas fa-search"></i>
					<label for="searchable-content" class="visually-hidden">Rechercher dans la chronologie</label>
				</span>
			</div>
			{% for event in timeline.events %}
				<div class="bg-light p-1 mb-1 border rounded search-item">
					<span class="fw-bold">{{ loop.index }}.</span> <a href="#{{ event.id }}">{{ event.title }}</a>
				</div>
			{% endfor %}
		</div>
	</div>

	{% if timeline.events is empty %}
		<p class="text-center">Cette chronologie est vide.</p>
	{% else %}
		{% include "timeline/_events-container.html.twig" with {summary: true} %}
	{% endif %}
</div>

<footer class="p-4">
	<h3 class="h5 text-uppercase pb-1 fw-bold border-bottom">Voir aussi</h3>
	<div class="border bg-light p-2">
		<h4 class="h6 fw-bold text-center border-bottom pb-1">
			<a href="{{ path('app_timeline_index') }}">Liste des chronologies</a>
		</h4>
		<div class="row m-0 text-center">
			<div class="col bg-white p-2">
				<div class="fw-bold">Précédent</div>
				<div>
					{% if timeline.previous %}
						<a href="{{ path('app_timeline_show', {slug: timeline.previous.slug}) }}">{{ timeline.previous }}</a>
					{% else %}
						-
					{% endif %}
				</div>
			</div>
			<div class="col p-2">
				<div class="fw-bold">Actuel</div>
				<div>{{ timeline }}</div>
			</div>
			<div class="col p-2 bg-white">
				<div class="fw-bold">Suivant</div>
				<div>
					{% if timeline.next %}
						<a href="{{ path('app_timeline_show', {slug: timeline.next.slug}) }}">{{ timeline.next }}</a>
					{% else %}
						-
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</footer>
{% endblock %}

{% block javascripts %}
	<script>
		document.addEventListener("DOMContentLoaded", function(){
			const myOffcanvas = document.getElementById('offcanvasList');
			const bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);

			document.querySelectorAll('.offcanvas-btn').forEach(element => {
				element.addEventListener('click',function (e){
					e.preventDefault();
					e.stopPropagation();
					bsOffcanvas.toggle();
				});
			});
		});
	</script>
{% endblock %}
