{% extends 'base.html.twig' %}

{% block title %}Commentaires | {{ article.title }}{% endblock %}

{% block description %}Consultez les commentaires de l'article : {{ article.description }}{% endblock %}

{% block body %}
<article>
    <header class="pt-4 bg-item header-item border-bottom">
        {{ include('article/components/_header.html.twig', {comments:true}) }}
    </header>

    <section class="p-5 px-4">
        <div class="row align-items-center mx-5">
            <div class="col-md-6 ps-0">
                <h2 class="display-6 mb-4">
                    <i class="fas fa-comment fa-fw"></i> commentaires
                </h2>
            </div>
            <div class="col-md-6 pe-0">
                <p class="mb-4 text-end">
                    Affichage de <strong>{{ comments|length }}</strong> sur <strong>{{ comments.getTotalItemCount }}</strong> 
                    commentaire{{comments.getTotalItemCount > 1 ? 's':'' }}
                </p>
            </div>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for comment in comments %}
            {{ include('comment/components/_comment.html.twig') }}
        {% else %}
            <p class="my-5 fw-bold text-center">Il n'y a aucun commentaire.</p>
        {% endfor %}

        <hr class="my-5 mx-5">
        <div class="navigation">
            {{ knp_pagination_render(comments) }}
        </div>

            <article class="mx-5">
                <h3 class="h4 mb-4">Laisser un commentaire</h3>
                {% if article.enableComment is null or article.enableComment == true %}
                    {% if is_granted('ROLE_USER') %}
                        {{ include('comment/components/_form.html.twig') }}
                    {% else %}
                        <p class="text-center">
                            Veuillez vous <a href="{{ path('app_login') }}">connecter</a> pour laisser un commentaire.
                        </p>
                    {% endif %}
                {% else %}
                    <p class="text-center text-muted fs-5">Les commentaires sont désactivés sur cet article.</p>
                {% endif %}
            </article>
    </section>
</article>
{% endblock %}