<div class="card border-top-primary">
    <div class="card-body p-1">
        <table class="table data-table mb-0 table-striped">
            <thead>
                <tr>
                    <th class="w-25">Titre</th>
                    <th>Création</th>
                    <th>Mise à jour</th>
                    <th>Catégorie</th>
                    <th>Portail</th>
                    <th>Est traitée</th>
                    <th data-orderable="false">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                    <tr>
                        <td data-label="Titre">
                            {{ note.title }}
                        </td>
                        <td data-label="Création" data-sort="{{ note.createdAt ? note.createdAt|date('Y-m-d H:i') : '' }}">
                            {{ note.createdAt|date(date_format) }}
                        </td>
                        <td data-label="Mise à jour" data-sort="{{ note.updatedAt ? note.updatedAt|date('Y-m-d H:i') : '' }}">
                            {{ note.updatedAt ? note.updatedAt|date(date_format) : '' }}
                        </td>
                        <td data-label="Catégorie">
                            {% if note.category %}
                                <a href="{{ path('app_category_show', {slug: note.category.slug}) }}">
                                    {{ note.category }}
                                </a>
                            {% endif %}
                        </td>
                        <td data-label="Portail">
                            {% if note.portal %}
                                <a href="{{ path('app_portal_show', {slug: note.portal.slug}) }}">
                                    {{ note.portal }}
                                </a>
                            {% endif %}    
                        </td>
                        <td data-label="Est traitée">
                            {% if note.isProcessed %}
                                <div role="button" data-id="{{ note.id }}" data-action="update-processed" class="badge rounded-pill bg-success">
                                    Traité
                                </div>
                            {% else %}
                                <div role="button" data-id="{{ note.id }}" data-action="update-processed" class="badge rounded-pill bg-danger">
                                    A traiter
                                </div>
                            {% endif %}
                        </td>
                        <td data-label="Actions">
                            <div class="btn-group">            
                                <a href="{{ path('admin_app_note_show', {id: note.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Afficher">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a href="{{ path('admin_app_note_edit', {id: note.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </a>
                                {% include "Admin/components/_archive_modal.html.twig" with { element: note, path: 'admin_app_note_archive' } %}
                                {% include "Admin/components/_delete_modal.html.twig" with { element: note, path: 'admin_app_note_delete' } %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>