{% extends 'admin_layout.html.twig' %}

{% block title %}Editer "{{ note }}"{% endblock %}
{% block activeNote %} active {% endblock %}
{% block page_title %}Editer "{{ note }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_note_list') }}" class="text-reset">
			Note
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
	<div class="dropdown d-inline">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Action
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" href="{{ path('admin_app_note_create') }}">
                    <i class="fas fa-plus-circle" aria-hidden="true"></i>
                    Ajouter
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ path('admin_app_note_show', {id: note.id}) }}">
                    <i class="fas fa-info-circle"></i>
                    Informations
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ path('admin_app_note_list') }}">
                    <i class="fas fa-list" aria-hidden="true"></i>
                    Retour à la liste
                </a>
            </li>
        </ul>
    </div>
    {% include "Admin/components/_delete_modal.html.twig" with { element: note, path: 'admin_app_note_delete', full: true } %}
{% endblock %}

{% block body %}
	{% include "Admin/note/_form.html.twig" %}
{% endblock %}
