{% extends 'base.html.twig' %}

{% block title %}Galerie |
	{{ app_name }}
{% endblock %}

{% block body %}
	<article class="mt-5">
		<header class="text-center">
			<h2 class="h4">Bienvenue sur la galerie d'image de
				{{ app_name }}
				!</h2>
			<p class="w-75 m-auto pt-3 lh-lg text-muted">Ici, vous pouvez voir l'ensemble des images chargées sur
				{{ app_name }}. Pour accéder à la page d'information de l'image et l'afficher en plus grand, il suffit de cliquer sur la miniature.</p>
		</header>

		<div class="row justify-content-between my-5">
			<aside class="col-md-4">
				{% include "components/layout/_advance_search_form.html.twig" 
            with {form: imageForm, index_path: 'app_image_index'} only %}
			</aside>

			<section class="col-md-8">
				<h3 class="border-bottom display-6 mb-2 mt-0">Galerie de
					{{ app_name }}</h3>
				{% include "image/components/_list.html.twig" with {images: images} only %}
			</section>
		</div>

	</article>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('assets/choicesjs/choices.min.js') }}"></script>
	<script>
		elements = document.querySelectorAll('[data-choices]');
		elements.forEach(element => {
			const choices = new Choices(element, {
				removeItems: true,
				removeItemButton: true,
				allowHTML: false,
				noResultsText: 'Aucun résultat',
				noChoicesText: 'Aucun élément à choisir',
				itemSelectText: 'Cliquez pour choisir'
			});
		});

		document.querySelectorAll('[name="search_terms"]').forEach(element => {
			element.removeAttribute('name');
		});
	</script>
{% endblock %}
