{% extends 'base.html.twig' %}

{% block title %}
	{{ image.title }} | {{ app_name }}
{% endblock %}

{% block description %}
	{{ image.description }}
{% endblock %}

{% block stylesheets %}
	<style>
	.h6 {
		font-size: 1.1rem;
	}
	</style>
{% endblock %}

{% block body %}
	<header class="bg-default-light border-bottom">
		<div class="pt-3 border-bottom container-fluid">
			<div class="row align-items-center">
				<div class="col-md-6">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-2">
							<li class="breadcrumb-item">
								<a href="{{ path('app_home') }}">Accueil</a>
							</li>
							<li class="breadcrumb-item">
								<a href="{{ path('app_image_index') }}">Galerie</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">{{ image.title }}</li>
						</ol>
					</nav>
				</div>
				<div class="col-md-6 text-end">
					{{ include('includes/_search.html.twig', { route_name: 'app_image_index' }) }}
				</div>
			</div>
		</div>
		<div class="item-heading position-relative">
			{% if is_granted('ROLE_ADMIN') %}
				<div class="pt-2 pe-3 position-absolute top-0" style="right:-10px">
					<a href="{{ path('admin_app_image_edit', {id:image.id}) }}" class="btn btn-outline-secondary btn-sm" title="éditer">
						<i class="fas fa-pencil-alt"></i>
					</a>
					<a href="{{ path('admin_app_map_create', {image:image.id}) }}" class="btn btn-outline-secondary btn-sm" title="créer une carte à partir">
						<i class="fas fa-map"></i>
					</a>
				</div>
			{% endif %}
			<h2 class="h1 pt-4 pt-md-0">
				<i class="fas fa-image me-1"></i>
				{{ image.title }}
			</h2>

			<p class="lead mb-3">{{ image.description }}</p>
		</div>
	</header>

	<article class="my-4 container-fluid">
		<div class="row g-2">
			<div class="col-md-7">
				{% include "image/components/_medium.html.twig" with {image:image} %}
				<div class="text-center"><a href="{{ vich_uploader_asset(image) }}" download>{{ image.filename }}</a></div>
			</div>

			<div class="col-md-5">
				<header>
					<h2 class="h3 mb-2">Informations sur l'image</h2>
				</header>

				{% if image.tags|length > 0 %}
					<section>
						<h3 class="h6 bg-light border p-1">Types</h3>
						<ul class="list-unstyled">
							{% for tag in image.tags %}
								<li>
									<a href="{{ path('app_image_type', {slug: tag.slug}) }}" class="text-decoration-none">
									<i class="fas fa-hashtag fa-fw"></i> {{ tag }}
								</a>
								</li>
							{% endfor %}
						</ul>
					</section>
				{% endif %}

				{% if image.categories|length > 0 %}
					<section>
						<h3 class="h6 bg-light border p-1">Catégories</h3>
						<ul class="list-unstyled">
							{% for category in image.categories %}
								<li>
									<a href="{{ path('app_category_gallery', {slug: category.slug }) }}" class="text-decoration-none">
										<i class="fas fa-folder fa-fw"></i>
										{{ category.title }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</section>
				{% endif %}

				{% if image.portals|length > 0 %}
					<section>
						<h3 class="h6 bg-light border p-1">Portails</h3>
						<ul class="list-unstyled">
							{% for portal in image.portals %}
								<li>
									<a href="{{ path('app_portal_gallery', {slug: portal.slug }) }}" class="text-decoration-none">
										<i class="fas fa-tag fa-fw"></i>
										{{ portal.title }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</section>
				{% endif %}

				{% if image.articles|length > 0 %}
					<section>
						<h3 class="h6 bg-light border p-1">Articles</h3>
						<ul class="list-unstyled">
							{% for article in image.articles %}
								{% if article.isArchived != true %}
									<li>
										<a href="{{ path('app_article_show', {slug: article.slug }) }}" class="text-decoration-none">
											<i class="fas fa-file fa-fw"></i>
											{{ article.title }}
										</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</section>
				{% endif %}

				{% if image.people|length > 0 %}
					<section>
						<h3 class="h6 bg-light border p-1">Personnages</h3>
						<ul class="list-unstyled">
							{% for person in image.people %}
								{% if person.isArchived != true %}
									<li>
										<a href="{{ path('app_person_show', {slug: person.slug }) }}" class="text-decoration-none">
											<i class="fas fa-user fa-fw"></i>
											{{ person.firstname }} {{ person.lastname }}
										</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</section>
				{% endif %}

				{% if image.places|length > 0 %}
					<section>
						<h3 class="h6 bg-light border p-1">Lieux</h3>
						<ul class="list-unstyled">
							{% for place in image.places %}
								{% if place.isArchived != true %}
									<li>
										<a href="{{ path('app_place_show', {slug: place.slug }) }}" class="text-decoration-none">
											<i class="fas fa-building fa-fw"></i>
											{{ place.title }}
										</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</section>
				{% endif %}

				{% if image.maps|length > 0 %}
					<section>
						<h3 class="h6 bg-light border p-1">Cartes</h3>
						<ul class="list-unstyled">
							{% for map in image.maps %}
								<li>
									<a href="{{ path('app_map_show', {slug: map.slug }) }}" class="text-decoration-none">
										<i class="fas fa-map fa-fw"></i>
										{{ map.title }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</section>
				{% endif %}

				{% if image.imageGroups|length > 0 %}
					<section>
						<h3 class="h6 bg-light border p-1">Groupes d'image</h3>
						<ul class="list-unstyled">
							{% for imageGroup in image.imageGroups %}
								<li>
									<a href="{{ path('app_image_group_show', {slug: imageGroup.slug }) }}" class="text-decoration-none">
										<i class="fas fa-images fa-fw"></i>
										{{ imageGroup.title }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</section>
				{% endif %}
			</div>
		</div>
	</article>
{% endblock %}
