{% extends 'base.html.twig' %}

{% block title %}
	{{ image.title }} | {{ app_name }}
{% endblock %}

{% block description %}
	{{ image.description }}
{% endblock %}

{% block body %}
	<header class="bg-default-light border-bottom">
		<div class="pt-3 border-bottom container-fluid">
			<div class="row align-items-center">
				<div class="col-md-6">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-2">
							<li class="breadcrumb-item">
								<a href="{{ path('app_home') }}">Accueil</a>
							</li>
							<li class="breadcrumb-item">
								<a href="{{ path('app_image_index') }}">Galerie</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">{{ image.title }}</li>
						</ol>
					</nav>
				</div>
				<div class="col-md-6 text-end">
					{{ include('includes/_search.html.twig', { route_name: 'app_image_index' }) }}
				</div>
			</div>
		</div>
		<div class="item-heading position-relative">
			{% if is_granted('ROLE_ADMIN') %}
				<div class="pt-2 pe-3 position-absolute top-0" style="right:-10px">
					<a href="{{ path('admin_app_image_edit', {id:image.id}) }}" class="btn btn-outline-secondary btn-sm" title="éditer">
						<i class="fas fa-pencil-alt"></i>
					</a>
					<a href="{{ path('admin_app_map_create', {image:image.id}) }}" class="btn btn-outline-secondary btn-sm" title="créer une carte à partir">
						<i class="fas fa-map"></i>
					</a>
				</div>
			{% endif %}
			<h2 class="h1">
				<i class="fas fa-image me-1"></i>
				{{ image.title }}
			</h2>

			<p class="lead mb-3">{{ image.description }}</p>
		</div>
	</header>

	<section class="my-4 container-fluid">
		<div class="row">
			<div class="col-md-5">
				<h2 class="h3 mb-2">Informations sur l'image</h2>
				<p class="text-muted mb-4">Cliquer sur l'image pour l'afficher en grand.</p>
				<table class="table">
					<tbody>
						<tr>
							<th>Fichier</th>
							<td>{{ image.filename }}</td>
						</tr>
						<tr>
							<th>Nom</th>
							<td>{{ image.title }}</td>
						</tr>
						<tr>
							<th>Mots clé</th>
							<td>{{ image.keywords }}</td>
						</tr>
						<tr>
							<th>Types</th>
							<td>
								{% for tag in image.tags %}
									<a href="{{ path('app_image_type', {slug: tag.slug}) }}" class="badge rounded-pill bg-secondary link-light text-decoration-none me-1">
										{{ tag }}
									</a>
								{% endfor %}
							</td>
						</tr>
						<tr>
							<th>Catégories</th>
							<td>
								<ul class="list-unstyled">
									{% for category in image.categories %}
										<li>
											<a href="{{ path('app_category_show', {slug: category.slug }) }}" class="text-decoration-none">
												<i class="fas fa-folder me-1"></i>
												{{ category.title }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<th>Portails</th>
							<td>
								<ul class="list-unstyled">
									{% for portal in image.portals %}
										<li>
											<a href="{{ path('app_portal_show', {slug: portal.slug }) }}" class="text-decoration-none">
												<i class="fas fa-tag me-1"></i>
												{{ portal.title }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<th>Articles</th>
							<td>
								<ul class="list-unstyled">
									{% for article in image.articles %}
										<li>
											<a href="{{ path('app_article_show', {slug: article.slug }) }}" class="text-decoration-none">
												<i class="fas fa-file me-1"></i>
												{{ article.title }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<th>Personnages</th>
							<td>
								<ul class="list-unstyled">
									{% for person in image.people %}
										<li>
											<a href="{{ path('app_person_show', {slug: person.slug }) }}" class="text-decoration-none">
												<i class="fas fa-user me-1"></i>
												{{ person.firstname }} {{ person.lastname }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<th>Lieux</th>
							<td>
								<ul class="list-unstyled">
									{% for place in image.places %}
										<li>
											<a href="{{ path('app_place_show', {slug: place.slug }) }}" class="text-decoration-none">
												<i class="fas fa-building me-1"></i>
												{{ place.title }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<th>Cartes</th>
							<td>
								<ul class="list-unstyled">
									{% for map in image.maps %}
										<li>
											<a href="{{ path('app_map_show', {slug: map.slug }) }}" class="text-decoration-none">
												<i class="fas fa-map me-1"></i>
												{{ map.title }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<th>Groupes d'image</th>
							<td>
								<ul class="list-unstyled">
									{% for imageGroup in image.imageGroups %}
										<li>
											<a href="{{ path('app_image_group_show', {slug: imageGroup.slug }) }}" class="text-decoration-none">
												<i class="fas fa-images me-1"></i>
												{{ imageGroup.title }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</td>
						</tr>

						
					</tbody>
				</table>
			</div>
			<div class="col-md-7 d-flex justify-content-center align-items-center">
				{% include "image/components/_medium.html.twig" with {image:image} %}
			</div>
		</div>
	</section>
{% endblock %}
