{% extends 'base.html.twig' %}

{% block title %}
	Images du type {{ type }}
{% endblock %}

{% block body %}    
    <article class="container-fluid mb-4">
        <div class="row border-bottom align-items-center py-3 mb-4 bg-default-light">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0">
					<li class="breadcrumb-item">
						<a href="{{ path('app_home') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ path('app_image_index') }}">Galerie</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Type d'image</li>
				</ol>
			</nav>
		</div>

		<header class="text-center mt-5 pb-4">
            <p class="w-75 m-auto mb-2">
                {% for tag in types %}
                    <a href="{{ path('app_image_type', {slug: tag.slug}) }}" class="badge rounded-pill bg-secondary link-light text-decoration-none me-1">
                        {{ tag }}
                    </a>
                {% endfor %}
            </p>
			<h2 class="h4">
				Galerie des images de type <strong>{{ type }}</strong>
			</h2>
			<p class="w-75 m-auto pt-2 lh-lg text-muted">
				{{ type.description }}
			</p>
		</header>
        
        {% include "image/components/_list.html.twig" with {images: images} only %}
    </article>
{% endblock %}
