{% if index_path is not defined %}
	{% set index_path = 'app_article_index' %}
{% endif %}

<aside class="bg-light p-4 rounded-3">
	<h2 class="h4 mb-4">Recherche</h2>
	<p class="text-muted">Rechercher par mot clé ou par portail en remplissant ce formulaire.</p>
	{{ form_start(form) }}
	<h3 class="h6 mt-4 mb-3">Par mot clé</h3>
	<div class="search-row">
		{{ form_widget(form.query) }}
	</div>

	{% if form.categories is defined %}
		<h3 class="h6 mt-4 mb-3">Par catégorie</h3>
		{{ form_widget(form.categories) }}
	{% endif %}

	<h3 class="h6 mt-4 mb-3">Par portail</h3>
	{{ form_widget(form.portals) }}

	{% if form.tags is defined %}
		<h3 class="h6 mt-4 mb-3">Par types</h3>
		{{ form_widget(form.tags) }}
	{% endif %}

	<div class="text-center mt-3">
		<a href="{{ path(index_path) }}" class="btn btn-outline-secondary rounded-pill mb-1">Tout afficher</a>
		<button type="submit" class="btn btn-outline-secondary rounded-pill mb-1">
			<i class="fas fa-search"></i>
			Rechercher
		</button>
	</div>

	{{ form_end(form) }}
</aside>
