{% extends 'base.html.twig' %}

{% block title %}
	Notes | {{ category.title }}
{% endblock %}

{% block description %}
	{{ category.description }}
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('assets/DataTables/datatables.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {% include "category/components/_header.html.twig" with {notes:true}   %}
    <article class="pt-5 px-4">
        <header class="row">
            <div class="col-9">
                <h2>Consulter les notes de la catégorie &laquo;&nbsp;{{ category.title }}&nbsp;&raquo;</h2>
            </div>
            {% include "components/_note_form.html.twig" %}
        </header>

        {% include "components/_note_table.html.twig" with {notes: category.notes} %}
    </article>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/DataTables/jQuery-3.6.0/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('assets/DataTables/datatables.min.js') }}"></script>
<script>
    $('#tableIndex').DataTable({
        language: {
            url: '/assets/DataTables/i18n/fr-FR.json',
        },
        order: [[1, 'desc']]
    });
</script>
{% endblock %}