{% extends 'base.html.twig' %}

{% block title %}Galerie de
	{{ category.title }}
	| Catégorie
{% endblock %}

{% block description %}
	{{ category.description }}
{% endblock %}

{% block body %}
	{% include "category/components/_header.html.twig" with {images: true} %}
	<article class="p-4">
        <h2 class="content-title-section">
            Les images de la catégorie &laquo;&nbsp;{{ category.title }}&nbsp;&raquo;
        </h2>
		<div class="float-end">
			<div class="dropdown">
					<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonType2" data-bs-toggle="dropdown" aria-expanded="false">
						Filtrer
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonType2">
						<li>
							<a href="{{ path('app_category_gallery', {slug: category.slug}) }}" class="dropdown-item fw-bold">
								Toutes les images
							</a>
						</li>
						{% for type in types %}
							<li>
								<a class="dropdown-item" href="{{ path('app_category_gallery', {slug: category.slug, type: type.slug}) }}">
									{{ type }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
		</div>
		{% include "image/components/_list.html.twig" with {images: images, type: type} only %}
	</article>
{% endblock %}
