{% extends 'base.html.twig' %}

{% block title %}Index des catégories
{% endblock %}

{% block body %}
	<article class="mb-5 container-fluid">
		<header class="mb-4">
            <div class="row border-bottom align-items-center py-3 bg-default-light">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Catégories</li>
                    </ol>
                </nav>
            </div>
        </header>

		<h2 class="list-title">Les catégories</h2>
		<p class="text-center text-muted fs-5 mb-5">L'encyclopédie de <strong>{{ app_name }}</strong> regroupe les catégories suivantes :</p>

		<div class="row">
			{% for category in categories %}
				<div class="col-md-4 mb-3">
					<div class="card shadow border-0">
						{% if category.banner %}
							<img src="{{ vich_uploader_asset(category) }}" class="card-img-top" alt="bannière de {{ category.title }}">
						{% endif %}
						<div class="card-body">
							<h3 class="card-title h5">
								<a href="{{ path('app_category_show', {slug: category.slug}) }}" class="text-decoration-none">
									{{ category.title }}
								</a>
							</h3>
							<p class="card-text text-muted">{{ category.description }}</p>
						</div>
						{% if category.portals is not empty %}
							<ul class="list-group list-group-flush border-top">
								{% for portal in category.portals  %}
									<li class="list-group-item" data-bs-toggle="tooltip" title="{{ portal.description }}" data-bs-placement="right">
										<a href="{{ path('app_portal_show', {slug: portal.slug}) }}" class="text-decoration-none">
											<i class="fas fa-tag me-1"></i>
											{{ portal.title }}
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
			{% else %}
				<div class="col-12">
					<p class="text-center">Aucune catégorie trouvée</p>
				</div>
			{% endfor %}
		</div>

	</article>


{% endblock %}
