{% extends 'base.html.twig' %}

{% block title %}Personnages de
	{{ category.title|capitalize }}
	| Catégorie
{% endblock %}

{% block description %}
	{{ category.description }}
{% endblock %}

{% block body %}
	{% include "category/components/_header.html.twig" with {persons: true} %}
	<article class="p-4">
        <h2 class="content-title-section">
            Les personnages de la catégorie &laquo;&nbsp;{{ category.title }}&nbsp;&raquo;
        </h2>
		{% set plural = persons.getTotalItemCount > 1 ? 's' : '' %}

		<p class="mb-4">
			<span class="fw-bold">{{ persons.getTotalItemCount }}</span>
			personnage{{ plural }}
			trouvé{{ plural }}.
		</p>

		<div class="row ps-3">
			{% for person in persons %}
				<div class="col-md-4 mb-3">
					{% include "person/_person_card.html.twig" %}
				</div>
			{% else %}
				<div class="col-12">
					<div class="text-center text-muted">Aucun personnage trouvé</div>
				</div>
			{% endfor %}
		</div>

		<div class="navigation">
			{{ knp_pagination_render(persons) }}
		</div>
	</article>
{% endblock %}
