{% extends 'base.html.twig' %}

{% block title %}
	{{ category.title }}
	| Catégorie
{% endblock %}

{% block description %}
	{{ category.description }}
{% endblock %}

{% block body %}
	{% include "category/components/_header.html.twig" with {portals: true} %}
	{% if category.presentation %}
		<div class="element-presentation">
			<h2>
				<strong>{{ category.title }}</strong>, qu'est-ce que c'est ?
				<a class="text-default float-end" data-bs-toggle="collapse"  href="#collapsePresentation" role="button" aria-expanded="true" aria-controls="collapsePresentation">
					<i class="fas fa-eye"></i>
				</a>
			</h2>
			<div class="collapse show" id="collapsePresentation">
				<div class="content">
					{{ category.presentation|raw }}
				</div>
			</div>

			{% if stickyPersons is not empty or stickyPlaces is not empty %}
				<h2 class="mt-3">
					<i class="fas fa-thumbtack me-1"></i> 
					Eléments épinglés de <strong>{{ category.title }}</strong>
					<i class="fas fa-thumbtack me-1"></i> 
					<a class="text-default float-end" data-bs-toggle="collapse"  href="#collapseSticky" role="button" aria-expanded="true" aria-controls="collapsePresentation">
						<i class="fas fa-eye"></i>
					</a>
				</h2>
				<div class="collapse show" id="collapseSticky">
					<div class="content">
						{% if stickyPersons is not empty %}
							<h3 class="h6 bg-default text-center text-white">Personnages</h3>
							<p>
								{% for person in stickyPersons %}
								<a href="{{ path('app_person_show', {slug: person.slug}) }}" class="dot-separator" data-bs-toggle="tooltip" title="{{ person.description }}">{{ person }}</a>
								{% endfor %}
							</p>
						{% endif %}
						{% if stickyPlaces is not empty %}
							<h3 class="h6 bg-default text-center text-white">Lieux</h3>
							<p>
								{% for place in stickyPlaces %}
								<a href="{{ path('app_place_show', {slug: place.slug}) }}" class="dot-separator">{{ place }}</a>
								{% endfor %}
							</p>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
	{% endif %}
	<article class="mb-4 mx-4 mt-5">
		<h2 class="content-title-section mb-4">
			Explorer la catégorie &laquo;&nbsp;{{ category.title }}&nbsp;&raquo;
			<a class="text-white float-end" data-bs-toggle="collapse"  href="#collapsePortals" role="button" aria-expanded="true" aria-controls="collapsePresentation">
				<i class="fas fa-eye"></i>
			</a>
		</h2>
		<div class="collapse show" id="collapsePortals">
			<section class="pt-0 p-4">
				<h3 class="h5 text-default fw-bold text-center"><i class="fas fa-tag me-1"></i> Portails de cette catégorie</h3>
				<div class="row">
					{% for portal in portals %}
						{% include "portal/components/_card_portal.html.twig" %}
					{% else %}
						<p class="text-center text-muted">
							Aucun portail
						</p>
					{% endfor %}
				</div>
			</section>
		</div>

		{% if category.maps is not empty %}
			<section class="pt-0">
				<h2 class="content-title-section">
					Explorer les cartes de &laquo;&nbsp;{{ category.title }}&nbsp;&raquo;
					<a class="text-white float-end" data-bs-toggle="collapse"  href="#collapseMaps" role="button" aria-expanded="true" aria-controls="collapsePresentation">
						<i class="fas fa-eye"></i>
					</a>
				</h2>
				<div class="collapse show" id="collapseMaps">
					<h3 class="h5 mb-3 text-center text-default fw-bold"><i class="fas fa-map"></i> Cartes de cette catégorie</h3>
					<div class="row g-2">
						{% for map in category.maps %}
							<div class="col-md-6 col-lg-4 mb-2">
								{% include 'map/_map_card.html.twig' %}
							</div>
						{% else %}
							<div class="col-12 text-center text-muted">Aucune carte n'a été trouvée</div>
						{% endfor %}
					</div>
				</div>
			</section>
		{% endif %}

		<div class="pt-0">
			{% if category.timelines is not empty %}
				<h2 class="content-title-section mb-4">
					Explorer les chronologies de &laquo;&nbsp;{{ category.title }}&nbsp;&raquo;
					<a class="text-white float-end" data-bs-toggle="collapse"  href="#collapseTimelines" role="button" aria-expanded="true" aria-controls="collapsePresentation">
						<i class="fas fa-eye"></i>
					</a>
				</h2>
				<div class="collapse show" id="collapseTimelines">
					<h3 class="h5 mb-3 text-center text-default fw-bold"><i class="fas fa-hourglass"></i> Chronologies de cette catégorie</h3>
					<div class="timeline">
						<ul class="timeline-list"> 
							{% set position_timeline = 'left' %}
							{% for timeline in category.timelines|sort((a, b) => a.position <=> b.position) %}
								{% if position_timeline == 'left' %}
									{% set class_name = 'timeline-panel-container' %}
									{% set position_timeline = 'right' %}
								{% else %}
									{% set class_name = 'timeline-panel-container-inverted' %}
									{% set position_timeline = 'left' %}
								{% endif %}
								<li id="{{ timeline.id }}">
									<div class="{{ class_name }}">
										<div class="timeline-panel">
											<div class="timeline-heading">
												<h3>
													<a href="{{ path('app_timeline_show', {slug: timeline.slug}) }}" class="stretched-link text-decoration-none">
														{{ timeline.title }}
													</a>
												</h3>
												<p class="text-center"></p>
											</div>
											<div class="black-divider"></div>
											<div class="timeline-body">
												{{ timeline.description ? timeline.description : 'Aucune description' }}
											</div>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
		</div>
	</article>
{% endblock %}
