{% extends 'base.html.twig' %}

{% block title %}
	{{ category.title|capitalize }}
	| Catégorie
{% endblock %}

{% block description %}
	{{ category.description }}
{% endblock %}

{% block body %}
	{% include "category/components/_header.html.twig" with {portals: true} %}
	{% if category.presentation %}
		<div class="element-presentation">
			<h2><strong>{{ category.title }}</strong>, qu'est-ce que c'est ?</h2>
			<div class="content">
				{{ category.presentation|raw }}
			</div>
		</div>
	{% endif %}
	<article class="row justify-content-between m-4">
		<div class="col-12">
			<h2 class="content-title-section">
				Explorer la catégorie &laquo;&nbsp;{{ category.title }}&nbsp;&raquo;
			</h2>
		</div>
		<div class="col-md-7 pt-0 p-4">
			<h3 class="h5 mt-4 text-default fw-bold text-center"><i class="bi bi-tag-fill me-1"></i> Portails de cette catégorie</h3>
			<div class="row">
				{% for portal in portals %}
					<div class="col-md-6 my-2">
						<div class="card h-100">
							{% if portal.banner %}
								<a href="{{ vich_uploader_asset(portal) }}">
									<img src="{{ vich_uploader_asset(portal)|imagine_filter('medium_image') }}" class="card-img-top" alt="{{ portal.title }}">
								</a>
							{% endif %}
							<div class="card-body">
								<h3 class="card-title h5">
									{{ portal.title }}
								</h3>
								<p class="card-text">{{ portal.description }}</p>
							</div>
							<div class="card-footer">
								<a href="{{ path('app_portal_show', {slug: portal.slug}) }}" class="stretched-link text-decoration-none">
									Afficher
									<i class="bi bi-box-arrow-up-right"></i>
								</a>
							</div>
						</div>
					</div>
				{% else %}
					<p class="text-center text-muted">
						Aucun portail
					</p>
				{% endfor %}
			</div>
		</div>
		<aside class="col-md-4">
			<h3 class="h5 mt-4 mb-3 text-default fw-bold"><i class="bi bi-hourglass"></i> Chronologies de cette catégorie</h3>
			{% for timeline in category.timelines %}
				<p>
					<a href="{{ path('app_timeline_show', {slug: timeline.slug}) }}" class="label mx-1" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ timeline.description ? timeline.description : 'Aucune description' }}">
						{{ timeline.title }}
					</a>
				</p>
			{% else %}
				<p class="text-center text-muted">Aucune chronologie</p>
			{% endfor %}
		</aside>
	</section>
{% endblock %}
