<div class="col-md-6 col-lg-4 my-2">
    <section class="card h-100">
        {% if idiom.banner %}
            <a href="{{ vich_uploader_asset(idiom) }}">
                <img src="{{ vich_uploader_asset(idiom)|imagine_filter('medium_image') }}" class="card-img-top" alt="{{ idiom.translatedName }}">
            </a>
        {% endif %}
        <div class="card-body">
            <h3 class="card-title h5 mb-1">
                {{ idiom.translatedName }}
            </h3>
            <p class="text-muted">{{ idiom.originalName }}</p>
            <p class="card-text">{{ idiom.description }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ path('app_idiom_show', {slug: idiom.slug}) }}" class="stretched-link text-decoration-none">
                Afficher
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </section>
</div>