{% extends 'base.html.twig' %}

{% block title %}Messagerie privée{% endblock %}

{% block body %}
    <article class="mb-5 container-fluid">
        <header class="mb-4">
            <div class="row border-bottom align-items-center py-3 bg-default-light">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Messagerie privée</li>
                    </ol>
                </nav>
            </div>
        </header>

        <h2 class="list-title mb-5">Messagerie privée</h2>
        {% for message in app.flashes('success') %}
			<div class="alert alert-success alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
		{% endfor %}
        <ul class="nav nav-tabs ps-1 border-bottom-0">
            <li class="nav-item">
                <a class="nav-link {% block active_inbox %}{% endblock %}" href="{{ path('app_private_message_inbox') }}">
                    <i class="fas fa-sign-in-alt fa-fw"></i>
                    <span class="d-none d-sm-inline">Messages reçus</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block active_sendbox %}{% endblock %}" href="{{ path('app_private_message_sendbox') }}">
                    <i class="fas fa-share-square fa-fw"></i>
                    <span class="d-none d-sm-inline">Messages envoyés</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block active_create %}{% endblock %}" href="{{ path('app_private_message_create') }}">
                    <i class="fas fa-plus fa-fw"></i>
                    <span class="d-none d-sm-inline">Nouveau message</span>
                </a>
            </li>
        </ul>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title h5 mb-0">{% block tab_title %}{% endblock %}</h3>
            </div>
            <div class="card-body p-0">
                {% block content_tab %}{% endblock %}
            </div>
        </div>
	</article>

{% endblock %}