{% extends 'private_message/base.html.twig' %}

{% block title %}Messages envoyés |  {{ parent() }} {% endblock %}
{% block tab_title %}Messages envoyés{% endblock %}
{% block active_sendbox %}active{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('assets/DataTables/datatables.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content_tab %}
<div class="m-3">
    <table class="table table-striped" id="tableIndex">
        <thead>
            <tr>
                <th>Date</th>
                <th>Titre</th>
                <th>Destinataire</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for privateMessage in privateMessages %}
                <tr>
                    <td data-label="Date" data-sort="{{ privateMessage.createdAt|date('Y-m-d H:i:s') }}">
                        {{ privateMessage.createdAt|date(date_format) }}
                    </td>
                    <td data-label="Titre">
                        {{ privateMessage.title }}
                    </td>
                    <td data-label="Auteur">
                        {% if privateMessage.addressee %}
                            <a href="{{path('app_user_show', {id: privateMessage.addressee.id})}}">{{privateMessage.addressee.username}}</a>
                        {% else %}
                            Anonyme
                        {% endif %}
                    </td>
                    <td data-label="Statut">
                        {% if privateMessage.privateMessageReceived is null %}
                            <span role="button" class="badge rounded-pill bg-secondary">
                                Supprimé
                            </span>
                        {% elseif privateMessage.privateMessageReceived.readStatus %}
                            <span role="button" class="badge rounded-pill bg-success">
                                Lu
                            </span>
                        {% else %}
                            <span role="button" class="badge rounded-pill bg-danger">
                                Non lu
                            </span>
                        {% endif %}
                    </td>
                    <td data-label="Actions">
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a href="{{ path('app_private_message_sendbox_show', {id: privateMessage.id}) }}" data-bs-toggle="tooltip" title="Voir" class="btn btn-primary btn-sm">
                                <i class="fas fa-eye"></i>
                            </a>
                            {% if privateMessage.addressee %}
                                <a href="{{ path('app_private_message_conversation', {id: privateMessage.addressee.id}) }}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" title="Conversation">
                                    <i class="fas fa-comments"></i>
                                </a>
                            {% endif %}
                            {% include "Admin/components/_delete_modal.html.twig" with { element: privateMessage, path: 'app_private_message_sendbox_delete' } %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/DataTables/jQuery-3.6.0/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('assets/DataTables/datatables.min.js') }}"></script>
<script>
    $('#tableIndex').DataTable({
        language: {
            url: '/assets/DataTables/i18n/fr-FR.json',
        },
        order: [[0, 'desc']]
    });
</script>
{% endblock %}
