{% extends 'admin_layout.html.twig' %}

{% block activeWiki %} active show {% endblock %}
{% block activeArticle %}active{% endblock %}

{% block title %}Editer "{{ section.title }}"{% endblock %}

{% block page_title %}Supprimer "{{ section.title }}"{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
		<a href="{{ path('admin_app_article_list') }}" class="text-reset">
			Articles
		</a>
	</li>
    <li class="breadcrumb-item">
        <a href="{{ path('admin_app_section_list') }}" class="text-reset">
            Sections
        </a>
    </li>
    <li class="breadcrumb-item active">
        Supprimer
    </li>
{% endblock %}

{% block toolbar %}
    {% include "Admin/section/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
    <div class="card delete-modal">
        <div class="card-header bg-white">
            <h3 class="card-title h5 mb-0">Confirmation de suppression</h3>
        </div>
        <div class="card-body">
            Êtes-vous sûr de vouloir supprimer l'élément "{{ section }}" ?
        </div>
        <div class="card-footer bg-white">
            <form method="POST">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
                <a href="{{ path('app_article_show', {slug: section.article.slug}) }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-book-reader"></i> 
                    <span class="d-none d-sm-inline">Retourner à l'article</span>
                </a>
                <button type="submit" name="btn_delete" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt " aria-hidden="true"></i>
                    <span class="d-none d-sm-inline">Oui, supprimer</span>
                </button>
                ou
                <a class="btn btn-success btn-sm" href="{{ path('admin_app_section_edit', {id: section.id }) }}">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline">Éditer</span>
                    
                </a>
            </form>
        </div>
    </div>
{% endblock %}