{% extends 'Admin/extend_layout.html.twig' %}

{% block sonata_head_title %}
	Editer "{{ section.title }}"
{% endblock sonata_head_title %}

{% block sonata_breadcrumb %}
	<div class="hidden-xs">
		<ol class="nav navbar-top-links breadcrumb">
			<li>
				<a href="{{ path('sonata_admin_dashboard') }}">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li>
				<a href="{{ path('admin_app_article_section', {id: section.article.id}) }}">Gérer de "{{ section.article }}"</a>
			</li>
			<li class="active">
				<span>{{ section.title }}</span>
			</li>
		</ol>
	</div>
{% endblock sonata_breadcrumb %}

{% block sonata_page_content_nav %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown sonata-actions">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Liste d'actions <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="sonata-action-element" href="{{ path('admin_app_article_section', {id: section.article.id}) }}">
                                <i class="fas fa-plus-circle" aria-hidden="true"></i>
                                Ajouter
                            </a>
                        </li>
                        <li>
                            <a class="sonata-action-element" href="{{ path('app_article_show', {slug: section.article.slug}) }}">
                                <i class="fas fa-book-reader" aria-hidden="true"></i>
                                Retour à l'article
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock sonata_page_content_nav %}

{% block sonata_admin_content %}
    <div class="sonata-ba-content">
        <div class="sonata-ba-delete">

            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">Confirmation de suppression</h3>
                </div>
                <div class="box-body">
                    Êtes-vous sûr de vouloir supprimer l'élément "{{ section }}" sélectionné?
                </div>
                <div class="box-footer clearfix">
                    <form method="POST">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">

                        <button type="submit" name="btn_delete" class="btn btn-danger">
                            <i class="fas fa-trash-alt" aria-hidden="true"></i> Oui, supprimer
                        </button>
                        ou
                        <a class="btn btn-success" href="{{ path('admin_app_section_edit', {id: section.id }) }}">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                            Éditer
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}