{% extends 'admin_layout.html.twig' %}

{% block activeWiki %} active show {% endblock %}
{% block activeSection %}active{% endblock %}
{% block title %}Editer "{{ section.title }}"{% endblock %}
{% block page_title %}Editer "{{ section.title }}"{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
		<a href="{{ path('admin_app_article_list') }}" class="text-reset">
			Articles
		</a>
	</li>
    <li class="breadcrumb-item">
        <a href="{{ path('admin_app_section_list') }}" class="text-reset">
            Sections
        </a>
    </li>
    <li class="breadcrumb-item active">
        Editer
    </li>
{% endblock %}

{% block toolbar %}
    {% include "Admin/section/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="card border-top-primary">
            <div class="card-header">
                <div class="float-end">
                    <a href="{{ path('app_article_show', {slug: section.article.slug}) }}#part{{ section.id }}" class="btn btn-primary btn-sm" title="Consulter">
                        <i class="fas fa-book-reader"></i> 
                        <span class="d-none d-sm-inline">Consulter</span>
                    </a>
                    <a class="btn btn-danger btn-sm" href="{{ path('admin_app_section_delete', {id: section.id}) }}">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">Supprimer</span>
                    </a>
                </div>
                <h3 class="card-title h5 mb-0">
                    {{ section.article }} > {{ section }}
                </h3>
            </div>
            <div class="card-body pb-0">
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.referencedArticles) }}</div>
                    <div class="col-md-6">{{ form_row(form.referencedTimelines) }}</div>
                    <div class="col-md-6">{{ form_row(form.referencedPersons) }}</div>
                    <div class="col-md-6">{{ form_row(form.referencedPlaces) }}</div>
                </div>
            </div>

            {{ form_rest(form) }}
            <div class="card-footer">
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fas fa-save" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline">Enregistrer</span>
                </button> 
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("assets/plugins/tinymce/tinymce.min.js") }}"></script>
    <script src="{{ asset("assets/editor/editor.js") }}"></script>
    <script>   
        enableFullEditor("section_content",  "Titre 1=h3; Titre 2=h4; Titre 3=h5; Titre 4=h6;");
    </script>
{% endblock %}