{% extends 'admin_layout.html.twig' %}

{% block activeWiki %} active show {% endblock %}
{% block activeArticle %}active{% endblock %}

{% block title %}Editer "{{ section.title }}"{% endblock %}

{% block page_title %}Editer "{{ section.title }}"{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_app_article_section', {id: section.article.id}) }}" class="text-reset">
            Sections de "{{ section.article }}"
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ section.title }}
    </li>
{% endblock %}

{% block toolbar %}
    <div class="dropdown d-inline">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Action
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" href="{{ path('admin_app_article_section', {id: section.article.id}) }}">
                    <i class="fas fa-plus-circle" aria-hidden="true"></i>
                    Ajouter
                </a>
            </li>
            <li>
                <a href="{{ path('app_article_show', {slug: section.article.slug}) }}" class="dropdown-item">
                    <i class="fas fa-book-reader" aria-hidden="true"></i>
                    Retour à l'article
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="card border-top-primary">
            <div class="card-header">
                <h3 class="card-title h5 mb-0">
                    Section
                </h3>
            </div>
            <div class="card-body pb-0">
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
            </div>

            {{ form_rest(form) }}
            <div class="card-footer">
                <a href="{{ path('app_article_show', {slug: section.article.slug}) }}" class="btn btn-primary btn-sm" title="Consulter">
                    <i class="fas fa-book-reader"></i> Retourner à l'article
                </a>
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fas fa-save" aria-hidden="true"></i> Mettre à jour
                </button>
                ou
                <a class="btn btn-danger btn-sm" href="{{ path('admin_app_section_delete', {id: section.id}) }}">
                    <i class="fas fa-times" aria-hidden="true"></i> Supprimer
                </a>
            </div>
        </div>
    {{ form_end(form) }}

    {% include "Admin/components/_editor.html.twig" with {target_id: 'section_content'} %}
{% endblock %}