{% extends 'admin_layout.html.twig' %}

{% block title %}Editer "{{ place }}"{% endblock %}

{% block activePlace %}
	active show
{% endblock %}

{% block activePlaceList %}active {% endblock %}

{% block page_title %}Editer "{{ place }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_place_list') }}" class="text-reset">
			Lieu
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
    <a class="btn btn-sm btn-default" href="{{ path('admin_app_place_create') }}" data-bs-toggle="tooltip" title="Ajouter">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
    </a>
    <div class="btn-group">
        <a href="{{ path('app_place_show', {slug: place.slug}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Consulter">
            <i class="fas fa-book-reader"></i>
        </a>                   
        <a href="{{ path('admin_app_place_show', {id: place.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Afficher">
            <i class="fas fa-info-circle"></i>
        </a>
        <a data-bs-toggle="tooltip" title="Gérer l'image" class="btn btn-sm btn-default"  href="{{ path('admin_app_place_image', {id: place.id}) }}">
            <i class="fas fa-image"></i>
        </a>
        <a href="{{ path('admin_app_place_edit', {id: place.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Éditer">
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </a>
        {% include "Admin/components/_archive_modal.html.twig" with { element: place, path: 'admin_app_place_archive' } %}
        {% include "Admin/components/_delete_modal.html.twig" with { element: place, path: 'admin_app_place_delete' } %}
    </div>
{% endblock %}

{% block body %}
	{% include "Admin/place/_form.html.twig" %}
{% endblock %}
