{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ place }}"{% endblock %}

{% block activePlace %}active show{% endblock %}
{% block activePlaceList %}active{% endblock %}

{% block page_title %}
    {% if place.isArchived %}
        <i class="fas fa-archive me-1 fa-fw" data-bs-toggle="tooltip" aria-hidden="true" title="archivé"></i>
    {% endif %}
    {% if place.isSticky %}
        <i class="fas fa-thumbtack me-1" data-bs-toggle="tooltip" title="Epinglé"></i>
    {% endif %}
    {{ place }}
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_place_list') }}" class="text-reset">
			Lieu
		</a>
	</li>
	<li class="breadcrumb-item active">
		Voir
	</li>
{% endblock %}

{% block toolbar %}
    <a class="btn btn-sm btn-default" href="{{ path('admin_app_place_create') }}" data-bs-toggle="tooltip" title="Ajouter">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
    </a>
    <div class="btn-group">
        <a href="{{ path('app_place_show', {slug: place.slug}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Consulter">
            <i class="fas fa-book-reader"></i>
        </a>                   
        <a href="{{ path('admin_app_place_show', {id: place.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Afficher">
            <i class="fas fa-info-circle"></i>
        </a>
        <a data-bs-toggle="tooltip" title="Gérer l'image" class="btn btn-sm btn-default"  href="{{ path('admin_app_place_image', {id: place.id}) }}">
            <i class="fas fa-image"></i>
        </a>
        <a href="{{ path('admin_app_place_edit', {id: place.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Éditer">
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </a>
        {% include "Admin/components/_archive_modal.html.twig" with { element: place, path: 'admin_app_place_archive' } %}
        {% include "Admin/components/_delete_modal.html.twig" with { element: place, path: 'admin_app_place_delete' } %}
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">Présentation</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ place.id  }}</td>
                            </tr>
                            <tr>
                                <th>Titre</th>
                                <td>{{ place.title  }}</td>
                            </tr>
                            <tr>
                                <th>Slug</th>
                                <td>{{ place.slug  }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ place.description|raw }}</td>
                            </tr>
                            <tr>
                                <th>Histoire</th>
                                <td>{{ place.history|raw  }}</td>
                            </tr>
                            <tr>
                                <th>Présentation</th>
                                <td>{{ place.presentation|raw  }}</td>
                            </tr>
                            <tr>
                                <th>Est épinglé</th>
                                <td>{{ place.isSticky ? 'Oui' : 'Non' }}</td>
                            </tr>
                            <tr>
                                <th>Est archivé</th>
                                <td>{{ place.isArchived ? 'Oui' : 'Non' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">En bref</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Situation</th>
                                <td>{{ place.situation|nl2br }}</td>
                            </tr>
                            <tr>
                                <th>Controlé par</th>
                                <td>{{ place.dominatedBy }}</td>
                            </tr>
                            <tr>
                                <th>Population</th>
                                <td>{{ place.population }}</td>
                            </tr>
                            <tr>
                                <th>Capitale</th>
                                <td>{{ place.capitaleCity }}</td>
                            </tr>
                            <tr>
                                <th>Localisations</th>
                                <td>
                                    {% if place.localisations is not empty %}
                                        <ul>
                                            {% for localisation in place.localisations %}
                                                <li>
                                                    <a href="{{ path('admin_app_place_show', {id: localisation.id}) }}">
                                                        {{ localisation.title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Catégories</th>
                                <td>
                                    {% if place.categories is not empty %}
                                        <ul>
                                            {% for category in place.categories %}
                                                <li>
                                                    <a href="{{ path('admin_app_category_show', {id: category.id}) }}">
                                                        {{ category.title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Portails</th>
                                <td>
                                    {% if place.portals is not empty %}
                                        <ul>
                                            {% for portal in place.portals %}
                                                <li>
                                                    <a href="{{ path('admin_app_portal_show', {id: portal.id}) }}">
                                                        {{ portal.title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>
                                    {% if place.types is not empty %}
                                        <ul>
                                            {% for type in place.types %}
                                                <li>
                                                    <a href="{{ path('admin_app_placetype_show', {id: type.id}) }}">
                                                        {{ type.title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Langues</th>
                                <td>{{ place.languages }}</td>
                            </tr>
                            <tr>
                                <th>Taille</th>
                                <td>{{ place.size }}</td>
                            </tr>
                            <tr>
                                <th>Habitable</th>
                                <td>{{ place.isInhabitable }}</td>
                            </tr>
                            <tr>
                                <th>Carte</th>
                                <td>
                                    {% if place.mapFile %}
                                        {% set link_map = vich_uploader_asset(place) %}
                                        <div class="image-block">
                                            <a href="{{ link_map }}">
                                                <img src="{{ link_map|imagine_filter('gallery_thumbnail') }}" alt="{{ place.title }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Illustration</th>
                                <td>
                                    {% if place.illustration %}
                                        <div class="image-block" style="margin-bottom: 5px;">
                                            {% include "image/components/_thumbnail.html.twig" with {image:place.illustration} %}
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
