{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/colorpicker/coloris.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/color.css') }}">
{% endblock %}

{{ form_start(form) }}
    <div class="row">
        <div class="col-lg-8">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h3 class="card-title h5 mb-0">Général</h3>
                </div>
                <div class="card-body">
                    {{ form_row(form.title) }}
                    <div class="mb-3">
                        {{ form_label(form.slug) }}
                        <div class="input-group">
                            {{ form_widget(form.slug) }}
                            <span 
                                class="input-group-text" 
                                data-action="slugify" 
                                data-target="#scenario_slug" 
                                role="btton" 
                                data-source="#scenario_title"
                                title="Générer">
                                <i class="fas fa-sync-alt"></i>
                            </span>
                        </div>
                        {{ form_help(form.slug) }}
                        {{ form_errors(form.slug) }}
                    </div>
                    {{ form_row(form.pitch) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.persons) }}
                    {{ form_row(form.places) }}
                    {{ form_row(form.public) }}
                    {{ form_row(form.archived) }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h3 class="card-title h5 mb-0">Catégorisation et relations</h3>
                </div>
                <div class="card-body">
                    {{ form_row(form.categories) }}
                    {{ form_row(form.portals) }}
                    {{ form_row(form.timelines) }}
                    {{ form_row(form.imageGroup) }}
                </div>
            </div>
            <div class="card border-top-primary mt-2">
                <div class="card-header">
                    <h3 class="card-title h5 mb-0">Divers</h3>
                </div>
                <div class="card-body">
                    {{ form_row(form.defaultColor) }}
                    {{ form_row(form.comment) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="card-btn mt-3">
        {% include "Admin/components/_form_btns.html.twig" %}
    </div>
{{ form_end(form) }}

{% block javascripts %}
    <script src="{{ asset('assets/colorpicker/coloris.min.js') }}"></script>
    <script src="{{ asset("assets/ckeditor/ckeditor.js") }}"></script>
    <script src="{{ asset("assets/admin/editor.js") }}"></script>
    <script>   
        Coloris({
            el: '#scenario_defaultColor',
            swatches: [
                '#7952b3', // violet
                '#d946ef', // fuchsia
                '#d63384', // pink
                '#dc3545', // red
                '#92400e', // brown
                '#fd7e14', // orange
                '#ffc107', // yellow
                '#198754', // green
                '#3c8dbc', // blue
                '#93c5fd', // blue 300
                '#6c757d', // grey
                '#212529', // dark
            ]
        });
        Coloris.setInstance('#scenario_defaultColor', { theme: 'polaroid' });
        enableBasicEditor("scenario_description");
    </script>
{% endblock %}
