{% extends 'admin_layout.html.twig' %}

{% block title %}Historique des sauvegardes{% endblock %}
{% block activeBackup %}active{% endblock %}
{% block page_title %}Sauvegardes{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Historique des sauvegardes
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_backup_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-body p-1">
            <table class="table data-backup mb-0 table-striped">
                <thead>
                    <tr>
                        <th class="table-id">Id</th>
                        <th>Fichier</th>
                        <th>Création</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for backup in backups %}
                        <tr>
                            <td data-label="Id">{{backup.id }}</td>
                            <td data-label="Fichier" class="text-break">{{ backup.filename }}</td>
                            <td data-label="Création">{{ backup.createdAt|date(date_format) }}</td>
                            <td data-label="Actions">
                                <div class="btn-group">                   
                                    <a href="{{ path('admin_app_backup_download', {id: backup.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Télécharger">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    {% include "Admin/components/_delete_modal.html.twig" with { element: backup, path: 'admin_app_backup_delete' } %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.data-backup').DataTable({
            language: {
                url: '/assets/DataTables/i18n/fr-FR.json',
            },
            order: [[0, 'desc']]
        });
    </script>
{% endblock %}

