{% extends 'admin_layout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/vanillajs-datepicker/datepicker-bs5.min.css') }}">
{% endblock %}

{% block title %}Tableau de bord{% endblock %}
{% block activeDashboard %}active show{% endblock %}

{% block toolbar %}
	{% if is_granted('ROLE_SUPER_ADMIN') %}
		<a href="{{ path('admin_app_export') }}" class="btn btn-primary btn-sm">
			<i class="fas fa-download fa-fw"></i>
			Exporter les données
		</a>
	{% endif %}
{% endblock %}

{% block body %}
	<p>
		Bienvenue sur le panneau d'administration. Ici, vous allez pouvoir gérer l'encyclopédie et son contenu.
		Cette page vous offre une vue d'ensemble des statistiques du site. Sur le menu à droite, vous pouvez accéder à la gestion du contenu.
	</p>
	<p class="text-end mb-0 small"><span class="fw-bold">Version du logiciel :</span> {{ app_version }}</p>
	<p class="text-end mb-0 small"><span class="fw-bold">Taille de la base de données :</span> {{ size|number_format(2, ',', ' ') }} MB</p>
	<p class="text-end mb-0 small"><span class="fw-bold">Taille du dossier image :</span> {{ imagesSize }}</p>
	
	
	<div class="row">
		<div class="col-lg-7 mb-4">
			<div class="card border-top-grey">
				<div class="card-header bg-white">
					<h2 class="h5 card-title mb-0">Statistiques de l'encyclopédie</h2>
				</div>
				<div class="card-body card-show p-1">
					<table class="table stats-table mb-0">
						<tbody>
							<tr>
								<th>Catégorie</th>
								<td class="text-center">{{ stats.category }}</td>
								<td>
									{% if is_granted('ROLE_ADMIN') %}
										<a href="{{ path('admin_app_category_create') }}" class="small text-decoration-none me-3">
											<i class="fas fa-plus-circle" aria-hidden="true"></i>
											Ajouter
										</a>
										<a href="{{ path('admin_app_category_list') }}" class="small text-decoration-none">
											<i class="fas fa-list" aria-hidden="true"></i>
											Liste
										</a>
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>Portail</th>
								<td class="text-center">{{ stats.portal }}</td>
								<td>
									{% if is_granted('ROLE_ADMIN') %}
										<a href="{{ path('admin_app_portal_create') }}" class="small text-decoration-none me-3">
											<i class="fas fa-plus-circle" aria-hidden="true"></i>
											Ajouter
										</a>
										<a href="{{ path('admin_app_portal_list') }}" class="small text-decoration-none">
											<i class="fas fa-list" aria-hidden="true"></i>
											Liste
										</a>
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>Article</th>
								<td class="text-center">{{ stats.article }}</td>
								<td>
									<a href="{{ path('admin_app_article_create') }}" class="small text-decoration-none me-3">
										<i class="fas fa-plus-circle" aria-hidden="true"></i>
										Ajouter
									</a>
									<a href="{{ path('admin_app_article_list') }}" class="small text-decoration-none">
										<i class="fas fa-list" aria-hidden="true"></i>
										Liste
									</a>
								</td>
							</tr>
							<tr>
								<th>Chronologie</th>
								<td class="text-center">{{ stats.timeline }}</td>
								<td>
									<a href="{{ path('admin_app_timeline_create') }}" class="small text-decoration-none me-3">
										<i class="fas fa-plus-circle" aria-hidden="true"></i>
										Ajouter
									</a>
									<a href="{{ path('admin_app_timeline_list') }}" class="small text-decoration-none">
										<i class="fas fa-list" aria-hidden="true"></i>
										Liste
									</a>
								</td>
							</tr>
							<tr>
								<th>Image</th>
								<td class="text-center">{{ stats.image }}</td>
								<td>
									<a href="{{ path('admin_app_image_create') }}" class="small text-decoration-none me-3">
										<i class="fas fa-plus-circle" aria-hidden="true"></i>
										Ajouter
									</a>
									<a href="{{ path('admin_app_image_list') }}" class="small text-decoration-none">
										<i class="fas fa-list" aria-hidden="true"></i>
										Liste
									</a>
								</td>
							</tr>
							<tr>
								<th>Personnage</th>
								<td class="text-center">{{ stats.person }}</td>
								<td>
									{% if is_granted('ROLE_ADMIN') %}
										<a href="{{ path('admin_app_person_create') }}" class="small text-decoration-none me-3">
											<i class="fas fa-plus-circle" aria-hidden="true"></i>
											Ajouter
										</a>
										<a href="{{ path('admin_app_person_list') }}" class="small text-decoration-none">
											<i class="fas fa-list" aria-hidden="true"></i>
											Liste
										</a>
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>Lieu</th>
								<td class="text-center">{{ stats.place }}</td>
								<td>
									{% if is_granted('ROLE_ADMIN') %}
										<a href="{{ path('admin_app_place_create') }}" class="small text-decoration-none me-3">
											<i class="fas fa-plus-circle" aria-hidden="true"></i>
											Ajouter
										</a>
										<a href="{{ path('admin_app_place_list') }}" class="small text-decoration-none">
											<i class="fas fa-list" aria-hidden="true"></i>
											Liste
										</a>
									{% endif %}
								</td>
							</tr>
							{% if enable_idiom == 1 %}
								<tr>
									<th>Langue</th>
									<td class="text-center">{{ stats.idiom }}</td>
									<td>
										<a href="{{ path('admin_app_idiom_create') }}" class="small text-decoration-none me-3">
											<i class="fas fa-plus-circle" aria-hidden="true"></i>
											Ajouter
										</a>
										<a href="{{ path('admin_app_idiom_list') }}" class="small text-decoration-none">
											<i class="fas fa-list" aria-hidden="true"></i>
											Liste
										</a>
									</td>
								</tr>
							{% endif %}
							<tr>
								<th>Page</th>
								<td class="text-center">{{ stats.page }}</td>
								<td>
									{% if is_granted('ROLE_ADMIN') %}
										<a href="{{ path('admin_app_page_create') }}" class="small text-decoration-none me-3">
											<i class="fas fa-plus-circle" aria-hidden="true"></i>
											Ajouter
										</a>
										<a href="{{ path('admin_app_page_list') }}" class="small text-decoration-none">
											<i class="fas fa-list" aria-hidden="true"></i>
											Liste
										</a>
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="card border-top-grey mt-3">
				<div class="card-header bg-white">
					<h2 class="h5 card-title mb-0">Statistiques des utilisateurs</h2>
				</div>
				<div class="card-body card-show p-1">
					<table class="table stats-table mb-0">
						<tbody>
							{% if is_granted('ROLE_ADMIN') %}
								<tr>
									<th>Utilisateur</th>
									<td class="text-center">{{ stats.user }}</td>
									<td>
										<a href="{{ path('admin_app_user_create') }}" class="small text-decoration-none me-3">
											<i class="fas fa-plus-circle" aria-hidden="true"></i>
											Ajouter
										</a>
										<a href="{{ path('admin_app_user_list') }}" class="small text-decoration-none">
											<i class="fas fa-list" aria-hidden="true"></i>
											Liste
										</a>
									</td>
								</tr>
							{% endif %}
							<tr>
								<th>Note</th>
								<td class="text-center">{{ stats.note }}</td>
								<td>
									<a href="{{ path('admin_app_note_create') }}" class="small text-decoration-none me-3">
										<i class="fas fa-plus-circle" aria-hidden="true"></i>
										Ajouter
									</a>
									<a href="{{ path('admin_app_note_list') }}" class="small text-decoration-none">
										<i class="fas fa-list" aria-hidden="true"></i>
										Liste
									</a>
								</td>
							</tr>
							{% if is_granted('ROLE_ADMIN') and enable_comment == 1 %}
								<tr>
									<th>Commentaire</th>
									<td class="text-center">{{ stats.comment }}</td>
									<td>
										<a href="{{ path('admin_app_comment_list') }}" class="small text-decoration-none">
											<i class="fas fa-list" aria-hidden="true"></i>
											Liste
										</a>
									</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>

			<div class="mt-3 card">
				<div class="card-header bg-white">
					<div class="row align-items-center">
						<div class="col-md-8">
							<h2 class="h5 card-title mb-0">
								<i class="fas fa-chart-pie me-1"></i>
								{{ totalThisYear }} article{{ totalThisYear > 1 ? 's' : '' }} en {{ year }}
							</h2>
						</div>
						<div class="col-md-4">
							<form action="" method="get">
								<div class="input-group">
									<input type="text" name="year" id="year" class="form-control" value="{{ year }}" required>
									<button type="submit" class="btn btn-primary">OK</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="card-body ctx-container">
					<canvas id="ctxArticles"></canvas>	
				</div>
			</div>

			<div class="card mt-3">
				<div class="card-header bg-white">
					<h2 class="h5 card-title mb-0">
						<i class="fas fa-chart-pie me-1"></i>
						Statistiques des portails
					</h2>
				</div>
				<div class="card-body card-show p-1">
					<table class="table table-striped mb-0 data-table">
						<thead>
							<tr>
								<th>Portail</th>
								<th>Articles</th>
								<th>Personnages</th>
								<th>Lieux</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{% for item in portalStats %}
								<tr>
									<td data-label="Portail">{{ item.title }}</td>
									<td data-label="Articles">{{ item.articles }}</td>
									<td data-label="Personnages">{{ item.persons }}</td>
									<td data-label="Lieux">{{ item.places }}</td>
									<td data-label="Total">
										{{ item.articles + item.persons + item.places }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="card border-top-primary">
				<div class="card-header bg-white">
					<h2 class="h5 card-title mb-0">
						<i class="fas fa-sticky-note me-1"></i>
						Les 5 dernières notes
					</h2>
				</div>
				<div class="card-body p-1">
					<table class="table table-striped mb-0">
						<thead>
							<tr>
								<th>Titre</th>
								<th>Création</th>
								<th class="table-id">Est traité</th>
								<th style="width:40px"></th>
							</tr>
						</thead>
						<tbody>
							{% for note in notes %}
								<tr>
									<td data-label="Titre">
										<a href="{{ path('admin_app_note_show', {id: note.id}) }}" class="link-primary fw-bold">
											{{ note.title }}
										</a>
									</td>
									<td data-label="Création">{{ note.createdAt|date(date_format) }}</td>
									<td data-label="Est traitée">
										{% if note.isProcessed %}
											<div role="button" data-id="{{ note.id }}" data-action="update-processed" class="badge rounded-pill bg-success">
												Traité
											</div>
										{% else %}
											<div role="button" data-id="{{ note.id }}" data-action="update-processed" class="badge rounded-pill bg-danger">
												A traiter
											</div>
										{% endif %}
									</td>
									<td data-label="Actions">
										<div>
                                            <button 
                                                type="button" 
                                                class="btn btn-primary btn-sm" 
                                                data-bs-toggle="modal" data-bs-target="#show{{ note.id }}">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
										<div 
                                            class="modal fade" 
                                            id="show{{ note.id }}" 
                                            tabindex="-1" 
                                            aria-labelledby="show{{ note.id }}Label" 
                                            aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h3 class="modal-title h5" id="show{{ note.id }}Label">{{ note }}</h3>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">
                                                        {% if note.message is null %}
                                                            <p class="fst-italic">Aucun message</p>
                                                        {% else %}
                                                            {{ note.message|raw }}
                                                        {% endif %}
                                                        
													</div>
                                                    <div class="modal-footer justify-content-start">
                                                        <div>
                                                            {% if note.portal %}
                                                                <span class="fw-bold">Portail :</span>
                                                                <a href="{{ path('app_portal_show', {slug: note.portal.slug}) }}">
                                                                    {{ note.portal }}
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                        <div>
                                                            {% if note.category %}
																<span class="fw-bold">Catégorie :</span>
                                                                <a href="{{ path('app_category_show', {slug: note.category.slug}) }}">
                                                                    {{ note.category }}
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
												</div>
											</div>
										</div>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4" class="text-center">Aucune note</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="card-footer bg-white border-top-0">
					<a href="{{ path('admin_app_note_list') }}" class="btn btn-primary w-100 btn-sm">
						<i class="fas fa-list" aria-hidden="true"></i>
						Voir plus
					</a>
				</div>
			</div>

			<div class="mt-3 card">
				<div class="card-header bg-white">
					<h2 class="h5 card-title mb-0">
						<i class="fas fa-chart-pie me-1"></i>
						{{ total }} élément{{ total > 1 ? 's' : '' }}
					</h2>
				</div>
				<div class="card-body ctx-container">
					<canvas id="ctxTextualElement"></canvas>	
				</div>
			</div>

			<div class="card card-stats mt-3">
				<div class="card-body">
					<h3>{{ total - stats.image }}</h3>
					<p>
						élément{{ total > 1 ? 's' : '' }}
						textuel{{ total > 1 ? 's' : '' }}
						dans l'encyclopédie
					</p>
				</div>
				<div class="icon">
					<i class="fas fa-file" aria-hidden="true"></i>
				</div>
				<div class="card-footer text-center position-relative small">
					<strong>{{ stats.article }}</strong>
					article{{ stats.article > 1 ? 's' : '' }},
					<strong>{{ stats.timeline }}</strong>
					chronologie{{ stats.timeline > 1 ? 's' : '' }},
					<strong>{{ stats.person }}</strong>
					personnage{{ stats.person > 1 ? 's' : '' }}
					et
					<strong>{{ stats.place }}</strong>
					lieu{{ stats.place > 1 ? 'x' : '' }}
				</div>
			</div>

			{% if enable_forum == 1 %}
				<div class="card card-stats-forum mt-3">
					<div class="card-body">
						<h3>{{ stats.post }}</h3>
						<p>
							message{{ stats.post > 1 ? 's' : '' }} publié{{ stats.post > 1 ? 's' : '' }} sur le forum
						</p>
					</div>
					<div class="icon">
						<i class="fas fa-comment" aria-hidden="true"></i>
					</div>
				</div>
				<div class="card card-stats-forum mt-3">
					<div class="card-body">
						<h3>{{ stats.topic }}</h3>
						<p>
							sujet{{ stats.topic > 1 ? 's' : '' }} publié{{ stats.topic > 1 ? 's' : '' }} sur le forum
						</p>
					</div>
					<div class="icon">
						<i class="fas fa-comments" aria-hidden="true"></i>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{{ encore_entry_script_tags('app') }}
	<script src="{{ asset('assets/chartjs/chart.min.js') }}"></script>
	<script src="{{ asset('assets/vanillajs-datepicker/datepicker-full.min.js') }}"></script>
	<script src="{{ asset('assets/vanillajs-datepicker/fr.js') }}"></script>
	<script>
		const elem = document.querySelector('#year');
		const datepicker = new Datepicker(elem, {
			buttonClass: 'btn',
			format: 'yyyy',
			language: 'fr',
			pickLevel: 2
		});

		const totalArticle = {{ stats.article }};
		const totalTimeline = {{ stats.timeline }};
		const totalPerson = {{ stats.person }};
		const totalPlace = {{ stats.place }};
		const totalImage = {{ stats.image }};
		const myChart = new Chart(document.querySelector('#ctxTextualElement'), {
			type: 'pie',
			data: {
				labels: ['Article', 'Chronologie', 'Personnage', 'Lieu', 'Image'],
				datasets: [{
					data: [totalArticle, totalTimeline, totalPerson, totalPlace, totalImage],
					hoverOffset: 4,
				}]
			}
		});

		const json = "{{ articleByMonth|json_encode() }}";
		const stats = JSON.parse(json);

		const articleChart = new Chart(document.querySelector('#ctxArticles'), {
			type: 'bar',
			data: {
				labels: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
				datasets: [{
					label: 'Articles',
					data: stats,
					fill: false,
					tension: 0.1
				}]
			},
			options: {
				indexAxis: 'y',
				scales: {
					x: {
						beginAtZero: true
					}
				}
			}
		});
	</script>
{% endblock %}
