{% extends 'admin_layout.html.twig' %}

{% block title %}Gérer la présentation du site{% endblock %}

{% block activeSetting %}active show{% endblock %}
{% block activeAbout %}active{% endblock %}

{% block page_title %}Gérer la présentation du site{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item active">
		Présentation
	</li>
{% endblock %}


{% block body %}
    <div class="card border-top-primary">
        <div class="card-header">
            <h2 class="card-title h5 mb-0">Présentation de l'encyclopédie</h2>
        </div>
        <div class="card-body">
            <p>Cette présentation est affichée sur l'index et parle du but de l'encyclopédie, de son sujet.</p>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success btn-sm">Mettre à jour</button> 
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("assets/ckeditor/ckeditor.js") }}"></script>
    <script src="{{ asset("assets/admin/editor.js") }}"></script>
    <script>   
        enableFullEditor("about_content");
    </script>
{% endblock %}