{% extends 'Admin/extend_layout.html.twig' %}

{% block sonata_head_title %}
	Ajouter des événements à "{{ timeline.title }}"
{% endblock sonata_head_title %}

{% block sonata_page_content_nav %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Gérer "{{ timeline.title }}"</a>
			</div>

			<div class="navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown sonata-actions">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Liste d'actions
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a class="sonata-action-element" href="{{ path('admin_app_timeline_create') }}">
									<i class="fas fa-plus-circle" aria-hidden="true"></i>
									Ajouter
								</a>
							</li>
							<li>
								<a class="sonata-action-element" href="{{ path('admin_app_timeline_edit', {id: timeline.id}) }}">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									Editer
								</a>
							</li>
							<li>
								<a class="sonata-action-element" href="{{ path('admin_app_timeline_show', {id: timeline.id}) }}">
									<i class="fa fa-eye" aria-hidden="true"></i>
									Voir
								</a>
							</li>
							<li>
								<a class="sonata-action-element" href="{{ path('app_timeline_show', {slug: timeline.slug}) }}">
									<i class="fas fa-book-reader" aria-hidden="true"></i>
									Consulter
								</a>
							</li>
							<li>
								<a class="sonata-action-element" href="{{ path('admin_app_timeline_list') }}">
									<i class="fas fa-list" aria-hidden="true"></i>
									Retourner à la liste
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock sonata_page_content_nav %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/sortable/Sortable.min.js') }}"></script>
	<script src="{{ asset('assets/admin.js') }}"></script>
	<script>
		window.onload = () => {
let url = "{{ path('api_timeline_event', {'id': timeline.id}) }}";
sortable('#events', url);
}
	</script>
{% endblock %}

{% block sonata_admin_content %}
	<div class="sonata-ba-show">
		<div class="sonata-ba-view">
			{% include "Admin/components/_flashes.html.twig" %}
			<div class="row" style="margin-top:15px">
				<div class="col-md-6 col-lg-7">
					<div class="box box-primary">
						<div class="box-header">
							<h3 class="box-title">Modifier ou ajouter un événement à "{{ timeline.title }}"</h3>
						</div>
						<div class="box-body">
							{{ form_start(form) }}
							<div class="row">
								<div class="col-lg-6">
									{{ form_row(form.title) }}
								</div>
								<div class="col-lg-6">
									{{ form_row(form.duration) }}
								</div>
							</div>
							{{ form_rest(form) }}
							<button type="submit" class="btn btn-success">Enregistrer</button>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="box box-primary">
						<div class="box-header">
							<h3 class="box-title">Evénements de "{{ timeline.title }}"</h3>
							<div class="pull-right">
								<div class="help">
									<i class="fas fa-question-circle"></i>
									<span class="help-body">
										Glisser les événéments pour modifier leur ordre.
									</span>
								</div>
							</div>
						</div>
						<div class="box-body">
							{% if timeline.events is empty %}
								<p>Aucun événement</p>
							{% else %}
								<div class="box-body table-responsive no-padding">
									<table class="table">
										<tbody id="events">
											{% for event in timeline.events %}
												<tr class="sonata-ba-view-container handle" id="{{ event.id }}">
													<td>
														<div class="pull-right">
															<a href="{{ path('admin_app_timeline_event', {id:timeline.id, event: event.id}) }}" class="btn btn-default btn-sm" title="Editer">
																<i class="fas fa-edit" aria-hidden="true"></i>
															</a>
															<form method="post" action="{{ path('admin_app_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément ?');" style="display:inline-block">
																<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
																<button class="btn btn-danger btn-sm" title="Supprimer">
																	<i class="fa fa-trash-o"></i>
																</button>
															</form>
														</div>
														<h4>{{ event.title }}</h4>
														<p>{{ event.duration }}</p>
														{{ event.presentation|striptags|raw|u.truncate(190, '...', false)|raw }}
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% endif %}
						</div>
						<div class="box-footer">
							<a href="{{ path('app_timeline_show', {slug: timeline.slug}) }}" class="btn btn-sm btn-default view_link" title="Consulter">
								<i class="fas fa-book-reader"></i>
								Consulter
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
