<p class="mb-0 p-2">	
	{% set current = images|length %}
	{% set plural = images.getTotalItemCount > 1 ? 's' : '' %}
	Affichage de <span class="fw-bold">{{ current }}</span>
	sur <span class="fw-bold">{{ images.getTotalItemCount }}</span>
	image{{ plural }}
	{% if type is defined and type is not null %}
		du type <strong>{{ type }}</strong>
	{% endif %}
</p>

{% include "image/components/_not_paginated_list.html.twig" %}

<div class="navigation">
	{{ knp_pagination_render(images) }}
</div>
