<div class="modal fade" id="archiveModal{{ element.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="archiveModal{{ element.id }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content border-top-primary">
			<div class="modal-header">
				<h3 class="modal-title fs-5" id="archiveModal{{ element.id }}Label">Archivage</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% if element.isArchived %}
                    Êtes-vous sûr de vouloir désarchiver l'élément "<em>{{ element }}</em>" ?
                {% else %}
                    Êtes-vous sûr de vouloir archiver l'élément "<em>{{ element }}</em>" ?
                {% endif %}
			</div>
			<div class="modal-footer">
				<form method="post" action="{{ path(path, {'id': element.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ element.id) }}">
                    <button type="button" class="btn btn-default btn-sm" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-archive" aria-hidden="true"></i> Confirmer
                    </button>
                </form>
			</div>
		</div>
	</div>
</div>

<button type="button" class="btn btn-sm btn-default d-inline" data-bs-toggle="modal" data-bs-target="#archiveModal{{ element.id }}" data-bs-toggle="tooltip" title="Achiver">
	<i class="fas fa-archive" aria-hidden="true"></i>
</button>
