<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Gérer "{{ article.title }}"</a>
        </div>

        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown sonata-actions">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Liste d'actions <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="sonata-action-element" href="{{ path('admin_app_article_create') }}">
                                <i class="fas fa-plus-circle" aria-hidden="true"></i>
                                Ajouter
                            </a>
                        </li>
                        <li>
                            <a class="sonata-action-element" href="{{ path('app_article_show', {slug: article.slug}) }}">
                                <i class="fas fa-book-reader" aria-hidden="true"></i>
                                Consulter
                            </a>
                        </li>
                        <li>
                            <a class="sonata-action-element" href="{{ path('admin_app_article_gallery', {id: article.id}) }}">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                Gérer la galerie
                            </a>
                        </li>

                        
                        <li>
                            <a class="sonata-action-element" href="{{ path('admin_app_article_list') }}">
                                <i class="fas fa-list" aria-hidden="true"></i>
                                Retourner à la liste
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>