<div class="modal fade" id="deleteModal{{ element.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModal{{ element.id }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content delete-modal">
			<div class="modal-header">
				<h3 class="modal-title fs-5 text-danger" id="deleteModal{{ element.id }}Label">Confirmation de suppression</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Êtes-vous sûr de vouloir supprimer l'élément "<em>{{ element }}</em>" ?
			</div>
			<div class="modal-footer">
				<form method="post" action="{{ path(path, {'id': element.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ element.id) }}">
                    <button type="button" class="btn btn-default btn-sm" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i> Oui, supprimer
                    </button>
                </form>
			</div>
		</div>
	</div>
</div>

<button type="button" class="btn btn-sm btn-danger d-inline" data-bs-toggle="modal" data-bs-target="#deleteModal{{ element.id }}" data-bs-toggle="tooltip" title="Supprimer">
	<i class="fas fa-trash-alt" aria-hidden="true"></i>
	{% if full is defined %}
		Supprimer
	{% endif %}
</button>
