<style>
    #tableArticle_wrapper td,
    #tableImage_wrapper td,
    #tablePerson_wrapper td,
    #tablePlace_wrapper td {
        display: table-cell;
    }

    #tableArticle_wrapper td:before,
    #tableImage_wrapper td:before,
    #tablePerson_wrapper td:before,
    #tablePlace_wrapper td:before {
        display: none;
    }

    #tableArticle_wrapper .row,
    #tableImage_wrapper .row,
    #tablePerson_wrapper .row,
    #tablePlace_wrapper .row {
        margin: 0;
    }

    #tableArticle_wrapper .dt-row .col-sm-12,
    #tableImage_wrapper .dt-row .col-sm-12,
    #tablePerson_wrapper .dt-row .col-sm-12,
    #tablePlace_wrapper .dt-row .col-sm-12  {
        padding: 0;
        overflow-y: scroll;
        height: 600px;
    }

    .modal {
        z-index: 10010;
    }
</style>
<div class="modal fade" id="autolinkModal" tabindex="-1" aria-labelledby="autolinkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-0">
            <div class="modal-header bg-light p-2">
                <h4 class="modal-title h5" id="autolinkModalLabel">Rechercher un élément</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
                    <li class="nav-item ms-2" role="presentation">
                        <button class="nav-link active" id="article-tab" data-bs-toggle="tab" data-bs-target="#article-tab-pane" type="button" role="tab" aria-controls="article-tab-pane" aria-selected="true">Articles</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="person-tab" data-bs-toggle="tab" data-bs-target="#person-tab-pane" type="button" role="tab" aria-controls="person-tab-pane" aria-selected="false">Personnages</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="place-tab" data-bs-toggle="tab" data-bs-target="#place-tab-pane" type="button" role="tab" aria-controls="place-tab-pane" aria-selected="false">Lieux</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="article-tab-pane" role="tabpanel" aria-labelledby="article-tab" tabindex="0">
                        <table class="table table-striped" id="tableArticle">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th data-orderable="false">Choisir</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="person-tab-pane" role="tabpanel" aria-labelledby="person-tab" tabindex="0">
                        <table class="table table-striped" id="tablePerson">
                            <thead>
                                <tr>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th data-orderable="false">Choisir</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="place-tab-pane" role="tabpanel" aria-labelledby="place-tab" tabindex="0">
                        <table class="table table-striped" id="tablePlace">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th data-orderable="false">Choisir</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-0">
            <div class="modal-header bg-light p-2">
                <h4 class="modal-title h5" id="galleryModalLabel">Parcourir la galerie</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <table class="table table-striped" id="tableImage">
                    <thead>
                        <tr>
                            <th data-orderable="false">Image</th>
                            <th>Mots clés</th>
                            <th data-orderable="false">Choisir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for image in images %}
                            <tr>
                                <td class="text-center align-middle w-10">
                                    <a href="{{ vich_uploader_asset(image) }}" data-fslightbox>
                                        <img src="{{ vich_uploader_asset(image)|imagine_filter('icon_image') }}" alt="{{ image.title }}">
                                    </a>
                                </td>
                                <td class="small">
                                    <p class="mb-0 fw-bold">{{ image.title }}</p>
                                    <p class="mb-0">{{ image.keywords }}</p>
                                </td>
                                <td class="text-end w-10">
                                    <button 
                                        class="btn btn-primary btn-sm close-btn-image" 
                                        data-slug="{{ image.slug }}"
                                        data-filename="{{ image.filename }}"
                                        data-title="{{ image.title }}"
                                        data-bs-toggle="tooltip"
                                        title="choisir">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset("assets/ckeditor/ckeditor.js") }}"></script>
<script src="{{ asset("assets/admin/searchWiki.js") }}"></script>
<script>
    const articleRoute = "{{ path('api_article_index') }}";
    const personRoute = "{{ path('api_person_index') }}";
    const placeRoute = "{{ path('api_place_index') }}";

    const editor = CKEDITOR.replace( "{{target_id}}" );
    editor.config.allowedContent = true;
    enableSearchTextPlugin(articleRoute, personRoute, placeRoute, '#tablePerson', '#tableArticle', '#tablePlace', 'autolinkModal', editor);
    enableImagePlugin('#tableImage', 'galleryModal', editor)
</script>