<div class="card border-top-primary">
	<div class="card-header">
		<h3 class="card-title h5 mb-0">{{ title|default('Galerie d\'image') }}</h4>
	</div>
	<div class="card-body">
		<div class="image-container">
			{% for image in images %}
				<div class="image-block">
					<a href="{{ vich_uploader_asset(image) }}" data-fslightbox="second-lightbox">
						<img src="{{ vich_uploader_asset(image)|imagine_filter('gallery_thumbnail') }}" alt="{{ image.title }}">
					</a>
					<form action="" method="post" class="text-center">
						<input type="hidden" name="imageId" value="{{ image.id }}">
						<input type="hidden" name="_token" value="{{ csrf_token('image' ~ image.id) }}">
						<button type="submit" class="btn btn-primary btn-sm">Ajouter</button>
					</form>
				</div>
			{% else %}
				<p class="text-center">Il n'y a aucune image.</p>
			{% endfor %}
		</div>

		<div class="navigation">
			{{ knp_pagination_render(images) }}
		</div>
	</div>
</div>
