<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody id="{{ id }}">
        {% for element in elements|sort((a, b) => a.position <=> b.position) %}
            <tr class="handle" id="{{ element.id }}">
                <td data-label="Titre">
                    <a href="{{ path(path,  {slug: element.slug}) }}">{{ element }}</a>
                </td>
                <td data-label="Description">
                    {{ element.description|u.truncate(80, '...', false) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">Aucun éléments</td>
            </tr>
        {% endfor %}
    </tbody>
</table>