<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody id="portals">
        {% for portal in object.portals|sort((a, b) => a.position <=> b.position) %}
            <tr class="sonata-ba-view-container handle" id="{{ portal.id }}">
                <td>
                    <a href="{{ path('app_portal_show',  {slug: portal.slug}) }}">{{ portal }}</a>
                </td>
                <td>
                    {{ portal.description|u.truncate(150, '...', false) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">Aucun portail</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script src="{{ asset('assets/sortable/Sortable.min.js') }}"></script>
<script>
    window.addEventListener('load', () => {
        let url = "{{ path('api_category_portal_order', {'id': object.id}) }}";
        sortable('#portals', url);
    });
</script>