<div class="card border-top-primary">
    <div class="card-header">
        <h3 class="card-title h5 mb-0">Uploader une image</h3>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form_label(form.slug) }}
                    <div class="input-group">
                        {{ form_widget(form.slug) }}
                        <span 
                            class="input-group-text" 
                            data-action="slugify" 
                            data-target="#image_slug" 
                            role="btton" 
                            data-source="#image_title"
                            data-bs-toggle="tooltip"
                            title="Générer">
                            <i class="fas fa-sync-alt"></i>
                        </span>
                    </div>
                    {{ form_help(form.slug) }}
                    {{ form_errors(form.slug) }}
                </div>
            </div>
        </div>
        {{ form_row(form.description) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.keywords) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.tags) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.categories) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.portals) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="mt-2">
            <button type="submit" class="btn btn-primary btn-sm">Ajouter</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>