{% extends 'base_print.html.twig' %}

{% block title %}
	{{ person.firstname }} {{ person.lastname }}
{% endblock %}

{% block body %}
    <header>
		<p class="parents">
			<strong>Catégories :</strong>
			{{ categories|join(', ')}}
		</p>
        <p class="parents">
			<strong>Portails :</strong>
			{{ portals|join(', ')}}
		</p>
        <div class="about">
            <h2>Présentation</h2>
            {% if person.image %}
                <div class="text-center">
                    <img src="{{ vich_uploader_asset(person.image) }}" alt="{{ person.image.title }}">
                </div>
            {% endif %}
            <table>
                <tbody>
                    <tr>
                        <th class="align-top">Prénom</th>
                        <td>{{ person.firstname }}</td>
                    </tr>
                    <tr>
                        <th class="align-top">Nom</th>
                        <td>{{ person.lastname ? person.lastname : '-' }}</td>
                    </tr>
                    <tr>
                        <th class="align-top">Nom complet</th>
                        <td>{{ person.fullname ? person.fullname : person }}</td>
                    </tr>
                    {% if person.species %}
                        <tr>
                            <th class="align-top">Espèce</th>
                            <td>{{ person.species }}</td>
                        </tr>
                    {% endif %}
                    {% if person.gender %}
                        <tr>
                            <th class="align-top">Genre</th>
                            <td>{{ person.gender }}</td>
                        </tr>
                    {% endif %}
                    {% if person.nationality %}
                        <tr>
                            <th class="align-top">Nationalité</th>
                            <td>{{ person.nationality }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th class="align-top">Profession</th>
                        <td>{{ person.job ? person.job : '-' }}</td>
                    </tr>
                    {% if person.parents %}
                        <tr>
                            <th class="align-top">Parents</th>
                            <td>{{ person.parents }}</td>
                        </tr>
                    {% endif %}
                    {% if person.siblings %}
                        <tr>
                            <th class="align-top">Fratrie</th>
                            <td>{{ person.siblings }}</td>
                        </tr>
                    {% endif %}
                    {% if person.partner %}
                        <tr>
                            <th class="align-top">Conjoint</th>
                            <td>{{ person.partner }}</td>
                        </tr>
                    {% endif %}
                    {% if person.children %}
                        <tr>
                            <th class="align-top">Enfant(s)</th>
                            <td>{{ person.children }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th class="align-top">Naissance</th>
                        <td>
                            {{ person.birthday ? person.birthday : '-' }}
                            {% if person.birthdayPlace %}
                                <br> ({{  person.birthdayPlace }})
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="align-top">Mort</th>
                        <td>
                            {{ person.deathDate ? person.deathDate : '-' }}
                            {% if person.deathPlace %}
                                <br> ({{  person.deathPlace }})
                            {% endif %}
                        </td>
                    </tr>
                    {% if person.physicalDescription %}
                        <tr>
                            <th class="align-top">Physique</th>
                            <td>{{ person.physicalDescription|nl2br }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div style="margin-top:10px">
            {% for tag in person.type %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>
		<h1>{{ person.firstname }} {{ person.lastname }}</h1>
		<p>{{ person.presentation|raw }}</p>
	</header>

    {% if person.biography or person.personality %}
        <aside class="reduce">
			<p class="summary-title">
				<strong>Sommaire&nbsp;:</strong>
			</p>
			<ol>
				<li>Biographie</li>
				<li>Personnalité</li>
			</ol>
		</aside>
    {% endif %}

    {% if person.biography %}
        <article>
			<h2>1. Biographie</h2>
			<div>{{ person.biography|raw }}</div>
        </article>
    {% endif %}

    {% if person.personality %}
        <article>
			<h2>2. Personnalité</h2>
			<div>{{ person.personality|raw }}</div>
        </article>
    {% endif %}
{% endblock %}