<footer class="text-center p-5 bg-default-light">
	<h5 class="fw-bold">Encyclopédie
		{{ app_name }}</h5>
	<p class="mb-0">©
		{{ "now"|date("Y") }}
		Copyright : Céline Foucart</p>
	<p class="mt-2">
		<small>
			<a href="{{ path('app_user') }}" class="text-decoration-none fw-bold">
				<i class="bi bi-person-fill"></i>
				Tous les contributeurs
			</a>
			{% if enable_contact %}
				|
				<a class="text-decoration-none fw-bold" href="{{ path('app_contact') }}">
					Nous contacter
				</a>
			{% endif %}
			|
			<a href="{{ path('app_faq') }}" class="text-decoration-none fw-bold">FAQ</a>
		</small>
	</p>
</footer>
