<nav class="navbar navbar-expand-lg navbar-dark">
	<a class="navbar-brand text-uppercase" href="{{ path('app_home') }}"><i class="fas fa-home"></i></a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item dropdown me-3">
				<a class="nav-link text-uppercase dropdown-toggle {{ active_links(app.request, ['person', 'place', 'timeline', 'article', 'comment','articletype', 'portal', 'category', 'page']) }}" href="#" id="pages" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Encyclopédie
				</a>
				<ul class="dropdown-menu" aria-labelledby="pages">
					<li><h6 class="dropdown-header">Encyclopédie</h6></li>
					<li>
						<a class="dropdown-item" href="{{ path('app_article_index') }}">
							Tous les articles
						</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{ path('app_articletype_index') }}">
							Types d'article
						</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{ path('app_timeline_index') }}">
							Chronologies
						</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{ path('app_person_index') }}">
							Personnages
						</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{ path('app_place_index') }}">
							Lieux
						</a>
					</li>				
					{{ get_pages() }}
				</ul>
			</li>
			<li class="nav-item me-3 text-uppercase">
				<a class="nav-link {{ active_links(app.request, ['image']) }}" href="{{ path('app_image_index') }}">
					Galerie
				</a>
			</li>

			{% if is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
				<li class="nav-item dropdown me-3">
					<a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Gestion
					</a>
					<ul class="dropdown-menu text-lowercase" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{{ path('admin_app_dashboard') }}">
								<i class="fas fa-edit me-1"></i>
								Tableau de bord
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('admin_app_note_list') }}">
								<i class="fas fa-sticky-note me-1"></i>
								Notes
							</a>
						</li>
					</ul>
				</li>
			{% endif %}
			<li class="nav-item dropdown">
				<a class="nav-link text-uppercase dropdown-toggle {{ active_link(app.request, 'app_profile') }}" href="#" id="account" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					{{ app.user and app.user.username is defined ? app.user.username : 'Compte' }}
				</a>
				<ul class="dropdown-menu" aria-labelledby="account">
					{% if app.user %}
						<li>
							<a class="dropdown-item" href="{{ path('app_profile') }}">
								Compte
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_user_show', {id: app.user.id}) }}">
								Profil
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_logout') }}">
								Déconnexion
							</a>
						</li>
					{% else %}
						<li>
							<a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
						</li>
						{% if enable_registration %}
							<li>
								<a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a>
							</li>
						{% endif %}
					{% endif %}
				</ul>
			</li>
		</ul>
		<div class="ms-auto">
			<div class="nav-item dropdown me-3">
				<a class="btn btn-outline-light text-uppercase dropdown-toggle" href="#" id="gallery" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-search me-1 fa-fw"></i>
					Explorer
				</a>
				<div class="dropdown-menu dropdown-menu-end" aria-labelledby="gallery">
					<div class="dropdown-item">
						<input type="text" class="form-control" placeholder="Rechercher" id="searchable-dropdown-input">
					</div>
					<hr class="dropdown-divider mb-0">
					<div class="searchable-dropdown pt-1" id="searchable-dropdown">
						{{ get_categories() }}
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
