<nav class="navbar navbar-expand-lg navbar-dark bg-default text-uppercase position-sticky top-0 start-0 end-0">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}">{{ app_name }}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item me-3">
					<a class="nav-link {{ active_link(app.request, 'app_home') }}" href="{{ path('app_home') }}">
						Accueil
					</a>
				</li>
				<li class="nav-item dropdown me-3">
					<a class="nav-link dropdown-toggle {{ active_links(app.request, ['app_article_index', 'app_portal_index', 'app_person_index', 'app_image_index', 'app_category_index'], false) }}" href="#" id="pages" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Encyclopédie
					</a>
					<ul class="dropdown-menu text-capitalize" aria-labelledby="pages">
						<li>
							<a class="dropdown-item" href="{{ path('app_category_index') }}">
								Catégories
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_portal_index') }}">
								Portails
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_article_index') }}">
								Articles
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_timeline_index') }}">
								Chronologies
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_person_index') }}">
								Personnages
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_image_index') }}">
								Galerie
							</a>
						</li>
						{{ get_pages() }}
					</ul>
				</li>
				{% if is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
					<li class="nav-item dropdown me-3">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Administration
						</a>
						<ul class="dropdown-menu text-lowercase" aria-labelledby="navbarDropdown">
							<li>
								<a class="dropdown-item fw-bold text-muted" href="{{ path('sonata_admin_dashboard') }}">
									<i class="bi bi-pencil-square me-1"></i>
									Tableau de bord
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('admin_app_category_list') }}">
									<i class="bi bi-folder-fill me-1"></i>
									Catégories
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('admin_app_portal_list') }}">
									<i class="bi bi-tag-fill me-1"></i>
									Portails
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('admin_app_article_list') }}">
									<i class="bi bi-file-earmark-text me-1"></i>
									Articles
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('admin_app_timeline_list') }}">
									<i class="bi bi-hourglass me-1"></i>
									Chronologies
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('admin_app_image_list') }}">
									<i class="bi bi-image me-1"></i>
									Images
								</a>
							</li>
							{% if is_granted('ROLE_ADMIN') %}
								<li>
									<a class="dropdown-item" href="{{ path('admin_app_person_list') }}">
										<i class="bi bi-person-fill me-1"></i>
										Personnages
									</a>
								</li>
							{% endif %}
						</ul>
					</li>
				{% endif %}

				{% if enable_login or enable_registration %}
					<li class="nav-item dropdown">
						<a class="btn btn-outline-light dropdown-toggle" href="#" id="account" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person-fill me-1"></i>
							{{ app.user ? app.user.username : 'Compte' }}
						</a>
						<ul class="dropdown-menu text-capitalize" aria-labelledby="account">
							{% if app.user %}
								<li>
									<a class="dropdown-item" href="{{ path('app_profile') }}">
										compte
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_user_show', {id: app.user.id}) }}">
										Profil
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_logout') }}">
										Déconnexion
									</a>
								</li>
							{% else %}
								{% if enable_login %}
									<li>
										<a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
									</li>
								{% endif %}
								{% if enable_registration %}
									<li>
										<a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a>
									</li>
								{% endif %}
							{% endif %}
						</ul>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
