{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ imageType }}"{% endblock %}

{% block activeImage %}
	active show
{% endblock %}

{% block activeImageType %}active {% endblock %}

{% block page_title %}Afficher "{{ imageType }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_imagetype_list') }}" class="text-reset">
			Types d'image
		</a>
	</li>
	<li class="breadcrumb-item active">
		Voir
	</li>
{% endblock %}

{% block toolbar %}
    <a class="btn btn-sm btn-default" href="{{ path('admin_app_imagetype_create') }}" data-bs-toggle="tooltip" title="Ajouter">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
    </a>
    <a class="btn btn-sm btn-default" href="{{ path('admin_app_imagetype_list') }}" data-bs-toggle="tooltip" title="Retour à la liste">
        <i class="fas fa-list" aria-hidden="true"></i>
    </a>
    <div class="btn-group">   
        <a href="{{ path('app_image_type', {slug: imageType.slug}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Consulter">
            <i class="fas fa-book-reader"></i>
        </a>             
        <a href="{{ path('admin_app_imagetype_show', {id: imageType.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Afficher">
            <i class="fas fa-info-circle"></i>
        </a>
        <a href="{{ path('admin_app_imagetype_edit', {id: imageType.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Éditer">
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </a>
        {% include "Admin/components/_delete_modal.html.twig" with { element: imageType, path: 'admin_app_imagetype_delete' } %}
    </div>
{% endblock %}

{% block body %}
	<div class="card border-top-primary">
        <div class="card-header bg-white">
            <h2 class="card-title h5 mb-0">{{ imageType }}</h2>
        </div>
        <div class="card-body card-show">
            <table class="table table-striped mb-0">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ imageType.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ imageType.title }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ imageType.slug }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ imageType.description|nl2br }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
{% endblock %}
