{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ imageType }}"{% endblock %}

{% block activeImage %}
	active show
{% endblock %}

{% block activeImageType %}active {% endblock %}

{% block page_title %}Afficher "{{ imageType }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_imagetype_list') }}" class="text-reset">
			Types d'image
		</a>
	</li>
	<li class="breadcrumb-item active">
		Voir
	</li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'imagetype', entity: imageType, show_route: 'app_image_type' } %}
{% endblock %}

{% block body %}
	<div class="card border-top-primary">
        <div class="card-header bg-white">
            <h2 class="card-title h5 mb-0">{{ imageType }}</h2>
        </div>
        <div class="card-body card-show">
            <table class="table table-striped mb-0">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ imageType.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ imageType.title }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ imageType.slug }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ imageType.description|nl2br }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
{% endblock %}
