{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des groupe d'images{% endblock %}
{% block activeImage %} active show {% endblock %}
{% block activeImageGroupList %}active{% endblock %}
{% block page_title %}Groupe d'images{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Groupe d'images
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_image_group_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-body p-1">
            <table class="table data-table mb-0 table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Slug</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image_group in image_groups %}
                        <tr>
                            <td data-label="Titre">
                                {{ image_group.title }}
                            </td>
                            <td data-label="Slug">{{ image_group.slug }}</td>
                            <td data-label="Actions">
                                <div class="btn-group">
                                    <a href="{{ path('app_image_group_show', {slug: image_group.slug}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Consulter">
                                        <i class="fas fa-book-reader"></i>
                                    </a>                   
                                    <a href="{{ path('admin_app_image_group_show', {id: image_group.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Afficher">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a href="{{ path('admin_app_image_group_edit', {id: image_group.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    {% include "Admin/components/_delete_modal.html.twig" with { element: image_group, path: 'admin_app_image_group_delete' } %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

