{{ form_start(form) }}
    <div class="card border-top-primary">
        <div class="card-header">
            <h2 class="card-title h5 mb-0">Chronologie</h2>
        </div>
        <div class="card-body">
            {{ form_row(form.title) }}
            <div class="mb-3">
                {{ form_label(form.slug) }}
                <div class="input-group">
                    {{ form_widget(form.slug) }}
                    <span 
                        class="input-group-text" 
                        data-action="slugify" 
                        data-target="#timeline_form_slug" 
                        role="btton" 
                        data-source="#timeline_form_title"
                        data-bs-toggle="tooltip"
                        title="Générer">
                        <i class="fas fa-sync-alt"></i>
                    </span>
                </div>
                {{ form_help(form.slug) }}
                {{ form_errors(form.slug) }}
            </div>
            {{ form_row(form.description) }}
            {{ form_row(form.categories) }}
            {{ form_row(form.portals) }}
        </div>

        <div class="card-footer">
            {{ form_rest(form) }}
            {% include "Admin/components/_form_btns.html.twig" %}
        </div>
    </div>
{{ form_end(form) }}
