{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des chronologies{% endblock %}

{% block activeWiki %} active show {% endblock %}
{% block activeTimeline %}active{% endblock %}

{% block page_title %}Chronologie{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Chronologies
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_timeline_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-body p-1">
            <table class="table data-table mb-0 table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Création</th>
                        <th>Mise à jour</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for timeline in timelines %}
                        <tr>
                            <td data-label="Titre">
                                {{ timeline.title }}
                            </td>
                            <td data-label="Création" data-sort="{{ timeline.createdAt ? timeline.createdAt|date('Y-m-d H:i') : '' }}">
                                {{ timeline.createdAt|date(date_format) }}
                            </td>
                            <td data-label="Mise à jour" data-sort="{{ timeline.updatedAt ? timeline.updatedAt|date('Y-m-d H:i') : '' }}">
                                {{ timeline.updatedAt ? timeline.updatedAt|date(date_format) : '' }}
                            </td>
                            <td data-label="Actions">
                                <div class="btn-group">
                                    <a href="{{ path('app_timeline_show', {slug: timeline.slug}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Consulter">
                                        <i class="fas fa-book-reader"></i>
                                    </a>                   
                                    <a href="{{ path('admin_app_timeline_show', {id: timeline.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Afficher">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a href="{{ path('admin_app_timeline_event', {id: timeline.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Gérer les événements">
                                        <i class="fas fa-calendar" aria-hidden="true"></i>
                                    </a>
                                    <a href="{{ path('admin_app_timeline_edit', {id: timeline.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    {% include "Admin/components/_delete_modal.html.twig" with { element: timeline, path: 'admin_app_timeline_delete' } %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

