{{ form_start(form) }}
    <div class="row">
        <div class="col-md-9 mb-2">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Contenu</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.translatedName) }}
                    {{ form_row(form.originalName) }}
                    <div class="mb-3">
                        {{ form_label(form.slug) }}
                        <div class="input-group">
                            {{ form_widget(form.slug) }}
                            <span 
                                class="input-group-text" 
                                data-action="slugify" 
                                data-target="#idiom_form_slug" 
                                role="btton" 
                                data-source="#idiom_form_translatedName"
                                data-bs-toggle="tooltip"
                                title="Générer">
                                <i class="fas fa-sync-alt"></i>
                            </span>
                        </div>
                        {{ form_help(form.slug) }}
                        {{ form_errors(form.slug) }}
                    </div>
                    {{ form_row(form.presentation) }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Informations</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.portals) }}
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="card border-top-primary mt-3">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Illustration</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.imageBanner) }}
                </div>
            </div>
        </div>
    </div>

    <div class="card-btn mt-3">
        {% include "Admin/components/_form_btns.html.twig" %}
        {{ form_rest(form) }}
    </div>
{{ form_end(form) }}

<script src="{{ asset("assets/ckeditor/ckeditor.js") }}"></script>
<script src="{{ asset("assets/admin/editor.js") }}"></script>
<script>   
    enableFullEditor("idiom_form_presentation", "p;h2;h3;h4;h5;h6;pre;address;div");
</script>
