{% extends 'Admin/idiom/show_base.html.twig' %}

{% block show_tab %}
    <div class="card border-top-primary">
        <div class="card-header">
            <div class="float-end">
                <a href="{{ path('admin_app_idiom_article_create', {id: idiom.id }) }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-plus-circle" aria-hidden="true"></i>
                    Ajouter
                </a>
                <a href="{{ path('admin_app_idiom_order', {id: idiom.id}) }}" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" title="Ordonner le contenu">
                    <i class="fas fa-sort-amount-down-alt" aria-hidden="true"></i>
                    Ordonner
                </a>
            </div>
            <h2 class="h5 mb-0 card-title">Articles de cette langue</h2>
        </div>
        <div class="card-body p-1">
            <table class="table data-table mb-0 table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Catégorie</th>
                        <th>Création</th>
                        <th>Mise à jour</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in idiom.idiomArticles %}
                    <tr>
                        <td data-label="Titre">{{ article.title }}</td>
                        <td data-label="Catégorie">{{ article.category ?  article.category.title : '' }}</td>
                        <td data-label="Création" data-sort="{{ article.createdAt|date('Y-m-d H:i') }}">
                            {{ article.createdAt|date(date_format) }}
                        </td>
                        <td data-label="Mise à jour" data-sort="{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i') : '' }}">
                            {{ article.updatedAt ? article.updatedAt|date(date_format) : '' }}
                        </td>
                        <td data-label="Actions">
                            <div class="btn-group">
                                <a href="{{ path('app_idiom_show_article', {idiom: idiom.slug, article: article.slug}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Consulter">
                                    <i class="fas fa-book-reader"></i>
                                </a>
                                <a href="{{ path('admin_app_idiom_article_gallery', {id: article.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Galerie">
                                    <i class="fas fa-image" aria-hidden="true"></i>
                                </a>
                                <a href="{{ path('admin_app_idiom_article_edit', {id: article.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </a>
                                {% include "Admin/components/_delete_modal.html.twig" with { element: article, path: 'admin_app_idiom_article_delete' } %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}