{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}
{% block activeAdmin %}active show{% endblock %}
{% block activeComment %} active {% endblock %}
{% block page_title %}Commentaire{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Commentaire
    </li>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-body p-1">
            <table class="table data-table mb-0 table-striped">
                <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>Création</th>
                        <th>Article</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        <tr>
                            <td data-label="Auteur">
                                {{ comment.author.username }}
                            </td>
                            <td data-label="Création" data-sort="{{ comment.createdAt|date('Y-m-d H:i') }}">
                                {{ comment.createdAt|date(date_format) }}
                            </td>
                            <td data-label="Article">
                                {{ comment.article.title }}
                            </td>
                            <td data-label="Actions">
                                <div class="btn-group">            
                                    <a href="{{ path('admin_app_comment_show', {id: comment.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Afficher">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a href="{{ path('admin_app_comment_edit', {id: comment.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    {% include "Admin/components/_delete_modal.html.twig" with { element: comment, path: 'admin_app_comment_delete' } %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
