<a class="btn btn-sm btn-default" href="{{ path('admin_app_forum_category_create') }}" data-bs-toggle="tooltip" title="Ajouter">
    <i class="fas fa-plus-circle" aria-hidden="true"></i>
</a>
<a class="btn btn-sm btn-default" href="{{ path('admin_app_forum_category_list') }}" data-bs-toggle="tooltip" title="Retour à la liste">
    <i class="fas fa-list" aria-hidden="true"></i>
</a>
<div class="btn-group">
    <a href="{{ path('app_forum_category_show', {slug: category.slug}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Consulter">
        <i class="fas fa-book-reader"></i>
    </a>                   
    <a href="{{ path('admin_app_forum_category_show', {id: category.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Afficher">
        <i class="fas fa-info-circle"></i>
    </a>
    <a href="{{ path('admin_app_forum_category_edit', {id: category.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Éditer">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
    </a>
    {% include "Admin/components/_delete_modal.html.twig" with { element: category, path: 'admin_app_forum_category_delete' } %}
</div>