{{ form_start(form) }}
    <div class="row">
        <div class="col-md-9 mb-2">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Contenu</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.title) }}
                    <div class="mb-3">
                        {{ form_label(form.slug) }}
                        <div class="input-group">
                            {{ form_widget(form.slug) }}
                            <span 
                                class="input-group-text" 
                                data-action="slugify" 
                                data-target="#category_form_slug" 
                                role="btton" 
                                data-source="#category_form_title"
                                data-bs-toggle="tooltip"
                                title="Générer">
                                <i class="fas fa-sync-alt"></i>
                            </span>
                        </div>
                        {{ form_help(form.slug) }}
                        {{ form_errors(form.slug) }}
                    </div>
                    {{ form_row(form.presentation) }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Informations</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.keywords) }}
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="card border-top-primary mt-3">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Illustration</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.imageBanner) }}
                </div>
            </div>
        </div>
    </div>

    <div class="card-btn mt-3">
        <button class="btn btn-success btn-sm" type="submit" name="btn_save_and_edit">
            <i class="fas fa-save" aria-hidden="true"></i>
            Enregistrer
        </button>
        <button type="submit" class="btn btn-success btn-sm" name="btn_save_and_list">
            <i class="fas fa-save"></i>
            <i class="fas fa-list" aria-hidden="true"></i>
            Enregistrer et retourner à la liste
        </button>
        <button class="btn btn-success btn-sm" type="submit" name="btn_save_and_create">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
            Enregistrer et ajouter
        </button>
        {{ form_rest(form) }}
    </div>
{{ form_end(form) }}

{% include "Admin/components/_editor.html.twig" with {target_id: 'category_form_presentation'} %}
