{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ category }}"{% endblock %}

{% block activeWiki %}active show{% endblock %}
{% block activeCategory %}active{% endblock %}

{% block page_title %}Afficher "{{ category }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_category_list') }}" class="text-reset">
			Catégories
		</a>
	</li>
	<li class="breadcrumb-item active">
		Voir
	</li>
{% endblock %}

{% block toolbar %}
    {% include "Admin/category/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">{{ category }}</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Titre</th>
                                <td>
                                    <a href="{{ path('app_category_show', {slug: category.slug}) }}">
                                        {{ category.title }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Mots clés</th>
                                <td>{{ category.keywords }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ category.description|nl2br }}</td>
                            </tr>
                            <tr>
                                <th>Présentation</th>
                                <td>{{ category.presentation|raw }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card border-top-primary mt-3">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">Bannière</h2>
                </div>
                <div class="card-body card-show">
                    {% if category.banner %}
                        <img src="{{ vich_uploader_asset(category) }}" class="img-fluid" alt="bannière de {{ category.title }}">
                        <p class="text-center">{{ category.banner }}</p>
                    {% else %}
                        <p class="text-center">Aucune bannière</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">Méta données</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Slug</th>
                                <td>{{ category.slug }}</td>
                            </tr>
                            <tr>
                                <th>Création</th>
                                <td>{{ category.createdAt|date(date_format) }}</td>
                            </tr>
                            <tr>
                                <th>Mise à jour</th>
                                <td>{{ category.updatedAt ? category.updatedAt|date(date_format) : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

	
{% endblock %}
