{% extends 'admin_layout.html.twig' %}

{% block title %}Ordonner les éléments de "{{ category }}"{% endblock %}

{% block activeWiki %}active show{% endblock %}
{% block activeCategory %}active{% endblock %}

{% block page_title %}Afficher "{{ category }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_category_list') }}" class="text-reset">
			Catégorie
		</a>
	</li>
    <li class="breadcrumb-item">
		<a href="{{ path('admin_app_category_show', {id: category.id}) }}" class="text-reset">
            {{ category }}
        </a>
	</li>
	<li class="breadcrumb-item active">
		Gérer les portails et les chronologies
	</li>
{% endblock %}

{% block toolbar %}
    <a class="btn btn-sm btn-default" href="{{ path('admin_app_category_create') }}" data-bs-toggle="tooltip" title="Ajouter">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
    </a>
    <div class="btn-group">
        <a href="{{ path('app_category_show', {slug: category.slug}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Consulter">
            <i class="fas fa-book-reader"></i>
        </a>                   
        <a href="{{ path('admin_app_category_show', {id: category.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Afficher">
            <i class="fas fa-info-circle"></i>
        </a>                 
        <a href="{{ path('admin_app_category_sort', {id: category.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Ordonner">
            <i class="fas fa-sort-amount-down-alt"></i>
        </a>
        <a href="{{ path('admin_app_category_edit', {id: category.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Éditer">
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </a>
        {% include "Admin/components/_delete_modal.html.twig" with { element: category, path: 'admin_app_category_delete' } %}
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <div class="float-end">
                        <div class="help">
                            <i class="fas fa-question-circle"></i>
                            <span class="help-body">
                                Glisser les portails pour modifier leur ordre.
                            </span>
                        </div>
                    </div>
                    <h2 class="card-title h5 mb-0">Portails</h2>
                </div>
                <div class="card-body">
                    {{ include('Admin/components/_sortable_children.html.twig', {elements: category.portals, path:'app_portal_show', id: 'portals'}) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <div class="float-end">
                        <div class="help">
                            <i class="fas fa-question-circle"></i>
                            <span class="help-body">
                                Glisser les chronologie pour modifier leur ordre.
                            </span>
                        </div>
                    </div>
                    <h2 class="card-title h5 mb-0">Chronologies</h2>
                </div>
                <div class="card-body">
                    {{ include('Admin/components/_sortable_children.html.twig', {elements: category.timelines, path:'app_timeline_show', id: 'timelines'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/sortable/Sortable.min.js') }}"></script>
    <script>
        window.addEventListener('load', () => {
            let url = "{{ path('api_category_portal_order', {'id': category.id}) }}";
            sortable('#portals', url);
        });
        window.addEventListener('load', () => {
            let url = "{{ path('api_category_timeline_order', {'id': category.id}) }}";
            sortable('#timelines', url);
        });
    </script>
{% endblock %}