{% extends 'admin_layout.html.twig' %}

{% block title %}Ordonner les éléments de "{{ category }}"{% endblock %}

{% block activeWiki %}active show{% endblock %}
{% block activeCategory %}active{% endblock %}

{% block page_title %}Afficher "{{ category }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_category_list') }}" class="text-reset">
			Catégories
		</a>
	</li>
	<li class="breadcrumb-item active">
		Ordonner
	</li>
{% endblock %}

{% block toolbar %}
    {% include "Admin/category/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <div class="float-end">
                        <div class="help">
                            <i class="fas fa-question-circle"></i>
                            <span class="help-body">
                                Glisser les portails pour modifier leur ordre.
                            </span>
                        </div>
                    </div>
                    <h2 class="card-title h5 mb-0">Portails</h2>
                </div>
                <div class="card-body">
                    {{ include('Admin/components/_sortable_children.html.twig', {elements: category.portals, path:'app_portal_show', id: 'portals'}) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <div class="float-end">
                        <div class="help">
                            <i class="fas fa-question-circle"></i>
                            <span class="help-body">
                                Glisser les chronologie pour modifier leur ordre.
                            </span>
                        </div>
                    </div>
                    <h2 class="card-title h5 mb-0">Chronologies</h2>
                </div>
                <div class="card-body">
                    {{ include('Admin/components/_sortable_children.html.twig', {elements: category.timelines, path:'app_timeline_show', id: 'timelines'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/sortable/Sortable.min.js') }}"></script>
    <script>
        window.addEventListener('load', () => {
            let url = "{{ path('api_category_portal_order', {'id': category.id}) }}";
            sortable('#portals', url);
        });
        window.addEventListener('load', () => {
            let url = "{{ path('api_category_timeline_order', {'id': category.id}) }}";
            sortable('#timelines', url);
        });
    </script>
{% endblock %}