{% block stylesheets %}
    {{ encore_entry_link_tags('coloris') }}
{% endblock %}

{{ form_start(form) }}
    <div class="card border-top-primary">
        <div class="card-header bg-white">
            <h2 class="card-title h5 mb-0">Groupe</h2>
        </div>
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="card-btn mt-3">
        {% include "Admin/components/_form_btns.html.twig" %}
    </div>
{{ form_end(form) }}


{% block javascripts %}
    {{ encore_entry_script_tags('coloris') }}
{% endblock %}

