{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/colorpicker/coloris.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/color.css') }}">
{% endblock %}

{{ form_start(form) }}
    <div class="card border-top-primary">
        <div class="card-header bg-white">
            <h2 class="card-title h5 mb-0">Groupe</h2>
        </div>
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="card-btn mt-3">
        {% include "Admin/components/_form_btns.html.twig" %}
    </div>
{{ form_end(form) }}


{% block javascripts %}
    <script src="{{ asset('assets/colorpicker/coloris.min.js') }}"></script>
    <script>
        Coloris({
            el: '#forum_group_colour',
            swatches: [
                '#FF9900',
                '#9900CC',
                '#8C2800',
                '#008844',
                '#CC3399',
                '#DF2020'
            ]
        });
        Coloris.setInstance('#forum_group_colour', { theme: 'polaroid' });
    </script>
{% endblock %}

