{% extends 'Admin/forum_category/base.html.twig' %}

{% block title %}Editer "{{ forum_group }}"{% endblock %}
{% block page_title %}Editer "{{ forum_group }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_forum_category_list') }}" class="text-reset">
			Forum
		</a>
	</li>
    <li class="breadcrumb-item">
		<a href="{{ path('admin_app_forum_group_list') }}" class="text-reset">
			Groupes
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/forum_group/_toolbar.html.twig' %}
{% endblock %}

{% block body %}
    {{ include('Admin/forum_group/_form.html.twig') }}
{% endblock %}
