{% extends 'base.html.twig' %}

{% block title %}
	Lieux du type {{ type }}
{% endblock %}

{% block body %}

    <article class="container-fluid">
		<header class="text-center pb-4">
            <div class="row border-bottom align-items-center py-3 mb-5 bg-default-light">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_place_index') }}">Lieux</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Type de lieux</li>
                    </ol>
                </nav>
            </div>

            <p class="w-75 m-auto mb-2">
                {% for tag in types %}
                    <a href="{{ path('app_place_type', {slug: tag.slug}) }}" class="badge rounded-pill bg-secondary link-light text-decoration-none me-1">
                        {{ tag }}
                    </a>
                {% endfor %}
            </p>
			<h2 class="h4">
				Galerie des lieux de type <strong>{{ type }}</strong>
			</h2>
			<p class="w-75 m-auto pt-2 lh-lg text-muted">
				{{ type.description }}
			</p>
		</header>
        <p>
            {% set total = places.getTotalItemCount %}            
            {% set current = places|length %}
            Affichage de <span class="fw-bold">{{ current }}</span>
            sur <span class="fw-bold">{{ total }}</span>
            lieu{{ total > 1 ? 'x' : '' }}.
        </p>
        <div class="row">
            {% for place in places %}
                <div class="col-md-6 col-lg-4 my-2">
                    {% include 'place/_place_card.html.twig' %}
                </div>
            {% endfor %}
        </div>

        <div class="navigation mb-4">
            {{ knp_pagination_render(places) }}
        </div>
    </article>
{% endblock %}