{{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-end pe-1" style="gap:10px">
                {{ form_row(form.isSticky) }}
                {{ form_row(form.isArchived) }}
            </div>
        </div>
        <div class="col-md-8 mb-2">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Présentation</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.firstname) }}</div>
                        <div class="col-md-6">{{ form_row(form.lastname) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_label(form.fullname) }}
                                <div class="input-group">
                                    {{ form_widget(form.fullname) }}
                                    <span 
                                        class="input-group-text"
                                        role="btton"
                                        id="fullnameAction"
                                        data-bs-toggle="tooltip"
                                        title="Générer">
                                        <i class="fas fa-sync-alt"></i>
                                    </span>
                                </div>
                                {{ form_errors(form.fullname) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_label(form.slug) }}
                                <div class="input-group">
                                    {{ form_widget(form.slug) }}
                                    <span 
                                        class="input-group-text" 
                                        data-action="slugify" 
                                        data-target="#person_form_slug" 
                                        role="btton" 
                                        data-source="#person_form_fullname"
                                        data-bs-toggle="tooltip"
                                        title="Générer">
                                        <i class="fas fa-sync-alt"></i>
                                    </span>
                                </div>
                                {{ form_help(form.slug) }}
                                {{ form_errors(form.slug) }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    {{ form_row(form.presentation) }}
                    {{ form_row(form.biography) }}
                    {{ form_row(form.personality) }}   
                    {{ form_row(form.comment) }}                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Catégorisation</h2>
                </div>
                <div class="card-body">
                    {{ form_row(form.categories) }}
                    {{ form_row(form.portals) }}
                    {{ form_row(form.type) }} 
                </div>
            </div>
            <div class="card border-top-primary mt-3">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">En bref</h2>
                </div>
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.birthday) }}</div>
                        <div class="col-md-6">{{ form_row(form.birthdayPlace) }}</div>
                        <div class="col-md-6">{{ form_row(form.deathDate) }}</div>
                        <div class="col-md-6">{{ form_row(form.deathPlace) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.species) }}</div>
                        <div class="col-md-6">{{ form_row(form.gender) }}</div>
                    </div>  
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.nationality) }}</div>
                        <div class="col-md-6">{{ form_row(form.job) }}</div>
                    </div>  
                    {{ form_row(form.description) }}
                    {{ form_row(form.physicalDescription) }} 
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.parents) }}</div>
                        <div class="col-md-6">{{ form_row(form.siblings) }}</div>
                        <div class="col-md-6">{{ form_row(form.partner) }}</div>
                        <div class="col-md-6">{{ form_row(form.children) }}</div>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    <div class="card-btn mt-3">
        {% include "Admin/components/_form_btns.html.twig" %}
        {{ form_rest(form) }}
    </div>
{{ form_end(form) }}

<script src="{{ asset("assets/ckeditor/ckeditor.js") }}"></script>
<script src="{{ asset("assets/admin/editor.js") }}"></script>
<script>   
    const formatTags = "p;h3;h4;h5;h6;pre;address;div";
    enableFullEditor("person_form_presentation", formatTags);
    enableFullEditor("person_form_biography", formatTags);
    enableFullEditor("person_form_personality", formatTags);
    enableFullEditor("person_form_comment", formatTags);
</script>
