{% extends 'admin_layout.html.twig' %}

{% block title %}Gérer l'image de "{{ person }}"{% endblock %}

{% block activePerson %}active show{% endblock %}
{% block activePersonList %}active{% endblock %}

{% block page_title %}Gérer l'image de "{{ person }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_person_list') }}" class="text-reset">
			Personnages
		</a>
	</li>
	<li class="breadcrumb-item active">
		Gérer l'image
	</li>
{% endblock %}

{% block toolbar %}
    {% include "Admin/person/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
	{% if person.image is null %}
		{{ include('Admin/components/_upload_image.html.twig') }}
	{% else %}
		<div class="card border-top-primary">
			<div class="card-header">
				<h3 class="card-title h5 mb-0">Illustration du personnage</h3>
			</div>
			<div class="card-body card-show no-padding">
				<table class="table">
					<tbody>
						<tr class="sonata-ba-view-container">
							<th>Fichier</th>
							<td>{{ person.image.filename }}</td>
							<td rowspan="4" style="width: 180px;">
								<div class="image-block" style="margin-bottom: 5px;">
									{% include "image/components/_thumbnail.html.twig" with {image:person.image} %}
								</div>
							</td>
						</tr>
						<tr>
							<th>Nom</th>
							<td>{{ person.image.title }}</td>
						</tr>
						<tr>
							<th>Mots clé</th>
							<td>{{ person.image.keywords }}</td>
						</tr>
						<tr>
							<th>Action</th>
							<td>
								<form action="" method="post">
									<a class="btn btn-default btn-sm" href="{{ path('app_person_show', {slug: person.slug}) }}">
										<i class="fas fa-eye" aria-hidden="true"></i>
										Afficher le personnage
									</a>
									<a class="btn btn-default btn-sm" href="{{ path('admin_app_image_edit', {id: person.image.id}) }}">
										<i class="fas fa-edit" aria-hidden="true"></i>
										Éditer l'image
									</a>
									<input type="hidden" name="imageId" value="{{ person.image.id }}">
									<input type="hidden" name="_token" value="{{ csrf_token('image' ~ person.image.id) }}">
									<input type="hidden" name="delete" value="delete">
									<button type="submit" class="btn btn-danger btn-sm">Enlever</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}
	<div class="row mt-3">
		<aside class="col-md-4 mb-3">
			<div class="card border-top-primary">
				<div class="card-header">
					<h3 class="card-title h5 mb-0">Recherche</h3>
				</div>
				<div class="card-body">
					{{ form_start(searchForm) }}
					<h4 class="mb-3 fw-bold h6">Par mot clé</h4>
					{{ form_widget(searchForm.query) }}
					<h4 class="mt-4 mb-3 fw-bold h6">Par catégorie</h4>
					{{ form_widget(searchForm.categories) }}
					<h4 class="mt-4 mb-3 fw-bold h6">Par portail</h3>
					{{ form_widget(searchForm.portals) }}
					<div class="mt-2">
						<a href="{{ path('admin_app_person_image', {id: person.id}) }}" class="btn btn-primary btn-sm">Tout afficher</a>
						<button type="submit" class="btn btn-primary btn-sm">Rechercher</button>
					</div>
					{{ form_end(searchForm) }}
				</div>
			</div>
		</aside>
		<article class="col-md-8">
			{{ include('Admin/components/_item_gallery.html.twig', {title: 'Ajouter une image de la Galerie de '~ app_name}) }}
		</article>
	</div>
{% endblock %}
