{% if disable_type is not defined %}
	{% set disable_type = false %}
{% endif %}
{% if with_association is not defined %}
	{% set with_association = true %}
{% endif %}

<div class="about-block">
	<div class="about-title px-1 bg-light border"> 
	{% if disable_type  == false %}
		<small>
			{% for tag in person.type %}
				<span class="badge rounded-pill bg-secondary">{{ tag }}</span>
			{% else %}
				<span class="badge rounded-pill bg-secondary">Non tagué</span>
			{% endfor %}
		</small>
	{% endif %}
		<p class="mb-0">
			<a href="{{ path('app_person_show', {slug: person.slug}) }}" class="text-decoration-none text-reset stretched-link fs-5">
				{{ person.firstname }} {{ person.lastname }}
			</a>
		</p>
		{% if with_association %}
			<div>
				<i class="fas fa-tag small me-1"></i>
				{% for portal in person.portals %}
					<span class="person-label small">
						{{ portal.title }}
					</span>
				{% else %}
					<span>Aucun portail</span>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="about-card">
		<div class="content-card">
			{% if person.image %}
				<img src="{{ vich_uploader_asset(person.image)|imagine_filter('card_image') }}" alt="{{ person.image.title }}" class="about-img">
			{% endif %}
			<div class="about-content-card">
				<p>{{ person.presentation|striptags|raw|u.truncate(100, '...', false)|raw }}</p>
			</div>
		</div>
	</div>
</div>
