{% extends 'base.html.twig' %}
{% block activePerson %}active
{% endblock %}

{% block title %}
	{{ person }}
	| Personnages
{% endblock %}

{% block description %}
	{{ person.description }}
{% endblock %}

{% block body %}
	<header class="bg-default-light border-bottom">
		<div class="pt-3 border-bottom container-fluid">
			<div class="row align-items-center">
				<div class="col-md-6">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="{{ path('app_person_index') }}">Personnages</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">{{ person }}</li>
						</ol>
					</nav>
				</div>
				<div class="col-md-6">{{ include('includes/_search.html.twig', { route_name: 'app_person_index' }) }}</div>
			</div>
		</div>
		<div class="item-heading position-relative">
			{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
				<div class="p-2 position-absolute top-0" style="right:0px">
					<a href="{{ path('admin_app_person_edit', {id: person.id}) }}" class="btn btn-outline-secondary btn-sm" title="administrer">
						<i class="fas fa-pencil-alt"></i>
					</a>
					<a href="{{ path('admin_app_person_image', {id: person.id}) }}" class="btn btn-outline-secondary btn-sm" title="gérer l'image">
						<i class="fas fa-image"></i>
					</a>
				</div>
			{% endif %}
			<p>
				{% for category in person.categories %}
					<a href="{{ path('app_category_show', {slug: category.slug}) }}" class="label mx-1">
						<i class="fas fa-folder me-1"></i>
						{{ category.title }}
					</a>
				{% endfor %}
			</p>
			<h1 class="mb-4">
				<i class="fas fa-user me-1"></i>
				{{ person }}
				<div class="float-end">
					{% if person.isArchived %}
						<i class="fas fa-archive me-1 fa-fw" data-bs-toggle="tooltip" aria-hidden="true" title="archivé"></i>
					{% endif %}
				</div>
			</h1>

			<p class="lead mb-2">{{ person.description }}</p>
		</div>
	</header>
	<section class="mt-4 px-4 container-fluid">
		<aside class="about-person">
			<h2 class="about-person-title p-1">{{ person }}</h2>
			{% if person.image %}
				<div class="text-center mb-2">
					<a href="{{ path('app_image_show', {slug: person.image.slug}) }}">
						<img src="{{ vich_uploader_asset(person.image)|imagine_filter('gallery_thumbnail') }}" alt="{{ person.image.title }}">
					</a>
				</div>
			{% endif %}

			<h3 class="h6 bg-default-light p-1 text-center">Identité</h3>
			<table>
				<tbody>
					<tr>
						<th class="align-top">Prénom</th>
						<td>{{ person.firstname }}</td>
					</tr>
					<tr>
						<th class="align-top">Nom</th>
						<td>{{ person.lastname ? person.lastname : '-' }}</td>
					</tr>
					<tr>
						<th class="align-top">Nom complet</th>
						<td>{{ person.fullname ? person.fullname : person }}</td>
					</tr>
					{% if person.species %}
						<tr>
							<th class="align-top">Espèce</th>
							<td>{{ person.species }}</td>
						</tr>
					{% endif %}
					{% if person.gender %}
						<tr>
							<th class="align-top">Genre</th>
							<td>{{ person.gender }}</td>
						</tr>
					{% endif %}
					{% if person.nationality %}
						<tr>
							<th class="align-top">Nationalité</th>
							<td>{{ person.nationality }}</td>
						</tr>
					{% endif %}
					<tr>
						<th class="align-top">Profession</th>
						<td>{{ person.job ? person.job : '-' }}</td>
					</tr>
				</tbody>
			</table>
			{% if person.parents or person.siblings or person.partner or person.children %}
				<h3 class="h6 bg-default-light p-1 text-center">Famille</h3>
				<table>
					<tbody>
						{% if person.parents %}
							<tr>
								<th class="align-top">Parents</th>
								<td>{{ person.parents }}</td>
							</tr>
						{% endif %}
						{% if person.siblings %}
							<tr>
								<th class="align-top">Fratrie</th>
								<td>{{ person.siblings }}</td>
							</tr>
						{% endif %}
						{% if person.partner %}
							<tr>
								<th class="align-top">Conjoint</th>
								<td>{{ person.partner }}</td>
							</tr>
						{% endif %}
						{% if person.children %}
							<tr>
								<th class="align-top">Enfant(s)</th>
								<td>{{ person.children }}</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			{% endif %}

			{% if person.birthday or person.birthdayPlace or person.deathDate or person.deathPlace %}
				<h3 class="h6 bg-default-light p-1 text-center">Biographie</h3>
				<table>
					<tbody>
						<tr>
							<th class="align-top">Naissance</th>
							<td>{{ person.birthday ? person.birthday : '-' }}</td>
						</tr>
						<tr>
							<th class="align-top text-nowrap">Lieu de naissance</th>
							<td>{{ person.birthdayPlace ? person.birthdayPlace : '-' }}</td>
						</tr>
						<tr>
							<th class="align-top">Mort</th>
							<td>{{ person.deathDate ? person.deathDate : '-' }}</td>
						</tr>
						<tr>
							<th class="align-top">Lieu de mort</th>
							<td>{{ person.deathPlace ? person.deathPlace : '-' }}</td>
						</tr>
					</tbody>
				</table>
			{% endif %}
			{% if person.physicalDescription %}
				<h3 class="h6 bg-default-light p-1 text-center">Physique</h3>
				<table>
					<tbody>
						<tr>
							<td>{{ person.physicalDescription|nl2br }}</td>
						</tr>
					</tbody>
				</table>
			{% endif %}
			<h3 class="h6 bg-default-light p-1 text-center">Portails</h3>
			<table>
				<tbody>
					<tr>
						<td>
							<ul class="ps-0 mb-0">
								{% for portal in person.portals %}
									<a href="{{ path('app_portal_show', {slug: portal.slug}) }}" class="text-decoration-none">
										<i class="fas fa-tag small me-1"></i>
										{{ portal }}
									</a>
								{% else %}
									<li>-</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</aside>
		
		<div id="presentation" class="article-content">
			<div>
				{% for tag in person.type %}
					<a href="{{ path('app_person_type', {slug: tag.slug}) }}" class="badge rounded-pill bg-secondary link-light text-decoration-none">
						{{ tag }}
					</a>
				{% endfor %}
			</div>
			{{ person.presentation|raw }}
		</div>

		{% if person.biography or person.personality %}
			<div class="m-4" data-controller="toggle">
				<div class="category-section" style="max-width:273px">
					<div>
						<span title="afficher ou cacher" role="button" data-action="click->toggle#toggle" data-toggle-target="action" class="float-end">
							<i class="fas fa-chevron-down"></i>
						</span>
						<h2 class="h6">Sommaire</h2>
					</div>
					<ol class="mb-0" data-toggle-target="content">
						{% if person.biography %}
							<li class="fs-6">
								<a href="#biography" class="text-dark">Biographie</a>
							</li>
						{% endif %}
						{% if person.personality %}
							<li class="fs-6">
								<a href="#personality" class="text-dark">Personnalité</a>
							</li>
						{% endif %}
					</ol>
				</div>
			</div>
		{% endif %}

		{% if person.biography %}
			<div id="biography" class="article-content">
				<h2 class="h2 pb-1 overflow-hidden">Biographie</h2>
				{{ person.biography|raw }}
			</div>
		{% endif %}

		{% if person.personality %}
			<div id="personality" class="article-content">
				<h2 class="h2 pb-1 overflow-hidden">Personnalité</h2>
				{{ person.personality|raw }}
			</div>
		{% endif %}
	</section>
{% endblock %}
