{{ form_start(formComment) }}
    {{ form_widget(formComment) }}
    <button type="submit" class="btn btn-default">Soumettre</button> 
{{ form_end(formComment) }}

<script src="{{ asset("assets/ckeditor/ckeditor.js") }}"></script>
<script src="{{ asset("assets/admin/editor.js") }}"></script>
<script>   
    enableBasicEditor("comment_content");
</script>