{% extends 'base.html.twig' %}

{% block title %}Tous les types d'article{% endblock %}

{% block body %}    
    <section class="my-5 px-4 container-fluid">
        <h2 class="h4 my-4 text-center">Explorez l'encyclopédie par thématique</h2>
        <div class="bg-light border p-3 text-center row">
            <div class="col-md-4">
                <a href="{{ path('app_timeline_index') }}" class="w-100 text-decoration-none text-white d-inline-block bg-default rounded py-1">
                    Chronologies
                </a>
            </div>

            <div class="col-md-4">
                <a href="{{ path('app_person_index') }}" class="w-100 text-decoration-none text-white d-inline-block bg-default rounded py-1">
                    Personnages
                </a>
            </div>

            <div class="col-md-4">
                <a href="{{ path('app_place_index') }}" class="w-100 text-decoration-none text-white d-inline-block bg-default rounded py-1">
                    Lieux
                </a>
            </div>
        </div>
        <div class="row mt-5">
            {% for type in types %}
                <div class="col-md-4 text-center mb-3">
                    <div class="bg-default rounded py-2 position-relative">
                        {% if type.icon %}<div class="mb-1 h2 text-white"><i class="{{ type.icon }}" aria-hidden="true"></i></div>{% endif %}
                        <h2 class="h5">
                            <a href="{{ path('app_articletype_show', {slug: type.slug}) }}" class="text-white text-decoration-none stretched-link">
                                {{ type }}
                            </a>
                        </h2>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <h2 class="h5 my-4 text-center text-muted">
                        Aucun type d'article
                    </h2>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
