{% extends 'base.html.twig' %}

{% block title %}{{ type }} | Type d'article{% endblock %}

{% block body %}
    <section class="mb-4 container-fluid">
        <div class="row border-bottom align-items-center py-3 bg-default-light">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_articletype_index') }}">Types d'article</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ type }}</li>
                    </ol>
                </nav>
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="text-end pt-2">
                <a href="{{ path('admin_app_articletype_edit', {id: type.id}) }}" class="btn btn-outline-secondary btn-sm" title="administrer">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            </div>
        {% endif %}

        <h1 class="h1 text-center mt-3 mb-5">
            {% if type.icon %}<i class="{{ type.icon }}" aria-hidden="true"></i>{% endif %}
            {{ type }}
        </h1>
        <p class="text-muted fs-5 mb-5">
            {{ type.description|nl2br }}
        </p>

        <p class="mb-4">
            {% set total = articles.getTotalItemCount %}            
            {% set current = articles|length %}
            Affichage de <span class="fw-bold">{{ current }}</span>
            sur <span class="fw-bold">{{ total }}</span>
            article{{ total > 1 ? 's' : '' }}.
        </p>

        <div class="{{ total > 3 ? 'column-3' : '' }} mt-3">
            {% for key, elements in items %}
                <div class="mb-4">
                    <h3 class="h4 mb-0 fw-bold">{{ key }}</h3>
                    <ul>
                        {% for item in elements %}
                            <li data-bs-toggle="tooltip" title="{{ item.description ? item.description : 'Aucune description' }}">
                                <a href="{{ path('app_article_show', {slug: item.slug}) }}" class="text-decoration-none">
                                    {{ item.title }}
                                    {% if item.isPrivate %}
                                        <i class="fas fa-lock fw-bold, text-danger" data-bs-toggle="tooltip" title="Privé (visible uniquement par son auteur et les administrateurs)"></i>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p class="alert alert-danger">Ce type ne contient aucun article pour le moment.</p>
            {% endfor %}
        </div>

        <div class="navigation mb-2">
            {{ knp_pagination_render(articles) }}
        </div>
    </section>
{% endblock %}
