{% extends 'base.html.twig' %}

{% block title %}{{ type }} | Type d'article{% endblock %}

{% set heading_title = type.icon ? "<i class='"~ type.icon ~" me-3' aria-hidden='true'></i>"~type.title : type.title %}

{% block body %}
    <section class="mt-4 px-4 container-fluid">
        <div class="bg-light border p-3 text-center row">
            <div class="col-md-3">
                <a href="{{ path('app_timeline_index') }}" class="w-100 text-decoration-none text-white d-inline-block bg-default rounded py-1">
                    Chronologies
                </a>
            </div>

            <div class="col-md-3">
                <a href="{{ path('app_person_index') }}" class="w-100 text-decoration-none text-white d-inline-block bg-default rounded py-1">
                    Personnages
                </a>
            </div>

            <div class="col-md-3">
                <a href="{{ path('app_place_index') }}" class="w-100 text-decoration-none text-white d-inline-block bg-default rounded py-1">
                    Lieux
                </a>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <button class="border-0 w-100 text-decoration-none text-white d-inline-block bg-default rounded py-1 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Types d'article
                    </button>
                    {% set style_scroll = types|length > 9 ? 'style="overflow-y: scroll; max-height: 350px;"' : '' %}
                    <ul class="dropdown-menu" {{ style_scroll|raw }} aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{{ path('app_articletype_index') }}">Tous les types</a></li>
                        <li><hr class="dropdown-divider"></li>
                        {% for article_type in types %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_articletype_show', {slug: article_type.slug}) }}">
                                    {% if article_type.icon %}<i class="{{ article_type.icon }}" aria-hidden="true"></i>{% endif %}
                                    {{ article_type }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <h2 class="display-6 mt-4">
            Les articles du type &laquo;&nbsp;{{ type }}&nbsp;&raquo;
        </h2>
        <p class="text-muted mt-4 mb-5 mx-5">{{ type.description|nl2br }}</p>
        <p class="mb-4">
            {% set total = articles.getTotalItemCount %}            
            {% set current = articles|length %}
            Affichage de <span class="fw-bold">{{ current }}</span>
            sur <span class="fw-bold">{{ total }}</span>
            article{{ total > 1 ? 's' : '' }}.
        </p>

        <div class="{{ total > 3 ? 'column-3' : '' }} mt-3">
            {% for key, elements in items %}
                <div class="mb-4">
                    <h3 class="h4 mb-0 fw-bold">{{ key }}</h3>
                    <ul>
                        {% for item in elements %}
                            <li data-bs-toggle="tooltip" title="{{ item.description ? item.description : 'Aucune description' }}">
                                <a href="{{ path('app_article_show', {slug: item.slug}) }}" class="text-decoration-none">
                                    {{ item.title }}
                                    {% if item.isPrivate %}
                                        <i class="fas fa-lock fw-bold, text-danger" data-bs-toggle="tooltip" title="Privé (visible uniquement par son auteur et les administrateurs)"></i>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p class="text-muted">Aucun élément trouvé</p>
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    </section>
{% endblock %}
