<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}L'encyclopédie
				{{ app_name }}
			{% endblock %}
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% block description %}Bienvenue sur {{ app_name }} - {{ app_description }} {% endblock %}">
		{{ favicon() }}
		<link href="{{ asset('assets/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('assets/choicesjs/choices.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/fontawesome/css/all.min.css') }}">
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
	</head>
	<body style="background-color: {{ background_color }}">
		<div id="content-page" class="container shadow my-3 p-0 rounded-3">
			<header class="index-header rounded-top d-print-none" {{ banner() }}>
				{{ include('includes/_navbar.html.twig') }}
				<div class="heading">
					<h1 class="heading-title">{% block heading_title %}{{ title|default(app_name) }}{% endblock %}</h1>
					<p class="lead text-center">{% block heading_description %} {{ description|default(app_description) }}{% endblock %}</p>
				</div>
			</header>

			<main id="content-main" class="p-0 bg-main border-item"> 
				{% block body %}{% endblock %}
			</main>

			{{ include('includes/_footer.html.twig') }}
		</div>
		<script src="{{ asset('assets/bootstrap/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/fslightbox.js') }}"></script>
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</body>
</html>
