{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des types de lieu{% endblock %}

{% block activePlace %} active show {% endblock %}
{% block activePlaceType %}active{% endblock %}

{% block page_title %}Types de lieu{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Types de lieu
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_placetype_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-body p-1">
            <table class="table data-table mb-0 table-striped">
                <thead>
                    <tr>
                        <th class="table-id">Id</th>
                        <th>Titre</th>
                        <th>Slug</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for placeType in placeTypes %}
                        <tr>
                            <td data-label="Id">
                                <a href="#" class="fw-bold">{{placeType.id }}</a>
                            </td>
                            <td data-label="Titre">{{placeType.title }}</td>
                            <td data-label="Slug">{{placeType.slug }}</td>
                            <td data-label="Actions">
                                <div class="btn-group">
                                    <a href="{{ path('app_place_type', {slug: placeType.slug}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Consulter">
                                        <i class="fas fa-book-reader"></i>
                                    </a>                    
                                    <a href="{{ path('admin_app_placetype_show', {id: placeType.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Afficher">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a href="{{ path('admin_app_placetype_edit', {id: placeType.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    {% include "Admin/components/_delete_modal.html.twig" with { element: placeType, path: 'admin_app_placetype_delete' } %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

