{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ placeType }}"{% endblock %}

{% block activePlace %}
	active show
{% endblock %}

{% block activePlaceType %}active {% endblock %}

{% block page_title %}Afficher "{{ placeType }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_placetype_list') }}" class="text-reset">
			Types de lieu
		</a>
	</li>
	<li class="breadcrumb-item active">
		Voir
	</li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'placetype', entity: placeType, show_route: 'app_place_type' } %}
{% endblock %}


{% block body %}
	<div class="card border-top-primary">
        <div class="card-header bg-white">
            <h2 class="card-title h5 mb-0">{{ placeType }}</h2>
        </div>
        <div class="card-body card-show">
            <table class="table table-striped mb-0">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ placeType.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ placeType.title }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ placeType.slug }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ placeType.description|nl2br }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
{% endblock %}
