{% extends 'admin_layout.html.twig' %}

{% block title %}Editer "{{ idiom_category }}"{% endblock %}

{% block activeIdiom %}active show{% endblock %}
{% block activeIdiomCategory %}active{% endblock %}

{% block page_title %}Editer "{{ idiom_category }}"{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_idiom_category_list') }}" class="text-reset">
			Catégories d'articles linguistiques
		</a>
	</li>
	<li class="breadcrumb-item active">
		Editer
	</li>
{% endblock %}

{% block toolbar %}
<a class="btn btn-sm btn-default" href="{{ path('admin_app_idiom_category_create') }}" data-bs-toggle="tooltip" title="Ajouter">
    <i class="fas fa-plus-circle" aria-hidden="true"></i>
</a>
<div class="btn-group">
    <a href="#" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Consulter">
        <i class="fas fa-book-reader"></i>
    </a>                   
    <a href="{{ path('admin_app_idiom_category_show', {id: idiom_category.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Afficher">
        <i class="fas fa-info-circle"></i>
    </a>
    <a href="{{ path('admin_app_idiom_category_edit', {id: idiom_category.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Éditer">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
    </a>
    {% include "Admin/components/_delete_modal.html.twig" with { element: idiom_category, path: 'admin_app_idiom_category_delete' } %}
</div>
{% endblock %}

{% block body %}
    {{ include('Admin/idiom_category/_form.html.twig') }}
{% endblock %}
