{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ idiom_category }}"{% endblock %}

{% block activeIdiom %}active show{% endblock %}
{% block activeIdiomCategory %}active{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_idiom_category_list') }}" class="text-reset">
			Catégories linguistiques
		</a>
	</li>
	<li class="breadcrumb-item active">
		Voir
	</li>
{% endblock %}

{% block page_title %}Afficher "{{ idiom_category }}"{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'idiom_category', entity: idiom_category } %}
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-header bg-white">
            <h2 class="card-title h5 mb-0">Informations</h2>
        </div>
        <div class="card-body card-show">
            <table class="table table-striped mb-0">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ idiom_category.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ idiom_category.title }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ idiom_category.slug }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ idiom_category.description }}</td>
                    </tr>
                    <tr>
                        <th>Position</th>
                        <td>{{ idiom_category.position ? idiom_category.position + 1 : 1 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
