{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ scenario_category }}"{% endblock %}
{% block activeScenario %}active show{% endblock %}
{% block activeScenarioCategory %} active {% endblock %}
{% block page_title %}Afficher "{{ scenario_category }}"{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'scenario_category', entity: scenario_category } %}
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_scenario_category_list') }}" class="text-reset">Catégories de scénario</a>
	</li>
	<li class="breadcrumb-item active">Voir</li>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-header bg-white">
            <h2 class="card-title h5 mb-0">Informations</h2>
        </div>
        <div class="card-body card-show">
            <table class="table table-striped mb-0">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ scenario_category.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ scenario_category.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ scenario_category.description|nl2br }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
