{% if articles is not defined %}
	{% set articles = false %}
{% endif %}
{% if images is not defined %}
	{% set images = false %}
{% endif %}
{% if persons is not defined %}
	{% set persons = false %}
{% endif %}
{% if articles is not defined %}
	{% set articles = false %}
{% endif %}
{% if portals is not defined %}
	{% set portals = false %}
{% endif %}

<header class="pt-4 pb-0 bg-item header-item">
	<div class="container-fluid">
		<div class="row border-bottom align-items-center">
			<div class="col-md-6 pb-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_category_index') }}">Catégories</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">{{ category.title|capitalize }}</li>
					</ol>
				</nav>
			</div>
			<div class="col-md-6">{{ include('includes/_search.html.twig') }}</div>
		</div>
		<div class="item-heading position-relative">
			{% if is_granted('ROLE_ADMIN') %}
				<div class="p-2 position-absolute top-0" style="right:-10px">
					<div class="dropdown">
						<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" title="outils">
							<i class="bi bi-wrench-adjustable me-1"></i>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li>
								<a class="dropdown-item" href="{{ path('admin_app_category_edit', {id:category.id}) }}">
									Gérer
								</a>
								<a class="dropdown-item" href="{{ path('admin_app_portal_create', {category:category.id}) }}">
									Ajouter un portail
								</a>
							</li>
						</ul>
					</div>
				</div>
			{% endif %}
			<h1 class="mb-3">{{ category.title|capitalize }}</h1>
			<p class="lead mb-3 text-center">{{ category.description }}</p>
		</div>
	</div>
	<nav class="tab-default mt-3">
		<div class="item {{ portals ? 'active': '' }}">
			<a href="{{ path('app_category_show', {slug:category.slug}) }}">
				Catégorie
			</a>
		</div>
		<div class="item {{ articles ? 'active': '' }}">
			<a href="{{ path('app_category_show_article', {slug:category.slug}) }}">
				Articles
			</a>
		</div>
		<div class="item {{ persons ? 'active': '' }}">
			<a href="{{ path('app_category_persons', {slug:category.slug}) }}">
				Personnages
			</a>
		</div>
		<div class="item {{ images ? 'active': '' }}">
			<a href="{{ path('app_category_gallery', {slug:category.slug}) }}">
				Galerie
			</a>
		</div>
	</nav>
</header>
<section>
	{% if category.banner %}
		<img src="{{ vich_uploader_asset(category) }}" class="img-fluid" alt="bannière de {{ category.title }}">
	{% endif %}

	{% if category.pages is not empty %}
		<p class="text-end m-2">
			{% for page in category.pages %}
				<a href="{{ path('app_page', {slug: page.slug}) }}" class="label mx-1" data-bs-toggle="tooltip" title="{{ page.description ? page.description : 'Aucune description' }}">
					<i class="bi bi-file-earmark-text"></i>
					{{ page.title }}
				</a>
			{% endfor %}
		</p>			
	{% endif %}

	{% if category.presentation %}
		<div class="element-presentation">
			<h2><strong>{{ category.title }}</strong>, qu'est-ce que c'est ?</h2>
			<div class="content">
				{{ category.presentation|raw }}
			</div>
		</div>
	{% endif %}
</section>
