{% extends 'admin_layout.html.twig' %}

{% block title %}Archives des articles{% endblock %}

{% block activeWiki %} active show {% endblock %}
{% block activeArticle %}active{% endblock %}

{% block page_title %}Articles archivés{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Archives des articles
    </li>
{% endblock %}

{% block toolbar %}
    {% include 'Admin/components/_toolbar.html.twig' with { prefix: 'article', entity: null } %}
{% endblock %}
{% block body %}
    <div class="card border-top-primary">
    <div class="card-body p-1">
        <table class="table data-table mb-0 table-striped" id="tableIndex">
            <thead>
                <tr>
                    <th class="table-id">Id</th>
                    <th>Titre</th>
                    <th>Mots clés</th>
                    <th>Portail</th>
                    <th>Auteur</th>
                    <th data-orderable="false">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td data-label="Id">
                            <a href="{{ path('app_article_show', {slug: article.slug}) }}" class="fw-bold">{{article.id }}</a>
                        </td>
                        <td data-label="Titre">{{ article.title }}</td>
                        <td data-label="Mots clés">{{ article.keywords }}</td>
                        <td data-label="Portail" class="container-list">
                            {% for portal in article.portals %}
                                <a href="{{ path('app_portal_show', {slug: portal.slug}) }}">{{ portal }}</a>
                            {% endfor %}
                        </td>
                        <td data-label="Auteur">{{ article.author.username }}</td>
                        <td data-label="Actions">
                            <div class="btn-group">
                                {% set can_edit = can_access(app.user, article) %}

                                <a href="{{ path('app_article_show', {slug: article.slug}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Consulter">
                                    <i class="fas fa-book-reader"></i>
                                </a>                   
                                <a href="{{ path('admin_app_article_show', {id: article.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Afficher">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                {% if can_edit %}
                                    <a href="{{ path('admin_app_article_edit', {id: article.id}) }}" data-bs-toggle="tooltip" class="btn btn-sm btn-default" title="Éditer">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    {% include "Admin/components/_archive_modal.html.twig" with { element: article, path: 'admin_app_article_archive' } %}
                                    {% include "Admin/components/_delete_modal.html.twig" with { element: article, path: 'admin_app_article_delete' } %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

