{% extends 'Admin/article/show.html.twig' %}

{% block show_tab %}
	<div class="row">
		<div class="col-md-6 col-lg-8 mb-2">
			<div class="card border-top-primary">
				<div class="card-header bg-white">
					<div class="float-end">
						<div class="dropdown">
							<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								A partir d'un modèle
							</button>
							<div class="dropdown-menu dropdown-template" aria-labelledby="dropdownMenuButton">
								{% for template in templates %}
									<a class="dropdown-item" href="{{ path('admin_app_article_section', {id: article.id, template: template.id}) }}">
										{{ template.title }}
									</a>
								{% endfor %}
							</div>
						</div>
					</div>
					<h3 class="card-title h5 mb-0">Modifier ou ajouter une section</h4>
				</div>
				{{ form_start(sectionForm) }}
					<div class="card-body">
						{{ form_widget(sectionForm) }}
					</div>
					<div class="card-footer text-end">
						<a href="{{ path('admin_app_article_section', {id: article.id}) }}" class="btn btn-default btn-sm">
							Annuler
						</a>
						<button type="submit" class="btn btn-success btn-sm">
							<i class="fas fa-save" aria-hidden="true"></i>
							Sauvegarder
						</button>
					</div>
				{{ form_end(sectionForm) }}
			</div>
		</div>
		<div class="col-md-6 col-lg-4">
			<div class="card border-top-primary">
				<div class="card-header bg-white">
					<div class="float-end">
						<div class="help">
							<i class="fas fa-question-circle"></i>
							<span class="help-body">
								Glisser les sections pour modifier leur ordre.
							</span>
						</div>
					</div>
					<h3 class="card-title h5 mb-0">Sections de l'article</h3>
				</div>
				{% if article.sections is empty %}
					<div class="card-body">
						<p>Aucune section</p>
					</div>
				{% else %}
					<div class="card-body table-responsive p-0 {{ article.sections|length > 6 ? 'scroll-y' : '' }}">
						<table class="table table-striped mb-0 table-section">
							<tbody id="sections">
								{% for section in article.sections %}
									<tr class="handle" id="{{ section.id }}">
										<td>
											<div class="float-end">
												<a href="{{ path('admin_app_article_section', {id:article.id, section: section.id}) }}" class="btn btn-success btn-sm" data-bs-toggle="tooltip" title="Editer">
													<i class="fas fa-edit" aria-hidden="true"></i>
												</a>
												{% include "Admin/components/_delete_modal.html.twig" with { element: section, path: 'admin_app_section_delete' } %}
											</div>
											<h4 class="h5">{{ section.title }}</h4>
											{{ section.content|striptags|raw|u.truncate(190, '...', false)|raw }}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset("assets/ckeditor/ckeditor.js") }}"></script>
	<script src="{{ asset("assets/admin/editor.js") }}"></script>
	<script src="{{ asset('assets/sortable/Sortable.min.js') }}"></script>
	<script>
		enableFullEditor("section_content");
		window.addEventListener('load', () => {
			let url = "{{ path('api_article_section', {'id': article.id}) }}";
			sortable('#sections', url, false);
		});
	</script>
{% endblock %}
