{% extends 'Admin/article/show.html.twig' %}

{% block show_tab %}
    <div class="row">
        <div class="col-md-9">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">{{ article }}</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Titre</th>
                                <td>
                                    <a href="{{ path('app_article_show', {slug: article.slug}) }}">
                                        {{ article.title }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Mots clés</th>
                                <td>{{ article.keywords }}</td>
                            </tr>
                            <tr>
                                <th>Portails</th>
                                <td class="container-list">
                                    {% for portal in article.portals %}
                                        <a href="{{ path('app_portal_show', {slug: portal.slug}) }}">{{ portal }}</a>
                                    {% else %}
                                        <span class="fst-italic">Aucun portail</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ article.description|nl2br }}</td>
                            </tr>
                            <tr>
                                <th>Contenu</th>
                                <td>{{ article.content|raw }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-top-primary">
                <div class="card-header bg-white">
                    <h2 class="card-title h5 mb-0">Méta données</h2>
                </div>
                <div class="card-body card-show">
                    <table class="table table-striped mb-0">
                        <tbody>
                            <tr>
                                <th>Slug</th>
                                <td>{{ article.slug }}</td>
                            </tr>
                            <tr>
                                <th>Création</th>
                                <td>{{ article.createdAt|date(date_format) }}</td>
                            </tr>
                            <tr>
                                <th>Mise à jour</th>
                                <td>{{ article.updatedAt ? article.updatedAt|date(date_format) : '' }}</td>
                            </tr>
                            <tr>
                                <th>Est épinglé</th>
                                <td>{{ article.isSticky ? 'Oui' : 'Non' }}</td>
                            </tr>
                            <tr>
                                <th>Est archivé</th>
                                <td>{{ article.isArchived ? 'Oui' : 'Non' }}</td>
                            </tr>
                            {% if enable_comment %}
                                <tr>
                                    <th>Avec commentaires</th>
                                    <td>{{ article.enableComment ? 'Oui' : 'Non' }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Auteur</th>
                                <td>
                                    {{ article.author ? article.author.username : '' }}

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <button type="button" class="btn btn-primary btn-sm float-end" title="Modifier" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">Modifier l'auteur</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    {{ form_start(form) }}
                                                        <div class="modal-body">
                                                            {{ form_widget(form) }}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                                                                Annuler
                                                            </button>
                                                            <button type="submit" class="btn btn-success btn-sm">
                                                                Sauvegarder
                                                            </button>
                                                        </div>
                                                    {{ form_end(form) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}