{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ article }}"{% endblock %}

{% block activeWiki %}active show{% endblock %}
{% block activeArticle %}active{% endblock %}

{% block page_title %}
    {% if article.isArchived %}
        <i class="fas fa-archive me-1 fa-fw" data-bs-toggle="tooltip" aria-hidden="true" title="archivé"></i>
    {% endif %}
    {% if article.isSticky %}
        <i class="fas fa-thumbtack me-1" data-bs-toggle="tooltip" title="Epinglé"></i>
    {% endif %}
    {{ article }}
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_article_list') }}" class="text-reset">
			Articles
		</a>
	</li>
	<li class="breadcrumb-item active">
		Voir
	</li>
{% endblock %}

{% block toolbar %}
    {% include "Admin/article/_toolbar.html.twig" %}
{% endblock %}

{% block body %}
    <ul class="nav nav-custom-style nav-pills mb-4">
        <li class="nav-item">
            <a class="nav-link {{ general_active is defined ? 'active' : '' }}" href="{{ path('admin_app_article_show', {id: article.id}) }}">
                <i class="fas fa-eye" aria-hidden="true"></i> <span class="d-none d-sm-inline">Informations</span>
            </a>
        </li>
        {% if can_access(app.user, article) %}
            <li class="nav-item">
                <a class="nav-link {{ section_active is defined ? 'active' : '' }}" href="{{ path('admin_app_article_section', {id: article.id}) }}">
                    <i class="fas fa-clone" aria-hidden="true"></i> <span class="d-none d-sm-inline">Sections</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ gallery_active is defined ? 'active' : '' }}" href="{{ path('admin_app_article_gallery', {id: article.id}) }}">
                    <i class="fa fa-image" aria-hidden="true"></i> <span class="d-none d-sm-inline">Galerie</span>
                </a>
            </li>
        {% endif %}
    </ul>

    {% block show_tab %}{% endblock %}
{% endblock %}
