{% extends 'admin_layout.html.twig' %}

{% block title %}Afficher "{{ article }}"{% endblock %}

{% block activeWiki %}active show{% endblock %}
{% block activeArticle %}active{% endblock %}

{% block page_title %}
    {% if article.isArchived %}
        <i class="fas fa-archive me-1 fa-fw" data-bs-toggle="tooltip" aria-hidden="true" title="archivé"></i>
    {% endif %}
    {% if article.isSticky %}
        <i class="fas fa-thumbtack me-1" data-bs-toggle="tooltip" title="Epinglé"></i>
    {% endif %}
    {{ article }}
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{ path('admin_app_article_list') }}" class="text-reset">
			Article
		</a>
	</li>
	<li class="breadcrumb-item active">
		{{ article }}
	</li>
{% endblock %}

{% set can_edit = can_access(app.user, article) %}

{% block toolbar %}
	<div class="dropdown">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Action
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" href="{{ path('admin_app_article_create') }}">
                    <i class="fas fa-plus-circle" aria-hidden="true"></i>
                    Ajouter
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ path('app_article_show', {slug: article.slug}) }}">
                    <i class="fas fa-book-reader"></i>
                    Consulter
                </a>
            </li>
            {% if can_edit %}
                <li>
                    <a href="{{ path('admin_app_article_section', {id: article.id}) }}" class="dropdown-item" title="Gérer les section">
                        <i class="fas fa-clone"></i> Sections
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('admin_app_article_gallery', {id: article.id}) }}">
                        <i class="fa fa-image" aria-hidden="true"></i> Galerie 
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('admin_app_article_edit', {id: article.id}) }}">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                        Editer
                    </a>
                </li>
            {% endif %}
            <li>
                <a class="dropdown-item" href="{{ path('admin_app_article_list') }}">
                    <i class="fas fa-list" aria-hidden="true"></i>
                    Retour à la liste
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <ul class="nav nav-custom-style nav-pills mb-4">
        <li class="nav-item">
            <a class="nav-link {{ general_active is defined ? 'active' : '' }}" href="{{ path('admin_app_article_show', {id: article.id}) }}">Général</a>
        </li>
        {% if can_edit %}
            <li class="nav-item">
                <a class="nav-link {{ section_active is defined ? 'active' : '' }}" href="{{ path('admin_app_article_section', {id: article.id}) }}">Gérer les sections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ gallery_active is defined ? 'active' : '' }}" href="{{ path('admin_app_article_gallery', {id: article.id}) }}">Gérer la galerie</a>
            </li>
        {% endif %}
    </ul>

    {% block show_tab %}{% endblock %}
{% endblock %}
