{% if articles is not defined %}
	{% set articles = false %}
{% endif %}
{% if images is not defined %}
	{% set images = false %}
{% endif %}
{% if persons is not defined %}
	{% set persons = false %}
{% endif %}
{% if places is not defined %}
	{% set places = false %}
{% endif %}
{% if scenarios is not defined %}
	{% set scenarios = false %}
{% endif %}

<header class="pt-3 bg-item header-item">
	<div class="container-fluid">
		<div class="row border-bottom align-items-center">
			<div class="col-md-6 mb-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_portal_index') }}">Portails</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">{{ portal.title }}</li>
					</ol>
				</nav>
			</div>
			<div class="col-md-6">{{ include('includes/_search.html.twig') }}</div>
		</div>
		<div class="item-heading ps-0">
			<div class="row">
				<div class="col-md-10">
					<p>
						{% for category in portal.categories %}
							<a href="{{ path('app_category_show', {slug: category.slug}) }}" class="label me-1" data-bs-toggle="tooltip" title="{{ category.description ? category.description : 'Aucune description' }}">
								<i class="fas fa-folder fa-fw"></i>
								{{ category.title }}
							</a>
						{% endfor %}
					</p>
				</div>
				<div class="col-md-2 text-end">
					<div class="dropdown d-inline-block">
						<button class="btn btn-outline-secondary btn-sm dropdown-toggle w-100" type="button" id="dropdownMenuWord" data-bs-toggle="dropdown" aria-expanded="false" title="export word">
							<i class="fas fa-file-word fa-fw"></i>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuWord">
							<li>
								<a class="dropdown-item" href="{{ path('app_portal_word_article', {slug: portal.slug}) }}" target="_blank">
									<i class="fas fa-file-alt"></i>
									Exporter les articles
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_portal_word_timeline', {slug: portal.slug}) }}" target="_blank">
									<i class="fas fa-hourglass"></i>
									Exporter les chronologies
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_portal_word_person', {slug: portal.slug}) }}" target="_blank">
									<i class="fas fa-user"></i>
									Exporter les personnages
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_portal_word_place', {slug: portal.slug}) }}" target="_blank">
									<i class="fas fa-globe"></i>
									Exporter les lieux
								</a>
							</li>
						</ul>
					</div>
					<div class="dropdown d-inline-block">
						<button class="btn btn-outline-secondary btn-sm dropdown-toggle w-100" type="button" id="dropdownMenuButtonActionPortal" data-bs-toggle="dropdown" aria-expanded="false" title="outils">
							<i class="fas fa-wrench me-1"></i>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonActionPortal">
							<li>
								<a class="dropdown-item" href="{{ path('app_print_portal', {slug: portal.slug}) }}" target="_blank">
									<i class="fas fa-print"></i>
									Aperçu avant impression
								</a>
							</li>
							{% if is_granted('ROLE_ADMIN') %}
								<li>
									<a class="dropdown-item" href="{{ path('admin_app_portal_edit', {id:portal.id}) }}">
										<i class="fas fa-pencil-alt"></i>
										Editer le portail
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('admin_app_article_create', {portal:portal.id}) }}">
										<i class="fas fa-file-alt"></i>
										Ajouter un article
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('admin_app_timeline_create', {portal:portal.id}) }}">
										<i class="fas fa-hourglass"></i>
										Ajouter une chronologie
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('admin_app_person_create', {portal:portal.id}) }}">
										<i class="fas fa-user"></i>
										Ajouter un personnage
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('admin_app_place_create', {portal:portal.id}) }}">
										<i class="fas fa-globe"></i>
										Ajouter un lieu
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('admin_app_image_create', {portal:portal.id}) }}">
										<i class="fas fa-image"></i>
										Ajouter une image
									</a>
								</li>
							{% endif %}
						</ul>
					</div>
					{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
						<a href="{{ path('app_portal_notes', {slug: portal.slug}) }}" class="btn btn-outline-secondary btn-sm" title="note">
							Notes
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="px-4">{% include "components/_flashes.html.twig" %}</div>

	<nav class="tab-default mt-3">
		<div class="item {{ articles ? 'active': '' }}">
			<a href="{{ path('app_portal_show', {slug:portal.slug}) }}" data-bs-toggle="tooltip" title="Articles">
				<i class="fas fa-file-alt"></i>
			</a>
		</div>
		<div class="item {{ persons ? 'active': '' }}">
			<a href="{{ path('app_portal_persons', {slug:portal.slug}) }}" data-bs-toggle="tooltip" title="Personnages">
				<i class="fas fa-user"></i>
			</a>
		</div>
		<div class="item {{ places ? 'active': '' }}">
			<a href="{{ path('app_portal_places', {slug:portal.slug}) }}" data-bs-toggle="tooltip" title="Lieux">
				<i class="fas fa-globe"></i>
			</a>
		</div>
		<div class="item {{ images ? 'active': '' }}">
			<a href="{{ path('app_portal_gallery', {slug:portal.slug}) }}" data-bs-toggle="tooltip" title="Galerie">
				<i class="fas fa-image"></i>
			</a>
		</div>
		<div class="item {{ scenarios ? 'active': '' }}">
			<a href="{{ path('app_portal_scenarios', {slug:portal.slug}) }}" data-bs-toggle="tooltip" title="Scénarios">
				<i class="fas fa-book"></i>
			</a>
		</div>
	</nav>
</header>

{% if portal.banner %}
	<img src="{{ vich_uploader_asset(portal) }}" class="img-fluid" alt="bannière de {{ portal.title }}">
{% endif %}

<p class="text-end mb-4 mt-1">
	{% for page in portal.pages %}
		<a href="{{ path('app_page', {slug: page.slug}) }}" class="label mx-1">
			<i class="fas fa-file-alt"></i>
			{{ page.title }}
		</a>
	{% endfor %}
</p>
