{% extends 'base.html.twig' %}

{% block title %}Consulter vos brouillons
{% endblock %}

{% block body %}
	{{ include('home/_header.html.twig') }}
	<article class="mt-5 container-fluid">
		<h2 class="list-title">Brouillons d'article</h2>
		{% set plural = drafts.getTotalItemCount > 1 ? 's' : '' %}
		<p class="mb-4 p-2">Vous avez actuellement
			<span class="fw-bold">{{ drafts.getTotalItemCount }}</span>
			brouillon{{ plural }}.</p>

		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Date de création</th>
					<th>Dernière mise à jour</th>
					<th>Actions</th>
				</tr>
			</thead>
			<body>
				{% for draft in drafts %}
					<tr>
						<td>{{ draft.title }}</td>
						<td>{{ draft.createdAt|date('d/m/Y à H:i') }}</td>
						<td>{{ draft.updatedAt ? draft.updatedAt|date('d/m/Y à H:i') : '' }}</td>
						<td>
							<a href="{{ path('admin_app_article_section', {id:draft.id}) }}" class="btn btn-success btn-sm">
								<i class="bi bi-pencil-square" data-bs-toggle="tooltip" title="Modifier"></i>
							</a>
							<a href="{{ path('app_article_show', {slug:draft.slug}) }}" class="btn btn-primary btn-sm">
								<i class="bi bi-eye-fill" data-bs-toggle="tooltip" title="Afficher"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4" class="text-center">Aucun brouillon</td>
					</tr>
				{% endfor %}
			</body>
		</table>

		<div class="navigation">
			{{ knp_pagination_render(drafts) }}
		</div>
	</article>
{% endblock %}
