{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
	| Galerie
{% endblock %}

{% block description %}
	{{ article.description }}
{% endblock %}

{% block body %}
	<article>
		<header class="pt-4 bg-item header-item border-bottom">
			{{ include('article/components/_header.html.twig', {gallery:true}) }}
		</header>
		<section class="pb-5 px-4">
			<h2 class="fw-light my-4">
				{% set length = article.images|length %}
				<span class="fw-bold">{{ length }}</span>
				image{{ length > 1 ? 's' : '' }}
			</h2>
			{% include "image/components/_not_paginated_list.html.twig" with {images: article.images} %}
		</section>
	</article>
{% endblock %}
