{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
	| Article
{% endblock %}

{% block description %}
	{{ article.description }}
{% endblock %}

{% set has_sections = article.sections is not empty or article.images is not empty %}

{% block body %}
	<article>
		<header class="pt-4 bg-item border-bottom" id="title-top">
			{{ include('article/components/_header.html.twig', {reading:true}) }}
		</header>

		<div class="px-4">{% include "components/_flashes.html.twig" %}</div>

		<div class="py-4 px-4 {{ has_sections ? 'article-grid' : '' }}" id="searchable-container">
			<div class="article-content article-intro search-item">
				{% if (is_granted('ROLE_EDITOR') and article.author is not null and article.author.id == app.user.id) or is_granted('ROLE_ADMIN') %}
					<div class="position-relative" style="height: 30px">
						<div class="edit-actions text-end position-absolute start-0 end-0">
							<a href="{{ path('admin_app_article_edit', {id:article.id}) }}" class="text-success text-decoration-none" data-bs-toggle="tooltip" title="éditer l'introduction">
								<i class="fas fa-pencil-alt"></i>
							</a>
						</div>
					</div>
				{% endif %}
				{{ article.content|raw }}
			</div>

			{% if has_sections %}
				<div class="article-summary" data-controller="toggle">
					<div class="sticky-lg-top" style="margin-top: 35px; top: 10px">
						<aside class="category-section me-0">
							<div class="clearfix">
								<span title="afficher ou cacher" role="button" data-action="click->toggle#toggle" data-toggle-target="action" class="float-end">
									<i class="fas fa-chevron-down"></i>
								</span>
								<h2 class="h6"><a href="#title-top"><i class="fas fa-arrow-up me-1"></i></a> Sommaire</h2>
							</div>
							<ol class="mb-0" data-toggle-target="content">
								{% for section in article.sections %}
									<li class="fs-6">
										<a href="#part{{ section.id }}" class="text-dark">{{ section.title }}</a>
									</li>
								{% endfor %}
								<li class="fs-6">
									<a href="#gallery-article" class="text-dark">Galerie de l'article</a>
								</li>
							</ol>
						</aside>
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Rechercher dans l'article" id="searchable-content">
							<span class="input-group-text" id="basic-addon2">
								<i class="fas fa-search"></i>
								<label for="searchable-content" class="visually-hidden">Rechercher dans l'article</label>
							</span>
						</div>
					</div>
				</div>

				<div class="article-content article-sections">
					{% for section in article.sections %}
						<section id="part{{ section.id }}" class="search-item">
							<h2 class="border-bottom h2  pb-1 position-relative section-title">
								{{ section.title }}
								{% if (is_granted('ROLE_EDITOR') and article.author is not null and article.author.id == app.user.id) or is_granted('ROLE_ADMIN') %}
									<span class="position-absolute mb-2 bottom-0 end-0 edit-actions h4 bg-white">
										<a class="text-success text-decoration-none" href="{{ path('admin_app_section_show', {id: section.id}) }}" data-bs-toggle="tooltip" title="informations">
											<i class="fas fa-eye"></i>
										</a>
										<a href="{{ path('admin_app_section_edit', {id: section.id}) }}" class="text-success text-decoration-none" data-bs-toggle="tooltip" title="éditer">
											<i class="fas fa-edit"></i>
										</a>
										<a class="text-success text-decoration-none" href="{{ path('admin_app_section_conversion', {id: section.id}) }}" data-bs-toggle="tooltip" title="convertir">
											<i class="fas fa-sync"></i>
										</a>
										<a href="{{ path('admin_app_section_delete', {id: section.id}) }}" class="text-danger text-decoration-none" data-bs-toggle="tooltip" title="suppression">
											<i class="fas fa-trash"></i>
										</a>
									</span>
								{% endif %}
							</h2>
							{{ section.content|raw }}
							{% if section.referencedArticles|length > 0 or section.referencedTimelines|length > 0 or section.referencedPersons|length > 0 or section.referencedPlaces|length > 0 %}
								<h4 class="fs-6 mb-0 mt-1 fw-bold">Voir aussi</h4>
								<div class="border-top border-bottom small lh-base py-1 mb-2 bg-light">
									{% if section.referencedArticles|length > 0 %}
										<p class="mb-0">
											<strong>
												<i class="fas fa-file fa-fw" data-bs-toggle="tooltip" title="Articles associés"></i>
												<span class="visually-hidden">Articles associés</span>
											</strong>
											{% for article in section.referencedArticles %}
												<a href="{{ path('app_article_show', {slug: article.slug}) }}">{{ article.title }}</a>{{ loop.last != true ? ',' : '' }}
											{% endfor %}
										</p>
									{% endif %}
									{% if section.referencedPersons|length > 0 %}
										<p class="mb-0">
											<strong>
												<i class="fas fa-user fa-fw" data-bs-toggle="tooltip" title="Personnages associés"></i>
												<span class="visually-hidden">Personnages associés</span>
											</strong>
											{% for person in section.referencedPersons %}
												<a href="{{ path('app_person_show', {slug: person.slug}) }}">{{ person }}</a>{{ loop.last != true ? ',' : '' }}
											{% endfor %}
										</p>
									{% endif %}
									{% if section.referencedPlaces|length > 0 %}
										<p class="mb-0">
											<strong>
												<i class="fas fa-globe fa-fw" data-bs-toggle="tooltip" title="Lieux associés"></i>
												<span class="visually-hidden">Lieux associés</span>
											</strong>
											{% for place in section.referencedPlaces %}
												<a href="{{ path('app_place_show', {slug: place.slug}) }}">{{ place }}</a>{{ loop.last != true ? ',' : '' }}
											{% endfor %}
										</p>
									{% endif %}
									{% if section.referencedTimelines|length > 0 %}
										<p class="mb-0">
											<strong>
												<i class="fas fa-hourglass fa-fw" data-bs-toggle="tooltip" title="Chronologies associées"></i>
												<span class="visually-hidden">Chronologies associées</span>
											</strong>
											{% for timeline in section.referencedTimelines %}
												<a href="{{ path('app_timeline_show', {slug: timeline.slug}) }}">{{ timeline }}</a>{{ loop.last != true ? ',' : '' }}
											{% endfor %}
										</p>
									{% endif %}
								</div>
							{% endif %}
						</section>
					{% endfor %}

					<section id="gallery-article" class="mb-4 search-item">
						<h2 class="border-bottom h2 pb-1 position-relative section-title">
							Galerie
							{% if (is_granted('ROLE_EDITOR') and article.author is not null and article.author.id == app.user.id) or is_granted('ROLE_ADMIN') %}
								<span class="position-absolute top-0 end-0 edit-actions h4">
									<a href="{{ path('admin_app_article_gallery', {id:article.id}) }}" class="text-success text-decoration-none" data-bs-toggle="tooltip" title="gérer la galerie">
										<i class="fas fa-edit"></i>
									</a>
								</span>
							{% endif %}
						</h2>
						<p>
							{% set length = article.images|length %}
							<span class="fw-bold">{{ length }}</span>
							image{{ length > 1 ? 's' : '' }}
						</p>
						{% include "image/components/_not_paginated_list.html.twig" with {images: article.images} %}
					</section>
				</div>
			{% endif %}
			{{ include('includes/_block_info.html.twig', {entity: article}) }}
		</div>
	</article>
{% endblock %}
