{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
	| Article
{% endblock %}

{% block description %}
	{{ article.description }}
{% endblock %}

{% set has_sections = article.sections is not empty %}

{% block body %}
	<article>
		<header class="pt-4 bg-item header-item border-bottom">
			{{ include('article/components/_header.html.twig', {reading:true}) }}
		</header>

		<div class="pt-5 px-4 {{ has_sections ? 'article-grid' : '' }}">
			<div class="article-content article-intro ">
				{{ article.content|raw }}
			</div>

			{% if has_sections %}
				<div class="article-summary" data-controller="toggle">
					<aside class="category-section sticky-lg-top" style="top: 10px">
						<div class="clearfix">
							<span title="afficher ou cacher" role="button" data-action="click->toggle#toggle" data-toggle-target="action" class="float-end">
								<i class="fas fa-chevron-down"></i>
							</span>
							<h2 class="h6">Sommaire</h2>
						</div>
						<ol class="mb-0" data-toggle-target="content">
							{% for section in article.sections %}
								<li class="fs-6">
									<a href="#part{{ section.id }}" class="text-dark">{{ section.title }}</a>
								</li>
							{% endfor %}
						</ol>
					</aside>
				</div>

				<div class="article-content article-sections">
					{% for section in article.sections %}
						<section id="part{{ section.id }}">
							<h2 class="border-bottom h2 pb-1 position-relative section-title">
								{{ section.title }}
								{% if (is_granted('ROLE_EDITOR') and article.author is not null and article.author.id == app.user.id) or is_granted('ROLE_ADMIN') %}
									<span class="position-absolute top-0 end-0 edit-actions">
										<a href="{{ path('admin_app_section_edit', {id: section.id}) }}" class="text-success text-decoration-none" data-bs-toggle="tooltip" title="édition rapide">
											<i class="fas fa-edit"></i>
										</a>
										<a href="{{ path('admin_app_section_delete', {id: section.id}) }}" class="text-danger text-decoration-none" data-bs-toggle="tooltip" title="suppression">
											<i class="fas fa-trash"></i>
										</a>
									</span>
								{% endif %}
							</h2>
							<p>{{ section.content|raw }}</p>
						</section>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</article>
{% endblock %}
