{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
	| Article
{% endblock %}

{% block description %}
	{{ article.description }}
{% endblock %}

{% set has_sections = article.sections is not empty or article.images is not empty %}

{% block body %}
	<article>
		<header class="pt-4 bg-item border-bottom" id="title-top">
			{{ include('article/components/_header.html.twig', {reading:true}) }}
		</header>

		<div class="px-4">{% include "components/_flashes.html.twig" %}</div>

		<div class="py-4 px-4 {{ has_sections ? 'article-grid' : '' }}">
			<div class="article-content article-intro">
				{% if (is_granted('ROLE_EDITOR') and article.author is not null and article.author.id == app.user.id) or is_granted('ROLE_ADMIN') %}
					<div class="position-relative" style="height: 30px">
						<div class="edit-actions text-end position-absolute start-0 end-0">
							<a href="{{ path('admin_app_article_edit', {id:article.id}) }}" class="text-success text-decoration-none" data-bs-toggle="tooltip" title="éditer l'introduction">
								<i class="fas fa-pencil-alt"></i>
							</a>
						</div>
					</div>
				{% endif %}
				{{ article.content|raw }}
			</div>

			{% if has_sections %}
				<div class="article-summary" data-controller="toggle">
					<aside class="category-section sticky-lg-top" style="margin-top: 35px; top: 10px">
						<div class="clearfix">
							<span title="afficher ou cacher" role="button" data-action="click->toggle#toggle" data-toggle-target="action" class="float-end">
								<i class="fas fa-chevron-down"></i>
							</span>
							<h2 class="h6"><a href="#title-top"><i class="fas fa-arrow-up me-1"></i></a> Sommaire</h2>
						</div>
						<ol class="mb-0" data-toggle-target="content">
							{% for section in article.sections %}
								<li class="fs-6">
									<a href="#part{{ section.id }}" class="text-dark">{{ section.title }}</a>
								</li>
							{% endfor %}
							<li class="fs-6">
								<a href="#gallery-article" class="text-dark">Galerie de l'article</a>
							</li>
						</ol>
					</aside>
				</div>

				<div class="article-content article-sections">
					{% for section in article.sections %}
						<section id="part{{ section.id }}">
							<h2 class="border-bottom h2 pb-1 position-relative section-title">
								{{ section.title }}
								<a href="#"><i class="fas fa-arrow-up" aria-hidden="true"></i> <span class="visually-hidden">Retourner en haut</span></a>
								{% if (is_granted('ROLE_EDITOR') and article.author is not null and article.author.id == app.user.id) or is_granted('ROLE_ADMIN') %}
									<span class="position-absolute top-0 end-0 edit-actions">
										<a href="{{ path('admin_app_section_edit', {id: section.id}) }}" class="text-success text-decoration-none" data-bs-toggle="tooltip" title="éditer">
											<i class="fas fa-edit"></i>
										</a>
										<a class="text-success text-decoration-none" href="{{ path('admin_app_section_conversion', {id: section.id}) }}" data-bs-toggle="tooltip" title="convertir">
											<i class="fas fa-sync"></i>
										</a>
										<a href="{{ path('admin_app_section_delete', {id: section.id}) }}" class="text-danger text-decoration-none" data-bs-toggle="tooltip" title="suppression">
											<i class="fas fa-trash"></i>
										</a>
									</span>
								{% endif %}
							</h2>
							{{ section.content|raw }}
						</section>
					{% endfor %}

					<section id="gallery-article" class="mb-4">
						<h2 class="border-bottom h2 pb-1 position-relative section-title">
							Galerie
							<a href="#"><i class="fas fa-arrow-up" aria-hidden="true"></i> <span class="visually-hidden">Retourner en haut</span></a>
							{% if (is_granted('ROLE_EDITOR') and article.author is not null and article.author.id == app.user.id) or is_granted('ROLE_ADMIN') %}
								<span class="position-absolute top-0 end-0 edit-actions">
									<a href="{{ path('admin_app_article_gallery', {id:article.id}) }}" class="text-success text-decoration-none" data-bs-toggle="tooltip" title="gérer la galerie">
										<i class="fas fa-edit"></i>
									</a>
								</span>
							{% endif %}
						</h2>
						<p>
							{% set length = article.images|length %}
							<span class="fw-bold">{{ length }}</span>
							image{{ length > 1 ? 's' : '' }}
						</p>
						{% include "image/components/_not_paginated_list.html.twig" with {images: article.images} %}
					</section>
				</div>
			{% endif %}
			{{ include('includes/_block_info.html.twig', {entity: article}) }}
		</div>
	</article>
{% endblock %}
