{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}			
	<section class="py-5 row justify-content-center">
		<div class="col-12 col-md-9 col-lg-6">
			<div class="card shadow mx-2 border-0 radius-3">
				<div class="card-body p-5">
					<h2 class="text-uppercase h2 text-center mb-5">Formulaire de connexion</h2>
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<form method="post">
						<label for="inputUsername" class="fw-bold">Identifiant</label>
						<div class="input-group mb-5">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
							<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
						</div>

						<label for="inputPassword" class="fw-bold">Mot de passe</label>
						<div class="input-group">
							<span class="input-group-text"><i class="fas fa-lock"></i></span>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="row mt-2">
							<div class="col-md-6">
								<div class="checkbox mb-3 text-muted">
									<label>
										<input type="checkbox" name="_remember_me">
										Se souvenir de moi
									</label>
								</div>
							</div>
							<div class="col-md-6">
								<p class="text-end">
									<a href="{{ path('app_forgot_password_request') }}" class="text-muted text-decoration-none">
										Mon mot de passe oublié ?
									</a>
								</p>
							</div>
						</div>
						<div class="my-4 text-center">
							<button class="btn btn-default" type="submit">
								Connexion
							</button>
							<p class="fw-bold mt-3">
								<small>
									Pas de compte ?
									<a href="{{ path('app_register') }}" class="text-danger">Inscrivez-vous</a>
								</small>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
