{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="py-5 row justify-content-center">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="col-12">
                <div class="alert alert-danger mb-5" role="alert">{{ flash_error }}</div>
            </div>
        {% endfor %}

        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card shadow mx-2 border-0 radius-3">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5">Formulaire d'inscription</h2>
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.username) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        <div class="my-4">
                            En validant votre inscription, vous acceptez les <a href="{{ path('app_terms') }}" target="_blank">conditions d'utilisation</a>.  
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-default w-100">Inscription</button>
                        </div>
                    {{ form_end(registrationForm) }}
                    <div class="mt-4 text-center fw-bold">
                        Déjà de compte ? <a href="{{ path('app_login') }}" class="text-danger">Connectez-vous</a>.
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
