{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block body %}
<section class="my-5 container-fluid">
    <h2>Informations sur {{ user.username }}</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Roles</th>
                    <th>Articles publiés</th>
                    <th>Commentaires postés</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Pseudo">{{ user.username }}</td>
                    <td data-label="Roles">{{ format_roles(user.roles) }}</td>
                    <td data-label="Articles publiés">{{ user.articles|length }}</td>
                    <td data-label="Commentaires postés">{{ user.comments|length }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}