{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block body %}
<section class="container mt-1">
    <div class="row border-bottom align-items-center py-3 bg-default-light">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_user_index') }}">Membres</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
            </ol>
        </nav>
    </div>

    <div class="card shadow my-5">
        <div class="card-header">
            {% if enable_private_message == 1 %}
                <div class="float-end">
                    <a href="{{ path('app_private_message_conversation', {id: user.id}) }}" class="btn btn-default btn-sm" data-bs-toggle="tooltip" title="Conversation">
                        <i class="fas fa-comments"></i>
                    </a>
                </div>
            {% endif %}
            <h2 class="h5 mb-0">Informations sur {{ user.username }}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 text-center p-3">
                    {% if user.avatar is not null %}
                        <img src="{{ vich_uploader_asset(user) }}" class="img-fluid rounded-3" alt=" avatar de {{ user.username }}">
                    {% else %}
                        <i class="fas fa-user fa-7x mt-3"></i>
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <h3>{{ user.username }}</h3>
                    <p class="small">{{ format_roles(user.roles) }}</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="h5">A propos</h3>
                            <div class="bg-light rounded-3 p-2">
                                <ul class="list-unstyled mb-0">
                                    <li><span class="fw-bold">Localisation :</span> {{ user.localisation }}</li>
                                    <li><span class="fw-bold">Rang :</span> {{ user.rank }}</li>
                                    <li><span class="fw-bold">Inscription :</span> {{ user.createdAt | date(date_format) }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="h5">Statistiques</h3>
                            <div class="bg-light rounded-3 p-2">
                                <ul class="list-unstyled mb-0">
                                    <li><span class="fw-bold">Articles :</span> {{ user.articles|length }}</li>
                                    {% if enable_comment == 1 %}
                                        <li><span class="fw-bold">Commentaires :</span> {{ user.comments|length}}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}