{% extends 'base.html.twig' %}

{% block title %}Mes commentaires{% endblock %}

{% block body %}
    <section class="m-5">
        <h2 class="mb-4">
            Mes commentaires
        </h2>
        <p>
            Affichage de <strong>{{ comments|length }}</strong> sur 
            <strong>{{ comments.getTotalItemCount }}</strong> commentaire{{comments.getTotalItemCount > 1 ? 's':'' }}
        </p>

        {% for comment in comments %}
            {{ include('comment/components/_comment.html.twig') }}
            <p class="text-center mb-4">
                <i class="fas fa-file me-1"></i>
                <a href="{{ path('app_comment', {slug: comment.article.slug}) }}" class="text-decoration-none">
                    {{ comment.article.title }}
                </a>
            </p>
        {% else %}
            <p class="my-5 fw-bold text-center">Aucun commentaire trouvé.</p>
        {% endfor %}

        <footer>
            <div class="navigation">
                {{ knp_pagination_render(comments) }}
            </div>
        </footer>
    </section>
{% endblock %}