{% extends 'base.html.twig' %}

{% block title %}Mes commentaires{% endblock %}

{% block body %}
    <header class="bg-default p-5 text-white index-header">
        <div class="heading">
            <h1 class="heading-title">Mes commentaires</h1>
        </div>
    </header>
    <section class="m-5">
        <h2 class="mb-4">
            {{ comments.getTotalItemCount }} commentaire{{comments.getTotalItemCount > 1 ? 's':'' }}
        </h2>

        {% for comment in comments %}
            {{ include('comment/components/_comment.html.twig') }}
            <p class="text-center mb-4">
                <i class="bi bi-file-earmark-fill me-1"></i>
                <a href="{{ path('app_comment', {slug: comment.article.slug}) }}" class="text-decoration-none">
                    {{ comment.article.title }}
                </a>
            </p>
        {% else %}
            <p class="my-5 fw-bold text-center">Aucun commentaire trouvé.</p>
        {% endfor %}

        <footer>
            <div class="navigation">
                {{ knp_pagination_render(comments) }}
            </div>
        </footer>
    </section>
{% endblock %}