<div class="row">
    <div class="col-md-9">{{ form_row(form.title) }}</div>
    <div class="col-md-3">{{ form_row(form.color) }}</div>

    <div class="col-lg-6">{{ form_row(form.persons) }}</div>
    <div class="col-lg-6">{{ form_row(form.places) }}</div>
</div>

{{ form_row(form.description) }}

<div class="accordion mb-3" id="accordion{{ form.vars.id }}">
	<div class="accordion-item">
		<h2 class="accordion-header" id="heading{{ form.vars.id }}">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ form.vars.id }}" aria-expanded="true" aria-controls="collapse{{ form.vars.id }}">
				Gérer le contenu
			</button>
		</h2>
		<div id="collapse{{ form.vars.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ form.vars.id }}" data-bs-parent="#accordion{{ form.vars.id }}">
			<div class="accordion-body">
				{{ form_row(form.content) }}
			</div>
		</div>
	</div>
</div>
<div class="col-12">
    <div class="d-flex justify-content-end gap-2">
        {{ form_row(form.valid) }}
        {{ form_row(form.archived) }}
    </div>
</div>

{{ form_rest(form) }}