{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/colorpicker/coloris.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/color.css') }}">
{% endblock %}

{{ form_start(form) }}
    <div class="row">
        <div class="col-md-8 pb-3">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Identité du site</h2>
                </div>
                <div class="card-body">
                    <p class="text-muted">
                        Après avoir sauvegardé, si vous constatez que les modifications n'ont pas été prises en compte, 
                        videz le cache du navigateur.
                    </p>
                    {{ form_row(form.WIKI_NAME) }}
                    {{ form_row(form.WIKI_DESCRIPTION) }}
                    <div class="mb-3">
                        {{ form_label(form.bannerFile) }}
                        {{ form_widget(form.bannerFile) }}
                        {{ form_help(form.bannerFile) }}
                        {% if bannerFile %}
                            {% set path = asset('img/'~bannerFile) %}
                            <img src="{{ path }}" alt="Favicon" class="img-fluid mt-1" data-bs-toggle="tooltip" title="{{bannerFile}}">    
                            <p><a href="{{ path }}" download>Télécharger</a></p>
                        {% endif %}
                        {{ form_errors(form.bannerFile) }}
                    </div>
                    {{ form_row(form.BACKGROUND_COLOR) }}
                    <div class="mb-3">
                        {{ form_label(form.faviconFile) }}
                        {{ form_widget(form.faviconFile) }}
                        {{ form_help(form.faviconFile) }}
                        {% if faviconFile %}
                            {% set path = asset('img/'~faviconFile) %}
                            <img src="{{ path }}" alt="Favicon" class="img-fluid mt-1" data-bs-toggle="tooltip" title="{{faviconFile}}">    
                            <p><a href="{{ path }}" download>Télécharger</a></p>
                        {% endif %}
                        {{ form_errors(form.faviconFile) }}
                    </div>
                </div> 
            </div>
            <div class="card border-top-primary mt-3">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Configurer le SMTP pour l'envoi d'email</h2>
                </div>
                <div class="card-body">
                    <p>
                        Pour que la réinitialisation du mot de passe et l'activation du compte fonctionnent, il est nécessaire de remplir 
                        tous les champs ci-dessous.
                    </p>
                    <h3 class="h5 border-bottom">Email de l'administrateur</h3>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.CONTACT_NAME) }}</div>
                        <div class="col-md-6">{{ form_row(form.CONTACT_EMAIL) }}</div>
                    </div>
                    <h3 class="h5 border-bottom">Service SMTP</h3>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.SMTP_USER) }}</div>
                        <div class="col-md-6">
                            {{ form_label(form.SMTP_PASSWORD) }}
                            <div class="input-group mb-3">
                                {{ form_widget(form.SMTP_PASSWORD) }}
                                <span class="input-group-text" id="password-second" role="button" onclick="togglePassword('advanced_settings_SMTP_PASSWORD')">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                            {{ form_errors(form.SMTP_PASSWORD) }}
                        </div>
                        <div class="col-md-8">{{ form_row(form.SMTP_HOST) }}</div>
                        <div class="col-md-4">{{ form_row(form.SMTP_PORT) }}</div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-top-primary">
                <div class="card-header">
                    <h2 class="card-title h5 mb-0">Configuration du site</h2>
                </div>
                <div class="card-body">
                    <h3 class="h5 border-bottom">Environnement</h3>
                    {{ form_row(form.APP_ENV) }}
                    <h3 class="h5 border-bottom">Options des utilisateurs</h3>
                    {{ form_row(form.ENABLE_REGISTRATION) }}
                    {{ form_row(form.ENABLE_CONTACT) }}
                    <h3 class="h5 border-bottom">Pagination et affichage</h3>
                    {{ form_row(form.PER_PAGE_EVEN_COLUMNS) }}
                    {{ form_row(form.PER_PAGE_ODD_COLUMNS) }}

                    <div class="mb-3">
                        {{ form_label(form.DATE_FORMAT) }}
                        {{ form_widget(form.DATE_FORMAT) }}
                        <p class="form-text mb-0 help-text">
                            La syntaxe qui est utilisée est identique à la fonction 
                            «&nbsp;<a href="https://secure.php.net/manual/function.date.php">date()</a>&nbsp;» de PHP.
                            Consultez cette <a href="https://www.php.net/manual/fr/datetime.format.php">liste de formats</a> pour savoir comment remplir ce champ.
                        </p>
                        {{ form_errors(form.DATE_FORMAT) }}
                    </div>
                    {{ form_rest(form) }}
                </div> 
            </div>
        </div>

        <div class="col-12 pt-2">
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>
    </div>
{{ form_end(form) }}

{% block javascripts %}
    <script src="{{ asset('assets/colorpicker/coloris.min.js') }}"></script>
    <script>
        Coloris({
            el: '#advanced_settings_BACKGROUND_COLOR',
            swatches: [
                '#212529',
                '#6c757d',
                '#eeeeee',
                '#ecf0f5',
                '#F3FAFE',
                '#fff',
                '#cfe2ff',
                '#48cae4',
                '#3c8dbc',
                '#563d7c',
                '#7952b3',
                '#c29ffa'
            ]
        });
        Coloris.setInstance('#advanced_settings_BACKGROUND_COLOR', { theme: 'polaroid' });
    </script>
{% endblock %}