{% extends 'base.html.twig' %}

{% block title %}Forum | {{ app_name }}{% endblock %}

{% block heading_title %}Espace de discussion{% endblock %}
{% block heading_description %}Bienvenue sur l'espace de discussion de votre encyclopédie{% endblock %}

{% block body %}
    <div class="mt-4 mb-3 px-5">
        <nav class="rounded-3 bg-default text-white mt-2 p-2 forum-navigation" role="navigation" aria-label="Menu principal">
            <ul class="navigation-group">
                <li>
                    <a href="{{ path('app_forum_search') }}" class="text-decoration-none">
                        <i class="fas fa-search" aria-hidden="true"></i> <span class="d-none d-lg-inline ps-0">Recherche</span>
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('admin_app_forum_category_list') }}" class="text-decoration-none">
                            <i class="fa-fw fas fa-cogs" aria-hidden="true"></i> <span class="d-none d-lg-inline ps-0">Administration</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_MODERATOR') %}
                    <li>
                        <a href="{{ path('app_moderation_home') }}" class="text-decoration-none position-relative">
                            <i class="fas fa-gavel fa-fw" aria-hidden="true"></i> <span class="d-none d-lg-inline ps-0">Modération</span>
                            {% set total = report_total() %}
                            {% if total > 0 %}
                                <span class="position-absolute top-0 start-100 translate-middle bg-danger badge rounded-circle py-1 px-2">
                                    {{ total }}
                                    <span class="visually-hidden">rapports</span>
                                </span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            </ul>
            <hr class="navbar-separator">
            <ol class="breadcrumb navigation-group">
                <li class="breadcrumb-item">
                    <a href="{{ path('app_forum_index') }}"><i class="fa-fw fas fa-home me-1"></i> Index du forum</a>
                </li>
                {% block breadcrumb %}{% endblock %}
            </ol>
        </nav>
        <p><small>Nous sommes le {{ "now"|date(date_format) }} </small></p>

        {% block forum_content %}{% endblock %}  
    </div>
{% endblock %}