{% extends 'admin_layout.html.twig' %}

{% block title %}Liste des pages{% endblock %}
{% block activeAdmin %}active show{% endblock %}
{% block activePage %} active {% endblock %}
{% block page_title %}Page{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Page
    </li>
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_app_page_create') }}" class="btn btn-default btn-sm">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        Ajouter
    </a>
{% endblock %}

{% block body %}
    <div class="card border-top-primary">
        <div class="card-body p-1">
            <table class="table data-table mb-0 table-striped">
                <thead>
                    <tr>
                        <th class="table-id">Id</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th data-orderable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                        <tr>
                            <td data-label="Id">
                                {{ page.id }}
                            </td>
                            <td data-label="Titre">
                                <a href="{{ path('admin_app_page_show', {id: page.id}) }}">
                                    {{ page.title }}
                                </a>
                            </td>
                            <td data-label="Description" class="w-50">
                                {{ page.description }}
                            </td>
                            <td data-label="Actions">
                                <div class="btn-group">      
                                    <a href="{{ path('app_page', {slug: page.slug}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Consulter">
                                        <i class="fas fa-book-reader"></i>
                                    </a>        
                                    <a href="{{ path('admin_app_page_show', {id: page.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Afficher">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a href="{{ path('admin_app_page_edit', {id: page.id}) }}" class="btn btn-sm btn-default" data-bs-toggle="tooltip" title="Éditer">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    {% include "Admin/components/_delete_modal.html.twig" with { element: page, path: 'admin_app_page_delete' } %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
